{% extends "products/base.html" %}
{% set page_name = 'Сопоставление товаров' %}
{% block head_form %}
  <div>
    <form class="" id="comparison"  method="post" action="{{ url_for('start_comparison_products') }}"></form>
  </div>
  <button class="btn btn-white" type="submit" form="comparison" name="all_products" value="True">Сопоставить все</button>
  <button class="btn btn-white" type="submit" form="Filter"
    formaction="{{ url_for('start_comparison_products') }}">Сопоставить отфильтрованные</button>
  <button class="btn btn-warning" type="submit" form="comparison"
    formaction="{{ url_for('del_not_confirm_products', page=request.args.get('page')) }}">Удалить неподтвержденные</button>
{% endblock %}

{% block table %}
<form class="" id="confirmProducts" method="post" action="{{ url_for('confirm_product_to_product', page=request.args.get('page')) }}">
  <table class="table text-nowrap">
    <thead class="table-light">
      <tr>
        <th scope="col" class="sticky-table">Название</th>
        {% for shop in other_shops %}
          <th scope="col"><input id="shop-{{ shop.shop_id }}" class="form-check-input me-1"
            type="checkbox" onclick="Check('{{ shop.shop_id }}')">{{ shop.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% set var = namespace(product_count=0, group_count=0, group_name='') %}

        {% for product in products %}
          {% for attribute in product.attributes if attribute.attribute_id == session.get('group_attribute')|int %}
            {% if attribute.text != var.group_name %}
              {% set var.group_count = var.group_count + 1 %}
              {% set var.group_name = attribute.text %}
              <tr>
                <td colspan=1><b>{{ attribute.text }}</b></td>
                {% for shop in other_shops %}
                  <td>
                    <input id="shop-{{ shop.shop_id }}-group-{{ var.group_count }}" class="form-check-input me-1"
                    type="checkbox" onclick="Check('{{ shop.shop_id }}', '{{ var.group_count }}')">
                  </td>
                {% endfor %}
              </tr>
            {% endif %}
          {% endfor %}

          <tr>
            <td class="sticky-table my-product">
              {{ product.mpn }}  {{ product.price|int }}
              <a class="" target="_blank" href="https://climkey.ru?product_id={{ product.product_id }}">
                <i class="icon-xxs" data-feather="external-link"></i>
              </a>
            </td>
            {% for shop in other_shops %}
              <td class="">
                {% if product.other_shop %}
                  {% for other_product in product.other_shop if other_product.shop_id == shop.shop_id %}

                      {% set var.product_count = var.product_count + 1 %}
                      <input class="form-check-input to-check shop-{{ shop.shop_id }} group-{{ var.group_count }}"
                      type="checkbox" name="{{ 'other-product-id-' + var.product_count|string }}"
                      value="{{ other_product.other_product_id }}">

                    <span class="other-product {{ 'text-primary' if not other_product.link_confirmed}}">
                      {{ other_product.name }}</span>

                    {{ other_product.price|int }}
                    <a class="" target="_blank" href="{{ other_product.link }}">
                      <i class="icon-xxs" data-feather="external-link"></i>
                    </a>
                    <br>

                  {% endfor %}
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
    </tbody>
  </table>

  <input type="hidden" name="products-count" value="{{ var.product_count }}">
  <div class="m-3 d-grid gap-2 d-flex justify-content-end to-show hidden-btns visually-hidden">
    <button class="btn rounded-3 btn-primary" type="submit" name="action" value="bind">Привязать</button>
    <button class="btn rounded-3 btn-danger" type="submit" name="action" value="unbind">Отвязать</button>
    <button class="btn rounded-3 btn-secondary" type="button" onclick="changeOptions('cancel')">Отмена</button>
  </div>
</form>

{% endblock %}
{% block page_scripts %}
<script>
// Чекбоксы принятия ссылки
function Check(btn, group='None') {
  // Выбор серии
  if (group !== 'None'){
    var status = document.getElementById(`${'shop-' + btn + '-group-' + group}`).checked;
    var toCheck = document.querySelectorAll(`${'.to-check.shop-' + btn + '.group-' + group}`);
    toCheck.forEach(element => {
      element.checked = status;
    });
    }
  // Выбов всех определенного магазина
  else {
  var status = document.getElementById(`${'shop-' + btn}`).checked;
  var toCheck = document.querySelectorAll(`${'.to-check.shop-' + btn}`);
  toCheck.forEach(element => {
    element.checked = status;
  });
  }
  var Buttons = document.querySelectorAll('.hidden-btns');
    Buttons.forEach(element => {
      element.classList.remove("visually-hidden");
    });
}

// Клик по чекбоксам
document.addEventListener("click", function(e) {
  if (e.target.classList.contains('to-check')) {
  var Buttons = document.querySelector('.hidden-btns');
  if (e.target.checked === true){
    Buttons.classList.remove("visually-hidden");
  };
  }
});

// Выделяем совпадения названий
var all_tr = document.querySelectorAll(".table tbody tr");
    all_tr.forEach(function(tr) {
      var my_name = tr.querySelector('.my-product')
      tr.querySelectorAll('.other-product').forEach(function(other_name) {

        var new_name = "";
      
        for (let i = 0; i < other_name.textContent.length; i++) {
          if (other_name.textContent[i] !== ""){
            var in_name = "";

            for (let j = 0; j < my_name.textContent.length; j++) {
              if (other_name.textContent[i] === my_name.textContent[j]){
                in_name = true;
                break;
              }
            }

            if (in_name === true)
              new_name = new_name+other_name.textContent[i];
            else
              new_name = new_name+`<span class="text-danger fw-bold">`+other_name.textContent[i]+"</span>";
          }
        }
        other_name.innerHTML = new_name;
      });
    });
</script>

{% endblock %}
