:root {
  --font-size-little: 0.8rem;
  --font-family-system: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  --color-primary: #624BFF;
}
html, body {
    height: 100%;
}
.modal-header, .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
    border: none !important;
}
div#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
div#content {
    flex: 1 0 auto;
}
div#footer {
    flex: 0 0 auto;
}
.small_text {
    font-size: .875em;
    font-weight: 300;
    margin-bottom: 0;
}
.input-prefix {
    position: absolute;
    top: 7px;
    left: 8px;
    z-index: 6;
}
.input-prefix + .form-control {
    padding: 0.375rem 1.5rem;
}
.btn-group, .btn-group-vertical {
    padding: 5px;
}
.btn-outline-not_active {
    border: none;
    color: #212529;
}
.btn-group>.btn {
    border-radius: 0.375rem !important;
}
.btn-check:checked+.btn {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
.modal-header {
    border: none;
}
.h7, h7 {
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.silver {
    background: rgb(239, 242, 245);
    border: none;
}
.position-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.text-green {
    color: #16c784;
}
.text-red {
    color: rgb(234, 57, 67);
}
.text-average {
    font-weight: 500;
}
.icon {
    color: rgb(124 124 124);
    margin-right: 5px;
}
.btn-delete {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
    border-bottom-left-radius: var(--bs-border-radius)!important;
}
.table {
    --bs-table-hover-bg: rgb(0 0 0 / 1%);
}
.table-order {
    --bs-table-bg: rgb(0 0 0 / 1%);
}
.cursor-pointer {cursor: pointer;}
.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffca2c;
    --bs-btn-border-color: #ffca2c;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffc107;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
}
.disabled {
    pointer-events: none
}
.hidden {
    display: none;
}

.table-bordered>:not(caption)>*>* {
    border-width: 0;
}
thead > tr {
    border-style: none;
}
.img-asset-min {
    width: 20px;
    height: auto;
    vertical-align: text-bottom;
}
.img-asset {
    width: 40px;
    height: auto;
}
.items-count {
    transform: translate(-110%,-40%)!important;
    --bs-badge-font-size: 0.55em;
}
.none-cursor {
    cursor: default;
}

.fixed-table-body::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}

.fixed-table-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0d6efd;
}

.fixed-table-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #f9f9fd;
}
.table-green {
    --bs-table-bg: #99d59821;
    }
.fixed-height-1, .fixed-table-toolbar {
    height: 70px;
}
.market-cap-rank {
    color: #6c757d87;
}
.big-table {
	overflow: auto;
	position: relative;
}
.big-table table {
    max-width: 100%;
    white-space: nowrap;
}
.nav-bar-links > * {
    margin-bottom: 5px;
}
td.symbol-icon {
    padding-right: 0;
    width: 20px;
}
td.symbol-icon:empty, td.market-cap-rank:empty {
    padding: 0;
    width: 0;
}
.tickers-tab tr:hover {
    background-color: var(--bs-table-hover-bg);
}
.tickers-tab>:not(caption)>* {
    border-width: 0 !important;
}
.float-left.pagination-detail {
    display: none;
}
}
.add-asset-modal .search {
    width: 100%;
}


@media (max-width: 767px){
.xs-mb-3 > div {
    margin-bottom: 20px;
}
}
td.sticky-table {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
    }
.main-tab-checkbox {
    width: 15px;
    padding-right: 0 !important;
    margin: 0;
    vertical-align: middle;
}
.stage {
    box-sizing: border-box;
    height: 32px;
    flex: 1 1 100%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}
.stage-item {
    position: relative;
    overflow: hidden;
    padding: 0 10px;
    width: 100%;
    height: 32px;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: var(--ui-font-weight-semi-bold,600);
    cursor: pointer;
    transition: all 250ms ease;
    background: #dfe3e8;
    display: flex;
    align-items: center;
    color: #525c68;
}
.btn-check:checked+.stage-item {
    background-color: var(--deal-stage-color);
    color: rgb(255, 255, 255);
}
.btn-check:checked+.stage-item.end-good {
    background-color: #56c31e;
}
.btn-check:checked+.stage-item.end-bad {
    background-color: #f14343c9;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
.modal-fullscreen {
    width: calc(100% - 250px);
    float: right;
}
.modal-close-label {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 17px;
    transform: translateX(-100%);
    transition: all 300ms ease;
    min-width: 37px;
    height: 38px;
    margin-bottom: 10px;
    background: #5340d9;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: inset -6px 0 8px -10px rgba(0,0,0,0.95);
    z-index: 1;
    cursor: pointer;
    justify-content: center;
}
.modal-close-label .btn-close {
    width: 100%;
}
.bootstrap-select.stage-filter {
    border: 1px solid rgb(82 92 105 / 31%);
    border-radius: 5px;
}
.deal-stage-line {
    display: block;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--deal-stage-color);
}
.crm-kanban-deal-title {
    color: #333;
    font-size: 0.9rem;
    margin: 0 0 4px 0;
    font-weight: 500;
}
.crm-kanban-deal-price {
    color: #333;
    font-size: 0.9rem;
}
.crm-kanban-deal-connect {
    position: absolute;
    top: 5px;
    right: 0;
    opacity: 1;
    -webkit-transition: .6s;
    transition: .6s;
    -webkit-transition-delay: 0;
    transition-delay: 0;
    z-index: 9;
    text-align: center;
    color: #4e3ccc;
}
.crm-kanban-deal-contact {
    clear: both;
    display: block;
    cursor: pointer;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    transition: .1s;
    margin: 5px;
}
.crm-kanban-deal-contact.disabled {
    opacity: 15%;
}
.crm-kanban-deal-date-add {
    display: flex;
    align-items: center;
    position: absolute;
    right: 7px;
    bottom: 7px;
    font: 500 var(--font-size-little) var(--font-family-system);
    color: #959ca4;
}
.deal-info-contact {
    font-size: var(--font-size-little);
    display: flex;
    margin: 4px 0 0;
    color: #a8acb3;
    white-space: nowrap;
    font: 500 var(--font-size-little) var(--font-family-system);
}
.deal-info-block-title {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin-bottom: 5px;
    color: #a3a9b1;
    font: var(--font-size-little) var(--font-family-system);
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.deal-info-edit-link {
    color: #212B36;
    transition: 0.5s;
    cursor: pointer;
}
.deal-info-edit-link:hover {
    color: var(--color-primary);
}
.crm-editor-section {
    background-color: #f9fafb;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.04);
    border-radius: 0.5rem;
    padding: 0 1.25rem;
}
.crm-editor-section-header:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}
.crm-editor-section-header {
    padding: 0.625rem 0;
    margin-bottom: 0;
}
.crm-editor-section-header-text {
    color: #525c69;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.75rem;
}
.crm-editor-section-header-text.accordion::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23637381'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}
.crm-editor-section-body {
    flex: 1 1 auto;
    padding: 1.25rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.deal-info-client {
    padding: 1rem;
    border: 1px solid #e9ecf1;
    border-radius: 0.5rem;
}
.sticky-bottom {
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    transform: translateY(130%);
    transition: all 300ms ease;
    box-sizing: border-box;
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,.05);
    text-align: center;
    z-index: 10;
  }
.sticky-bottom.active {
    transform: translateY(0);
  }
.sticky-bottom-box {
  position: relative;
}
.btn-salato {
    background: #bbed21;
    border-color: #bbed21;
    color: #535c69;
}
.btn-salato:hover {
    background: #d2f95f;
    border-color: #d2f95f;
}
.btn-salato:active {
    background: #b2e232;
    border-color: #b2e232;
}
.btn-salato:focus {
    box-shadow: none;
}
.btn-transparent:hover {
    color: #63738147;
}
.btn-transparent:active {
    color: #3c3c3c;
}
.btn-transparent:focus {
    box-shadow: none;
}
.pb-80 {
    padding-bottom: 80px;
}
.select-new-container {
    border-top: 1px solid #e6e8ea;
    padding: 17px 22px;
    transition: background .3s;
    cursor: pointer;
}
.select-new-name {
    margin-bottom: 0;
    font-size: 15px;
    color: #333;
}
.select-new-text {
    color: #80868e;
    margin-top: 15px;
    position: relative;
    padding: 0 0 0 31px;
    font: 14px/24cm var(--ui-font-family-helvetica));
}
.select-new-text:before {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%232FC6F6%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M13%2011h4v2h-4v4h-2v-4H7v-2h4V7h2v4z%22%20opacity%3D%22.9%22/%3E%3C/g%3E%3C/svg%3E);
    background-repeat: no-repeat;
}
li.no-results:has(.select-new-container) {
    overflow: hidden;
    padding: 0;
    background: rgba(47,198,246,.09);
    margin: 0;
}
input.deal-info-title-input {
    border: none;
    background: none;
}
#workers {
    display: flex;
    flex-direction: column;
}
.worker {
    min-height: 30px;
    margin: 10px;
    border: 1px solid #DFE3E8 !important;
    border-radius: 5px;
    padding: 15px;
    display: flex;
}
.worker-days {
    width: 100%;
}
.worker-day {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0.25rem;
    border: 1px solid #DFE3E8;
    cursor: pointer;
}
.deal-info-edit-link-employments {
    display: grid;
    color: #212B36;
    cursor: pointer;
}
