{% extends "base.html" %}
{% block title %}  {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<form class="" id="Movements" method="post" action="{{ url_for('.movements_action', movement_type=movement_type) }}">
  <!-- Container fluid -->
  <div class="container-fluid px-6 d-grid gap-3 mt-3">

    {% include 'stock/header.html' %}

    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <!-- Page header -->
        <div>
          <div class="d-flex align-items-center">
            <div class="mb-2 mb-lg-0">
              <h3 class="mb-0">
                {% if movement_type == 'coming' %}
                  Документы прихода
                {% elif movement_type == 'moving' %}
                  Документы перемещения
                {% endif %}
              </h3>
            </div>
            <div class="ms-auto d-flex gap-2">
              <a class="btn btn-primary show-movement" href="#">Добавить</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- row  -->
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        {% if not movements %}
          <div class="card h-100">
          {% include 'partials/nothing.html' %}
          </div>
        {% else %}

        <div class="card h-100">

          <!-- table  -->
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead class="">
                <tr>
                  <th class="main-tab-checkbox">
                    <input class="form-check-input check-all" type="checkbox">
                  </th>
                  <th scope="col">Название</th>
                  <th scope="col">Статус</th>
                  <th scope="col">Склады</th>
                </tr>
              </thead>
              <tbody>

                {% for movement in movements %}
                  <tr data-movement-id="{{ movement.movement_id }}">
                    <td class="main-tab-checkbox">
                      <input class="form-check-input to-check" type="checkbox"
                                                               value="{{ movement.movement_id }}">
                    </td>
                    <td class="">
                      <a href="#" class="text-inherit show-movement">
                        {{ movement.name }}
                      </a>
                      <br>
                      <span class="fs-6">от {{ movement.date.strftime('%d.%m.%Y') }}</span>
                    </td>
                    <td>
                      {% if movement.posted %}
                        <span class="badge bg-success text-uppercase">Проведен</span> 
                      {% elif movement.posted == False %}
                        <span class="badge bg-warning text-dark text-uppercase">Отменен</span>
                      {% else %}
                        <span class="badge bg-secondary text-uppercase">Черновик</span>
                      {% endif %}
                    </td>
                    <td>
                      {% set stocks = movement.stocks|to_json %}
                      {% for stock in stocks %}
                        {{ stock }}
                        {% if loop.index < stocks|length %}
                        , 
                        {% endif %}
                      {% endfor %}
                      {{ ids }}

                    </td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>

            <input type="hidden" name="movements-ids">

          </div>
        </div>
      </div>
      {% endif %}
    </div>
    
  </div>

  <!-- Actions buttons -->
  <div class="sticky-bottom actions">
    <div class="col-12">
      <div class="bg-white h-100 d-flex gap-2 align-items-center">
        <div class="m-1  ms-5">
          <span class="">Отмеченно: </span>
          <span class="checks-count"></span>
          <a href="" class="link-secondary ms-3 decheck-all"><i data-feather="x" class="nav-icon icon-xs"></i></a>
        </div>
        <div class="vr my-3"></div>
        <div class="my-1">
          <button class="btn btn-sm rounded-3 action-confirmation" type="button" data-action="delete" data-title="Удалить документы?">
            <i data-feather="trash" class="icon-xs"></i>
            Удалить
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

{% include 'stock/modals.html' %}

<script>
  // Open Modal Movement
  $('.show-movement').on("click", function () {
    var url = "{{ url_for('.movement_info', movement_type=movement_type) }}",
      movement_id = $(this).closest("tr").attr('data-movement-id');
    if (movement_id) {
      url += '?movement_id=' + movement_id;
    }
    LoadToModal($('#FullScreenModal'), url);
  })
</script>
{% endblock %}
