<!-- Products  -->
<div id="tabProducts" class="card h-100">
  <div class="table-responsive">

    <table class="table text-nowrap">
      <thead class="">
        <tr>
          {% if not movement or not movement.posted %}
          <th scope="col">
            <input class="form-check-input check-all" type="checkbox">
          </th>

          {% endif %}
          <th scope="col" class="col-4">Товар</th>
          <th scope="col" class="col-1 {{ 'visually-hidden' if not movement_type == 'coming' }}">Закупочная цена</th>
          <th scope="col" class="col-1">Количество</th>
          <th scope="col" class="col-2">Склад</th>
          {% if not movement or not movement.posted %}
          <th scope="col" class="col-1">На складе</th>
          {% endif %}
          {% if movement_type == 'moving' %}
          <th scope="col" class="col-2">Получатель</th>
          {% if not movement or not movement.posted %}
          <th scope="col" class="col-1">У получателя</th>
          {% endif %}
          {% endif %}
          <th scope="col">Сумма</th>
        </tr>
      </thead>
      <tbody>


        {% set var = namespace(all_sum=0, count=0) %}

        {% set movement_products = movement.products|to_json %}

        {% if not movement.posted and not movement_products %}
        {% set movement_products = [{}] %}
        {% endif %}

        {% for movement_product in movement_products %}
        {% set var.count = var.count + 1 %}

        <tr class="product">

          {% if not movement or not movement.posted %}
          <td class="main-tab-checkbox">
            <input class="form-check-input to-check" type="checkbox" value="{{ movement_product.product_id }}">
          </td>
          {% endif %}

          <td class="col-4">
            <span class="line-count">{{ var.count }}.</span>

            {% if movement and movement.posted %}
            <span>{{ movement_product.product_name }}</span>
            {% else %}
            <select class="product-select" data-width="100%" data-container="#tabProducts" data-size="10"
              data-live-search="true" data-none-selected-text="" data-none-results-text="Не найдено {0}">
              <option value="">-- Выберите товар --</option>
              {% for product in products %}
              <option value="{{ product.product_id }}" data-product-unit="{{ product.unit_class.description.unit }}"
                data-product-cost="{{ product.cost|smart_int }}" {{ 'selected' if
                product.product_id==movement_product.product_id }}>
                {{ product.description.name }}</option>
              {% endfor %}
            </select>
            {% endif %}
          </td>
          <td class="col-xxl-2 col-xl-3 {{ 'visually-hidden' if not movement_type == 'coming' }}">
            {% if movement and movement.posted %}
            <span>{{ movement_product.cost|money }} ₽</span>
            {% else %}
            <div class="input-group">
              <input type="number" step="any" class="form-control cost"
                value="{{ movement_product.cost if movement_product.cost }}" placeholder="0">
              <span class="input-group-text">₽</span>
            </div>
            {% endif %}
          </td>
          <td class="col-1">
            {% if movement and movement.posted %}
            <span>{{ movement_product.quantity|smart_int }} {{ movement_product.unit }}</span>
            {% else %}
            <div class="input-group">
              <input type="number" step="any" class="form-control quantity"
                value="{{ movement_product.quantity|smart_int if movement_product.quantity }}" placeholder="0">
              <span class="input-group-text quantity">{{ movement_product.unit if movement_product else 'шт'}}</span>
            </div>
            {% endif %}
          </td>
          <td class="col-2">
            {% if movement and movement.posted %}
            <span>{{ movement_product.stock_name }}</span>
            {% else %}
            <select class="stock-select" data-width="100%" data-live-search="true" data-container="#tabProducts"
              data-none-selected-text="" data-none-results-text="Не найдено {0}">
              {% for stock in stocks %}
              <option value="{{ stock.stock_id }}" {{ 'selected' if stock.stock_id==movement_product.stock_id }}>
                {{ stock.name }}</option>
              {% endfor %}
            </select>
            {% endif %}
          </td>
          {% if not movement or not movement.posted %}
          <td class="align-middle">
            <span class="available"></span>
          </td>
          {% endif %}
          {% if movement_type == 'moving' %}
          <td class="col-2">
            {% if movement and movement.posted %}
            <span>{{ movement_product.stock2_name }}</span>
            {% else %}
            <select class="stock2-select" data-width="100%" data-live-search="true" data-none-selected-text=""
              data-none-results-text="Не найдено {0}">
              {% for stock in stocks %}
              <option value="{{ stock.stock_id }}" {{ 'selected' if stock.stock_id==movement_product.stock2_id }}>
                {{ stock.name }}</option>
              {% endfor %}
              {% endif %}
            </select>
          </td>
          {% if not movement or not movement.posted %}
          <td class="align-middle">
            <span class="available2"></span>
          </td>
          {% endif %}
          {% endif %}

          {% set var.all_sum = var.all_sum + ( movement_product.cost * movement_product.quantity) if
          movement_product.cost %}
          <td class="align-middle">
            <span class="sum">{{ (movement_product.cost * movement_product.quantity)|money if
              movement_product.cost else 0 }}</span>
            <span class="">₽</span>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

  {% if not movement or not movement.posted %}
  <div class="d-flex">
    <div>
      <div class="m-3 gap-2 justify-content-start">
        <span class="">Отмеченно: </span>
        <span class="checks-count">0 / {{ movement_products|length }}</span>
      </div>
      <div class="m-3 gap-2 d-flex justify-content-start actions">
        <button class="btn rounded-3 delete-product" type="button" disabled>Удалить</button>
      </div>
    </div>
    <div class="m-3 ms-auto buttons">
      {% if not movement or not movement.posted %}
      <button class="btn rounded-3 btn-primary" type="button" onclick="newLine()">Добавить строку</button>
      {% if movement_type == 'coming' %}
      <button class="btn rounded-3 btn-outline-secondary open-modal-product" type="button">Создать товар</button>
      {% endif %}
      <button class="btn rounded-3 " type="button">Отмена</button>
      {% endif %}
    </div>
  </div>
  {% endif %}

</div>

<div class="card h-100">
  <div class="d-flex justify-content-end align-items-center m-3">
    <table class="col-3">
      <tbody>
        <tr class="">
          <td class="">
            <span class="fs-4 fw-bolder">Общая сумма:</span>
          </td>
          <td class="">
            <span id="all_sum" class="fs-4 fw-bolder">{{ var.all_sum|money }} ₽</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% include 'stock/movement_scripts.html' %}
