<script>

  // Check All
  $('body').on("change", '.check-all', function () {
    var $table = $(this).closest('table');
    $table.find('.to-check').prop('checked', $(this).is(':checked'));
    $table.find('.to-check:checkbox').trigger('change');
  })

  // Show buttons
  // $('body').on("change", ':checkbox', function () {
  //   var checked_count = $('.to-check:checked').length;
  //   if (checked_count > 0) {
  //     $('.sticky-bottom.actions').addClass('active');
  //   } else {
  //     $('.sticky-bottom.actions').removeClass('active');
  //   }
  //   CheckCount(this);
  // })

  // Check Count
  $('body').on("change", '.to-check:checkbox', function () {
    var $table = $(this).closest('table'),
      $modal = $table.closest('.modal'),
      checked_count = $table.find('.to-check:checked').length,
      all_count = $table.find('.to-check').length;

    if ($modal.length) {
      var $box_actions = $table.closest('div[id]');

      var $btns = $box_actions.find('.actions .btn')
      $btns.prop('disabled', !checked_count > 0);
    } else {
      var $box_actions = $('.sticky-bottom.actions');
      if (checked_count > 0) {
        $box_actions.addClass('active');
      } else {
        $box_actions.removeClass('active');
      }
    }
    $box_actions.find('.checks-count').text(checked_count + ' / ' + all_count);
    $($table).find('.check-all').prop('checked', checked_count > 0);
  })

  // Actions
  $('body').on("click", '.action-confirmation', function () {
    var $modal = $('#ModalConfirmation');
    var $btn = $modal.find('.action');
    $modal.find('.modal-title').text($(this).attr('data-title'));
    $btn.attr('data-action', $(this).attr('data-action'));

    var $form = $(this).closest('form');
    $btn.attr('data-form', '#' + $form.attr('id'));

    $modal.modal('show');
  })

  $('body').on("click", '.action', function () {
    var $btn = $(this),
      checked = [];
    if ($btn.attr('data-form')) {
      var $form = $($btn.attr('data-form'));
    } else {
      var $form = $btn.closest('form');
    }

    $form.find('.to-check:checked').each(function () {
      checked.push($(this).val());
    });
    var data = {
      action: $btn.attr('data-action'),
      ids: checked
    }
    SendingData(data, $btn, $form)
  })

  function SendingData(data, $btn, $form) {
    $.ajax({
      type: "POST",
      url: $form.attr('action'),
      data: JSON.stringify(data),
      contentType: 'application/json; charset=utf-8',
      //dataType: 'json',
      success: PageUpdate($btn)
    })//.done(PageUpdate($btn));
  };

  function PageUpdate($btn) {
    var apply = $btn.hasClass('apply');
    if (apply) {
      $btn.closest('.modal-body').load(current_url);
    } else {
      $('.modal.show').each(function () {
        $(this).modal('hide');
      })
      setTimeout("location.reload()", 1000);
    }
  }

  // Modals

  // Open Modal Movement
  $('.show-movement').on("click", function () {
    var $modal = $('#FullScreenModal');

    var url = "{{ url_for('.movement_info', movement_type=movement_type) }}";
    var movement_id = $(this).closest("tr").attr('data-movement-id');
    if (movement_id) {
      url += '?movement_id=' + movement_id;
    }
    $modal.find('.modal-body').load(url);
    $modal.modal('toggle')
  })

  // Open Full Screen Modal
  $('.modal').on('shown.bs.modal', function () {
    var $modal = $(this);
    if (!$modal.find('.modal-fullscreen').length) {
      return false;
    }
    $modal.css('height', $(window).height())
    var $active_modals = $('body').find('.modal.show');
    if ($active_modals.length === 1) {
      return false;
    }
    var $modal = $(this);
    var z_index = $modal.css('z-index');

    $active_modals.each(function () {
      if ($(this).index() !== $modal.index()) {
        var this_z_index = parseInt($(this).css('z-index'));
        if (this_z_index > z_index) {
          z_index = this_z_index;
        }
        var $close_btn = $(this).find('.modal-close-label')
        $close_btn.css('top', '+=60')
        $close_btn.css('opacity', '50%')
      }

    });
    $modal.css('z-index', z_index + 1)
  })

  // Close Full Screen Modal
  $('.modal').on('hide.bs.modal', function () {
    var $modal = $(this);

    if (!$modal.find('.modal-fullscreen').length) {
      return true;
    }
    if (!$('.modal.show').length > 1) {
      return false;
    }
    var z_index = parseInt($modal.css('z-index'));
    var max_z_index = 0;

    $('body').find('.modal.show').each(function () {
      var this_z_index = parseInt($(this).css('z-index'));
      if (this_z_index !== z_index && this_z_index > max_z_index) {
        max_z_index = this_z_index;
      }
    });

    $('body').find('.modal.show').each(function () {
      if ($(this).index() !== $modal.index()) {
        var $close_btn = $(this).find('.modal-close-label')
        $close_btn.css('top', '-=60')
      }

      var this_z_index = parseInt($(this).css('z-index'));
      if (this_z_index == max_z_index) {
        $close_btn.css('opacity', '1')
      }
    });
  })

  // Placeholder
  function Placeholder(action) {
    var $tab = $('#tabProducts')
    if (action === 'start') {
      // lines
      $tab.find('tr.product').addClass('visually-hidden show-after-placeholder');

      var count_tr = $tab.find('tr.product').length;
      var count_td = $tab.find('tr.product').eq(-1).find('td').length;

      var line = '<tr class="placeholder-del">'
      for (let i = 0; i < count_td; i++) {
        line += '<td class="placeholder-glow"><span class="placeholder placeholder-glow col-12 placeholder-lg"></span></td>'
      }
      line += '</tr>'

      for (let i = 0; i < count_tr; i++) {
        $tab.find('tbody').append(line)
      }

      // buttons
      var bts = ''
      $('#movementInfo').find('.btn').each(function () {
        $(this).parent().append('<a class="me-1 disabled placeholder placeholder-del ' + $(this).attr('class') + '" style="width: ' + $(this).width() + 'px;"></a>')
        $(this).addClass('visually-hidden show-after-placeholder');
      });


    } else {
      $('#movementInfo').find('.visually-hidden.show-after-placeholder').removeClass('visually-hidden show-after-placeholder');
      $('#movementInfo').find('.placeholder-del').remove();
    }
  }
</script>
