<script>

  var stocks = {}
  var default_stock = {{stocks[0].stock_id}}

  // Start
  async function MovementStart() {
    $('tr.product').find('select').selectpicker();
    await getProductsInStocks();
    $('#tabProducts').find('tr.product').each(function () {
      ProductAvailable(this)
    });
  }

  {% if not movement or not movement.posted %}
  MovementStart();
  {% endif %}

  // Products in stocks
  function getProductsInStocks() {
    return fetch("{{url_for('.json_products_in_stocks') }}", {
      method: 'GET',
      headers: {
        "Content-type": "application/json; charset=UTF-8"
      }
    })
      .then(res => res.json())
      .then(data => window.stocks = data)
  }

  function ProductAvailable(tr) {
    available = 0;
    $product_select = $(tr).find('select.product-select').find(':selected');
    var product_id = $product_select.val();
    if (product_id) {
      unit = $product_select.attr('data-product-unit');
      $stock_select = $(tr).find('select.stock-select');
      stock_id = $($stock_select).find(':selected').val();

      if (stocks[product_id]) {
        for (let i = 0; i < (stocks[product_id]).length; i++) {
          if (+stocks[product_id][i].stock_id === +stock_id) {
            available = stocks[product_id][i].quantity;
          }
        }
      }
      $(tr).find('.available').text(available + ' ' + unit);
    }
  }

  // Change Trigers
  $('#tabProducts').on("change", 'select.product-select', function () {
    var $tr = $(this).closest('tr')
    var $option = $(this).find(':selected');
    var unit = $option.attr('data-product-unit')
    var cost = $option.attr('data-product-cost')
    $tr.find('.cost').val(cost)
    $tr.find('.input-group-text.quantity').text(unit)

    UpdateSum($tr)
    ProductAvailable($tr)
  })

  $('#tabProducts').on("change", 'select.stock-select', function () {
    ProductAvailable($(this).closest('tr'))
  })

  $('#tabProducts').on("change", 'input.quantity', function () {
    UpdateSum($(this).closest('tr'))
  })

  $('#tabProducts').on("change", 'input.cost', function () {
    UpdateSum($(this).closest('tr'))
  })

  // Fields
  function newLine($new_line = '') {
    if ($new_line === '') {
      var $line = $('tr.product').eq(-1);
      $line.find('select').selectpicker('destroy');
      var $new_line = $($line).clone();
      $new_line.appendTo($('#tabProducts').find('tbody'));
      $line.find('select').selectpicker();
    } else {
      $new_line.find('select').selectpicker('destroy');
    }

    var count = $('tr.product').length;
    $new_line.find('input').val('');
    $new_line.find('.to-check').prop('checked', false).trigger('change');
    $new_line.find('.line-count').text(count + '.');
    $new_line.find('.input-group-text.quantity').text(' шт');
    $new_line.find('.available').text('');
    $new_line.find('.available2').text('');
    $new_line.find('.sum').text('0');
    $new_line.find('select.product-select').val('');
    $new_line.find('select.stock-select').val(default_stock);

    $new_line.find('select').selectpicker();
    $new_line.find('select.product-select').selectpicker('toggle');
    $('.to-check:checkbox').trigger('change');
  }


  function UpdateSum(tr) {
    var quantity = $(tr).find('.quantity').val()
    var cost = $(tr).find('.cost').val()
    var sum = cost * quantity;
    $(tr).find('.sum').text(ToMoney(sum))
    UpdateAllSum($(tr).closest('div[id]'))
  }

  function UpdateAllSum(tab) {
    var all_sum = 0
    $(tab).find('.sum').each(function () {
      all_sum += FromMoney(this.innerHTML)
    });
    all_sum = ToMoney(all_sum);
    $(tab).parent().find('#all_sum').text(all_sum + ' ₽')
  }

  function ToMoney(number) {
    if (parseInt(number) === number) {number = parseInt(number)}
    return Intl.NumberFormat("ru", {currency: "RUB"}).format(number);
  }

  function FromMoney(string) {
    string = string.replace('&nbsp;', '')
    string = string.replace(' ', '')
    string = string.replace(',', '.')
    return parseFloat(string)
  }

  {% if movement_type == 'coming' %}


  // Products Data To Server
  $('#movementInfo').on("click", '.action-btns .btn', function () {
    var $btn = $(this),
      $form = $btn.closest('form'),
      products = [],
      stocks = [];

    $form.find('tr.product').each(function () {
      var $this = $(this),
        product_id = +$this.find('select.product-select').val();
      if (product_id) {
        var item = {
          product_id: product_id,
          cost: $this.find('.cost').val() ? parseFloat($this.find('.cost').val()) : 0,
          quantity: $this.find('.quantity').val() ? parseFloat($this.find('.quantity').val()) : 0,
          unit: $this.find('select.product-select').find(':selected').attr('data-product-unit'),
          stock_id: +$this.find('select.stock-select').val()
        }
        products.push(item);
      }
      var stock_name = $this.find('select.stock-select option:selected').text().trim();
      if (!stocks.includes(stock_name)) {
        stocks.push(stock_name);
      }
    });
    var data = {
      action: $(this).attr('data-action'),
      info: $form.serialize(),
      stocks: stocks,
      products: products
    }
    SendingData(data, $btn, $form)
  })

  $('.open-modal-product').on("click", function () {
    var $modal = $('#ProductInfoModal');
    $modal.find('.modal-body').load("{{ url_for('stock.product_info') }}");
    $modal.modal('toggle')
  })


  // Get Products to select
  var products = [];

  async function UpdateProductsSelect() {
    Placeholder('start')
    await getProducts();

    $('body').find('select.product-select').each(function () {
      var $select = $(this);
      var id = +$select.val()
      $select.empty();
      $select.selectpicker('destroy');

      for (let i = 0; i < products.length; i++) {
        var newOption = new Option(`${products[i].name}`, `${products[i].id}`);
        newOption.setAttribute('data-product-cost', products[i].cost);
        newOption.setAttribute('data-product-unit', products[i].unit);
        if (+products[i].id === id) {
          $(newOption).prop('selected', true);
        }
        $select.append(newOption);
      }
      $select.selectpicker();
    });
    Placeholder('end')
  }

  function getProducts() {
    return fetch("{{ url_for('stock.json_all_products') }}", {
      method: 'GET',
      headers: {
        "Content-type": "application/json; charset=UTF-8"
      }
    })
      .then(res => res.json())
      .then(data => window.products = data)
  }

  // For movement type moving
  {% elif movement_type == 'moving' %}
  $('#tabProducts').find('tr.product').each(function () {
    ProductAvailable2(this)
  });

  function ProductAvailable2(tr) {
    var available = 0,
      $tr = $(tr),
      $option = $tr.find('select.product-select').find(':selected'),
      product_id = $option.val()
    if (product_id) {
      var unit = $option.attr('data-product-unit'),
        $select = $tr.find('select.stock2-select'),
        stock_id = $select.find(':selected').val();

      if (stocks[product_id]) {
        for (let i = 0; i < (stocks[product_id]).length; i++) {
          if (+stocks[product_id][i].stock_id === +stock_id) {
            available = stocks[product_id][i].quantity;
          }
        }
      }
      $tr.find('.available2').text(available + ' ' + unit);
    }
  }

  function ChangeStock2(tr) {
    var $tr = $(tr),
      $stock1 = $tr.find('select.stock-select'),
      $stock2 = $tr.find('select.stock2-select'),
      stock_id = $stock1.find(':selected').val();

    $stock1.find('option').each(function () {
      if ($(this).val() !== stock_id) {
        $stock2.val($(this).val())
      }
    });

    $stock2.selectpicker('destroy');
    $stock2.selectpicker();
  }

  $('#tabProducts').on("change", 'select.product-select', function () {
    var tr = $(this).closest('tr')
    ChangeStock2(tr)
    ProductAvailable2(tr)
  })
  $('#tabProducts').on("change", 'select.stock2-select', function () {
    ProductAvailable2($(this).closest('tr'))
  })
  $('#tabProducts').on("change", 'select.stock-select', function () {
    ChangeStock2($(this).closest('tr'))
  })

  $('#tabProducts').bind('DOMSubtreeModified', '.available', function () {
    ProductAvailable2($(this).closest('tr'))
  })

  // Products Data To Server
  $('#movementInfo').on("click", '.action-btns .btn', function () {
    var $btn = $(this),
      $form = $btn.closest('form'),
      products = [],
      stocks = [];

    $form.find('tr.product').each(function () {
      var $this = $(this),
        product_id = +$this.find('select.product-select').val();
      if (product_id) {
        var item = {
          product_id: product_id,
          cost: $this.find('.cost').val() ? parseFloat($this.find('.cost').val()) : 0,
          quantity: $this.find('.quantity').val() ? parseFloat($this.find('.quantity').val()) : 0,
          unit: $this.find('select.product-select').find(':selected').attr('data-product-unit'),
          stock_id: +$this.find('select.stock-select').val(),
          stock2_id: +$this.find('select.stock2-select').val()
        }
        products.push(item);
      }
      var stock_name = $this.find('select.stock-select option:selected').text().trim();
      if (!stocks.includes(stock_name)) {
        stocks.push(stock_name);
      }
      var stock2_name = $this.find('select.stock2-select option:selected').text().trim();
      if (!stocks.includes(stock2_name)) {
        stocks.push(stock2_name);
      }
    });
    var data = {
      action: $(this).attr('data-action'),
      name: $form.find('[name=name]').val(),
      stocks: stocks,
      products: products
    }
    SendingData(data, $btn, $form)

  })

  {% endif %}


  // Delete line
  $('.delete-product').on("click", function () {
    var $box = $(this).closest('div[id]');

    $box.find('.to-check:checked').each(function () {
      var $tr = $(this).closest('tr');
      if ($box.find('tr.product').length > 1) {
        $tr.remove()
      } else {
        newLine($tr)
      }
    });
    $box.find('.to-check:checkbox').trigger('change');
    LineCount($box);
  })

  // Line Count
  function LineCount($tab) {
    var count = 1;
    $tab.find('tr.product').each(function () {
      $(this).find('.line-count').text(count + '.');
      count += 1;
    });
  }

</script>
