<script>

  $('#tabProducts').find('tr.product').each(function () {
    UpdateProductSelect($(this));
  });

  function UpdateProductSelect($tr) {
    var productSelect = $tr.find('select.product-select');

    productSelect.select2({
      theme: "bootstrap-5",
      width: '300px',
      dropdownParent: $tr.closest('div[id]'),
      dropdownAutoWidth: true,
      selectionCssClass: productSelect.data('class'),
      ajax: {
        delay: 250,
        url: productSelect.data('url'),
        dataType: 'json',
        data: function (params) {
          var query = {
            search: params.term,
            page: params.page || 1
          }
          return query;
        }
      }
    }).on('select change', function (evt, config) {
      var data = $(this).select2('data')[0],
        $productSelected = $(this).find(':selected'),
        cost = data.cost || $productSelected.attr('data-cost') || 0,
        unit = data.unit || $productSelected.attr('data-unit') || '',
        $tr = $(this).closest('tr');
      if (data != undefined) {
        console.log(data); // выведет в консоль дополнительные данные
        $productSelected.attr('data-unit', data.unit);
        $productSelected.attr('data-cost', data.cost);
        $tr.find('.cost').val(cost).trigger('change');
        $tr.find('.input-group-text.quantity').text(unit);
      }
      $tr.find('select.stock-select').empty();
      UpdateStockSelect($tr);

      {% if movement_type == 'moving' %}
      UpdateStock2Select($tr);
      {% endif %}

    });
    UpdateStockSelect($tr);

    {% if movement_type == 'moving' %}
    UpdateStock2Select($tr);
    {% endif %}
  }

  function UpdateStockSelect($tr) {
    var $stockSelect = $tr.find('select.stock-select'),
      prevStockId = $tr.prev().find('select.stock-select').val(),
      $productSelected = $tr.find('select.product-select :selected'),
      product_id = $productSelected.val();

    $stockSelect.prop("disabled", !product_id);

    $stockSelect.select2({
      theme: "bootstrap-5",
      width: '200px',
      dropdownParent: $tr.closest('div[id]'),
      templateResult: formatStockOption,
      dropdownAutoWidth: true,
      selectionCssClass: $stockSelect.data('class'),
      ajax: {
        delay: 250,
        url: "{{ url_for('.ajax_stocks') }}",
        dataType: 'json',
        data: function (params) {
          var query = {
            search: params.term,
            page: params.page || 1,
            product_id: +product_id
          }
          return query;
        },
      }
    }).on('select change', function (evt, config) {
      var data = $(this).select2('data')[0],
        $tr = $(this).closest('tr');

      var quantity = data.quantity || $stockSelect.find(':selected').attr('data-quantity') || 0;
      $tr.find('.available').text(quantity);

    });

    if (!product_id) {
      return false;
    }

    var url = "{{ url_for('.ajax_stocks_first') }}" + '?product_id=' + product_id;
    if ($stockSelect.val()) {
      url += '&stock_id=' + $stockSelect.val();
    } else if (prevStockId) {
      url += '&stock_id=' + prevStockId;
    }

    $.ajax({
      type: 'GET',
      url: url,
      dataType: 'json'
    }).then(function (data) {
      var option = new Option(data.text, data.id, true, true);
      $(option).attr('data-quantity', data.quantity);
      $stockSelect.empty().append(option).trigger('change');

      $tr.find('.available').text(data.quantity);

      $stockSelect.trigger({
        type: 'select2:select',
        params: {
          data: data
        }
      });
    });
  }


  function formatStockOption(stock) {
    var $stock = $(
      '<span class="text">' + stock.text + '<small class="text-muted">' + stock.quantity + '</small></span>'
    );
    return $stock;
  };

  // Focus Select2 Search
  $(document).on('select2:open', () => {
    document.querySelector('.select2-search__field').focus();
  });


  // New Line
  function newLine($new_line = '') {
    if ($new_line === '') {
      var $line = $('tr.product').eq(-1);

      $line.find('select').each(function () {
        if ($(this).hasClass('select2-hidden-accessible')) {
          $(this).select2('destroy');
        }
      });

      var $new_line = $line.clone();
      $new_line.appendTo($('#tabProducts').find('tbody'));

      UpdateProductSelect($line);
    }

    var count = $('tr.product').length;
    $new_line.find('input').val('');
    $new_line.find('.to-check').prop('checked', false).trigger('change');
    $new_line.find('.line-count').text(count + '.');
    $new_line.find('.input-group-text.quantity').text(' шт');
    $new_line.find('.available').text('');
    $new_line.find('.available2').text('');
    $new_line.find('.sum').text('0');
    $new_line.find('select').empty();

    UpdateProductSelect($new_line)
    $('#tabProducts').find('.table-responsive').animate({scrollLeft: 0}, 0);
    $new_line.find('select.product-select').select2('open');
  }

  // Delete line
  $('.delete-product').on("click", function () {
    var $tab = $(this).closest('div[id]');
    $tab.find('.to-check:checked').each(function () {
      if ($tab.find('tr.product').length > 1) {
        $(this).closest('tr').remove();
      } else {
        newLine($tab, $(this).closest('tr'));
      }
    });
    $tab.find('.to-check:checkbox').trigger('change');
    LineCount($tab);
  })

  // Line Count
  function LineCount($tab) {
    var count = 1;
    $tab.find('tr.product').each(function () {
      $(this).find('.line-count').text(count + '.');
      count += 1;
    });
  }

  function UpdateSum($tr) {
    var quantity = $tr.find('.quantity').val(),
      cost = $tr.find('.cost').val(),
      sum = cost * quantity;
    $tr.find('.sum').text(ToMoney(sum))
    UpdateAllSum($tr.closest('div[id]'))
  }

  function UpdateAllSum($tab) {
    var all_sum = 0;
    $tab.find('.sum').each(function () {
      all_sum += FromMoney($(this).html())
    });
    all_sum = ToMoney(all_sum);
    $tab.parent().find('.all-sum').text(all_sum)
  }

  function ToMoney(number) {
    if (parseInt(number) === number) {number = parseInt(number)}
    return Intl.NumberFormat("ru", {currency: "RUB"}).format(number);
  }

  function FromMoney(string) {
    string = string.replaceAll('&nbsp;', '')
    string = string.replaceAll(' ', '')
    string = string.replace(',', '.')
    return parseFloat(string)
  }

  // Change Trigers
  $('#tabProducts').on('change', 'input.quantity', function () {
    UpdateSum($(this).closest('tr'))
  })

  $('#tabProducts').on("change", 'input.cost', function () {
    UpdateSum($(this).closest('tr'))
  })

  {% if movement_type == 'coming' %}


  // Products Data To Server
  $('#movementInfo').on("click", '.action-btns .btn', function () {
    var $btn = $(this),
      $form = $btn.closest('form'),
      products = [],
      stocks = [];

    $form.find('tr.product').each(function () {
      var $tr = $(this),
        $productSelect = $tr.find('select.product-select'),
        product_id = +$productSelect.val(),
        stock_name = $tr.find('select.stock-select option:selected').text().trim();

      if (product_id) {
        var item = {
          product_id: product_id,
          name: $productSelect.find(':selected').html(),
          cost: +$tr.find('.cost').val() || 0,
          quantity: +$tr.find('.quantity').val() || 0,
          unit: $productSelect.find(':selected').attr('data-unit'),
          stock_id: +$tr.find('select.stock-select').val(),
          stock_name: stock_name
        }
        products.push(item);
      }
      if (!stocks.includes(stock_name)) {
        stocks.push(stock_name);
      }
    });
    var data = {
      action: $(this).attr('data-action'),
      info: $form.serializeArray(),
      stocks: stocks,
      products: products
    }
    SendingData(data, $btn, $form)
  })

  $('.open-modal-product').on("click", function () {
    var $modal = $('#ProductInfoModal');
    $modal.find('.modal-body').load("{{ url_for('stock.product_info') }}");
    $modal.modal('toggle')
  })

  $('.open-modal-select-products').on("click", function () {
    var $modal = $('#SelectProductsModal');
    $modal.find('.modal-body').load("{{ url_for('.set_products_page') }}");
    $modal.modal('toggle')
  })



  // For movement type moving
  {% elif movement_type == 'moving' %}

  function UpdateStock2Select($tr) {
    var $stock2Select = $tr.find('select.stock2-select'),
      prevStock2Id = $tr.prev().find('select.stock2-select').val(),
      $productSelected = $tr.find('select.product-select :selected'),
      product_id = $productSelected.val();

    $stock2Select.prop("disabled", !product_id);

    $stock2Select.select2({
      theme: "bootstrap-5",
      width: '200px',
      dropdownParent: $tr.closest('div[id]'),
      templateResult: formatStockOption,
      dropdownAutoWidth: true,
      selectionCssClass: $stock2Select.data('class'),
      ajax: {
        delay: 250,
        url: "{{ url_for('.ajax_stocks') }}",
        dataType: 'json',
        data: function (params) {
          var query = {
            search: params.term,
            page: params.page || 1,
            product_id: +product_id
          }
          return query;
        },
      }
    }).on('select change', function (evt, config) {
      var data = $(this).select2('data')[0],
        $tr = $(this).closest('tr');

      var quantity = data.quantity || $stock2Select.find(':selected').attr('data-quantity') || 0;
      $tr.find('.available2').text(quantity);

    });

    if (!product_id) {
      return false;
    }

    var url = "{{ url_for('.ajax_stocks_first') }}" + '?product_id=' + product_id;
    if ($stock2Select.val()) {
      url += '&stock_id=' + $stock2Select.val();
    } else if (prevStock2Id) {
      url += '&stock_id=' + prevStock2Id;
    }

    $.ajax({
      type: 'GET',
      url: url,
      dataType: 'json'
    }).then(function (data) {
      var option = new Option(data.text, data.id, true, true);
      $(option).attr('data-quantity', data.quantity);
      $stock2Select.empty().append(option).trigger('change');

      $tr.find('.available2').text(data.quantity);

      $stock2Select.trigger({
        type: 'select2:select',
        params: {
          data: data
        }
      });
    });
  }

  // Products Data To Server
  $('#movementInfo').on("click", '.action-btns .btn', function () {
    var $btn = $(this),
      $form = $btn.closest('form'),
      products = [],
      stocks = [];

    $form.find('tr.product').each(function () {
      var $tr = $(this),
        $productSelect = $tr.find('select.product-select'),
        product_id = +$productSelect.val(),
        stock_name = $tr.find('select.stock-select option:selected').text().trim(),
        stock2_name = $tr.find('select.stock2-select option:selected').text().trim();

      if (product_id) {
        var item = {
          product_id: product_id,
          name: $productSelect.find(':selected').html(),
          cost: +$tr.find('.cost').val() || 0,
          quantity: +$tr.find('.quantity').val() || 0,
          unit: $productSelect.find(':selected').attr('data-unit'),
          stock_id: +$tr.find('select.stock-select').val(),
          stock_name: stock_name,
          stock2_id: +$tr.find('select.stock2-select').val(),
          stock2_name: stock2_name
        }
        products.push(item);
      }
      if (!stocks.includes(stock_name)) {
        stocks.push(stock_name);
      }
      if (!stocks.includes(stock2_name)) {
        stocks.push(stock2_name);
      }
    });
    var data = {
      action: $(this).attr('data-action'),
      info: $form.serializeArray(),
      stocks: stocks,
      products: products
    }
    SendingData(data, $btn, $form)

  })

  {% endif %}



</script>
