{% extends "base.html" %}
{% block title %}Остатки{% endblock %}

{% block content %}


{% include 'stock/header.html' %}

<div class="row">
  <div class="d-flex align-items-center">
    <h3 class="mb-0">Остатки</h3>
  </div>
</div>

<div class="row">
  <div id="productsList" class="col-12 d-flex flex-column gap-3"></div>
</div>


<script>
  function Load(args='') {
    var url = "{{ url_for('.products_load') }}";
    $('#productsList').load(`${url}?${args}`);
  }

  $('#productsList').on("click", 'a.open-category', function () {
    Load(`&category_id=${$(this).data('category-id')}`)
  })

  $('#productsList').on("click", 'a.page-link', function () {
    Load(`&page=${$(this).data('page')}`)
  })

  Load();
</script>
{% endblock %}
