{% extends "base.html" %}
{% block title %}  {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="container-fluid px-6 d-grid gap-3 mt-3">

  {% include 'stock/header.html' %}

  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div>
        <div class="d-flex align-items-center">
          <div class="mb-2 mb-lg-0">
            <h3 class="mb-0">
              <a class="me-3" href="{{ url_for('.products') }}">Остатки</a>
                Остатки 2
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- row  -->
  <div class="row">
    <div class="col-12 d-grid gap-3">
      {% if not products %}
        <div class="card h-100">
        {% include 'partials/nothing.html' %}
        </div>
      {% else %}

      <div class="card h-100">

        <!-- table  -->
        <div class="table-responsive">
          <form class="" id="" method="" action="">
            <table class="table text-nowrap">
              <thead class="">
                <tr>
                  <th scope="col">Название</th>
                  <th scope="col">Закупочная цена</th>
                  <th scope="col">Общее количество</th>
                  {% for stock in stocks %}
                    <th scope="col">{{ stock.name }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% set var = namespace(sum=0, quantity=0, unit='') %}

                {% for product in products %}
                  {% set var.quantity = 0 %}
                  {% set var.unit = product.unit_class.description.unit %}

                    <tr>
                      <td class="">
                        <a href="" class="text-inherit open-modal-product" data-product-id="{{ product.product_id }}" data-bs-toggle="modal" data-bs-target="#ProductInfoModal">
                          {{ product.description.name }}
                        </a>
                      </td>

                      <td class="">{{ product.cost|money }} ₽</td>

                      {% for stock in stocks %}
                        {% for product_in_stock in stock.products if product_in_stock.product_id == product.product_id %}
                        {% set var.quantity = var.quantity + product_in_stock.quantity %}
                        {% endfor %}
                      {% endfor %}
                      {% set var.sum = var.sum + var.quantity * product.cost %}
                      <td class="">{{ var.quantity|smart_int }} {{ var.unit }}</td>

                      {% for stock in stocks %}
                        {% for product_in_stock in stock.products if product_in_stock.product_id == product.product_id %}
                          <td class="">{{ product_in_stock.quantity|smart_int }} {{ var.unit }}</td>
                        {% else %}
                          <td class="">0 {{ var.unit }}</td>
                        {% endfor %}
                      {% endfor %}

                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </form>
        </div>
      </div>

      <div class="card h-100">
        <div class="d-flex justify-content-end align-items-center m-3">
          <table class="col-3">
            <tbody>
              <tr class="">
                <td class="">
                  <span class="fs-4 fw-bolder">Общая сумма:</span>
                </td>
                <td class="">
                  <span id="all_sum" class="fs-4 fw-bolder">{{ var.sum|money }} ₽</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ProductInfoModal" tabindex="-1" role="dialog" aria-labelledby="ProductInfoLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen w-90" role="document">
    <div class="modal-content bg-light">
      <div class="modal-close-label">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> </div>
    </div>
  </div>
</div>
<script>

  // Open Modal New Product
  $('a.open-modal-product').on("click", function () {
    var url = "{{ url_for('.product_info', product_id=None) }}",
      product_id = $(this).attr('data-product-id');
    url += product_id;
    LoadToModal($('#ProductInfoModal'), url);
  })
</script>
{% endblock %}
