{% if not request.args.get('only_content') %}
  {% extends "base.html" %}
  {% block title %}Склады{% endblock %}
{% endif %}

{% block content %}

{% include 'stock/header.html' %}

<div class="row">
  <div class="d-flex align-items-center">
    <h3 class="mb-0">Склады</h3>
    <div class="ms-auto">
      <button class="btn btn-primary open-modal" type="button" data-modal-id="StockSettingsModal"
        data-url="{{ url_for('.stock_settings') }}">Добавить</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-12">
    <div class="card h-100">
      <div class="table-responsive">
        <form id="Stocks" action="{{ url_for('.stocks_action') }}">
          <table class="table text-nowrap">
            <thead>
              <tr>
                <th class="main-tab-checkbox">
                  <input class="form-check-input check-all" type="checkbox">
                </th>
                <th>Название</th>
                <th>Товаров на сумму</th>
                <th>Сортировка</th>
              </tr>
            </thead>
            <tbody>
              {% set var = namespace(count=0, sum=0) %}

              {% for stock in stocks %}
                {% set var.sum = 0 %}
                <tr>
                    <td class="text-average main-tab-checkbox">
                      <input class="form-check-input to-check" type="checkbox" value="{{ stock.stock_id }}">
                    </td>

                    <td>
                      <div class="text-inherit open-modal"  data-modal-id="StockSettingsModal"
                        data-url="{{ url_for('.stock_settings', stock_id=stock.stock_id) }}">
                        {{ stock.name }}
                      </div>
                    </td>

                    <td>
                      {% for product in stock.products %}
                        {% set var.sum = var.sum + product.quantity * product.main_product.cost %}
                      {% endfor %}
                      {{ var.sum|money }} ₽
                    </td>

                    <td>{{ stock.sort }}</td>

                  </tr>
              {% endfor %}

            </tbody>
          </table>

          <!-- Actions buttons -->
          <div class="sticky-bottom-buttons">
            <a class="open-modal-confirmation" data-action="delete"
              data-title="Удалить склады?"
              data-text="Будут удалены выбранные склады">Удалить</a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% set products = stocks %}
{% include 'pagination.html' %}

{% endblock %}
