{% extends "base.html" %}
{% set page_settings = {"title": "Магазины", "modal": False, "fullscreen": False} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
<form id="Shops" class="d-grid gap-3" action="{{ url_for('.shops') }}">

  {# Блок названия и кнопок #}
  {{ m.heading("Магазины", child_obj=child_obj) }}

  {# Блок таблицы #}
  {% set table %}
    <thead>
      <tr>
        <th class="checkbox"><input class="form-check-input check-all" type="checkbox"></th>
        <th>Название</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for shop in shops|sort(attribute='shop_id') %}
        <tr>
          {# Чекбокс #}
          <td class="checkbox">{{ m.checkbox(shop.shop_id) }}</td>

          {# Ссылка #}
          <td>
            <div class="d-flex gap-2">
              {{ m.modal_link(shop, "categories") }}
              {{ m.external_link(shop.domain) }}
            </div>
          </td>

          {# Меню #}
          <td class="align-middle text-end">{{ m.table_btns_more(shop) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  {% endset %}
  {{ m.table(table, shops) }}

</form>
{% endblock %}
