{% extends "base.html" %}
{% block title %}  {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<!-- Container fluid -->
<div class="container-fluid px-6 d-grid gap-3 mt-3">


  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div>
        <div class="d-flex align-items-center">
          <div class="mb-2 mb-lg-0">
            <h3 class="mb-0">
              <a href="{{ url_for('.options') }}" >Опции</a>
              | {{ option.description.name }}</h3>
          </div>
          <div class="ms-auto d-flex gap-2">
            <span class="btn btn-primary show-value-settings">Добавить</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- row  -->
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="card h-100">

        <!-- table  -->
        <form class="" id ="OptionValues"  method="post" action="">
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead class="">
                <tr>
                  <th class="main-tab-checkbox">
                    <input class="form-check-input check-all" type="checkbox">
                  </th>
                  <th>Название</th>
                  <th>Цена</th>
                  <th scope="col">Связи</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="tabOptionValues">

                {% for value in option.values|sort(attribute='sort_order') %}
                  <tr data-value-id={{ value.option_value_id }}>
                    <td>
                      <input class="form-check-input to-check" type="checkbox"
                             value="{{ value.option_value_id }}">
                    </td>

                    <td class="text-average">
                      <a class="text-inherit show-products" href="#">
                        {{ value.description.name }}
                      </a>
                    </td>
                    <td class="">
                      {{ value.settings.price|money }}
                    </td>
                    <td class="text-average">
                      {{ count_list.get(value.option_value_id) if count_list.get(value.option_value_id) }}
                    </td>

                    <td class="align-middle text-end">
	                    <div class="dropdown dropstart">
	                      <a class="text-muted text-primary-hover" href="#" role="button" id="dropdownAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i data-feather="more-vertical" class="icon-xxs" ></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownAction">
                          <a href="#" class="dropdown-item show-value-settings">Настройки</a>
                          <a href="#" class="dropdown-item show-products">Товары</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- row  -->
  {% if other_prices %}
    <div class="row mt-6 mb-6">
      <!-- card discount products -->
      <div class="col-xl-8 col-lg-12 col-md-12 col-12">
        <div class="card h-100">
          <!-- card header  -->
          <div class="card-header bg-white py-4">
            <h4 class="mb-0">Цена отличается </h4>
          </div>
          <!-- table  -->
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead class="table-light">
                <tr>
                  <th>Название</th>
                  <th>Цена</th>
                </tr>
              </thead>
              <tbody>
                {% for product in other_prices %}
                  <tr>
                    <td class="align-middle">
                      <div class="d-flex align-items-center">
                        <div class="lh-1">
                          <h5 class=" mb-1">{{ product }}</h5>
                          <p class="mb-0">{{ other_prices[product]['name'] }}</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">{{ other_prices[product]['price']|int }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

</div>

<!-- Actions buttons -->
<div class="sticky-bottom actions">
  <div class="col-12">
    <div class="bg-white h-100 d-flex gap-2 align-items-center">
      <div class="m-1  ms-5">
        <span class="">Отмеченно: </span>
        <span class="checks-count"></span>
        <a href="" class="link-secondary ms-3 decheck-all"><i data-feather="x" class="nav-icon icon-xs"></i></a>
      </div>
      <div class="vr my-3"></div>
      <div class="my-1">
        <button class="btn btn-sm rounded-3 action-confirmation" type="button" data-action="delete" data-title="Удалить значения опции?">
          <i data-feather="trash" class="icon-xs"></i>
          Удалить
        </button>
      </div>

      <div class="vr my-3"></div>

      <div class="my-1">
        <button class="btn btn-sm rounded-3 action-confirmation" type="button" data-action="auto_compare" data-title="Привязать товары?">
          <i data-feather="check-square" class="icon-xs"></i>
          Авто привязка товаров
        </button>
        <button class="btn btn-sm rounded-3 action-confirmation" type="button" data-action="clean_options" data-title="Отвязать товары?">
          <i data-feather="minus-square" class="icon-xs"></i>
          Отвязать товары
        </button>
      </div>
    </div>
  </div>
</div>

{% include 'option/modals.html' %}
{% include 'option/scripts.html' %}

<script>

  var action_url = "{{ url_for('.values_action', option_id=option.option_id) }}"

  // Open Modal Settings
  $('.show-value-settings').on("click", function () {
    var $modal = $('#FullScreenModal');
    var url = "{{ url_for('.value_settings', option_id=option.option_id) }}";
    var value_id = $(this).closest("tr").attr('data-value-id');
    if (value_id) {
      url += '?value_id=' + value_id;
    }
    $modal.find('.modal-body').load(url);
    $modal.modal('toggle')
  })

  // Open Modal Products
  $('.show-products').on("click", function () {
    var $modal = $('#FullScreenModal');
    var url = "{{ url_for('.value_products', option_id=option.option_id) }}";
    var value_id = $(this).closest("tr").attr('data-value-id');
    if (value_id) {
      url += '?value_id=' + value_id;
    }
    $modal.find('.modal-body').load(url);
    $modal.modal('toggle')
  })
</script>
{% endblock %}
