<script>

  // Check All
  $('body').on("change", '.check-all', function () {
    $('.to-check').prop('checked', $(this).is(':checked'));
  })

  // Show buttons
  $('body').on("change", ':checkbox', function () {
    var checked_count = $('.to-check:checked').length;
    if (checked_count > 0) {
      $('.sticky-bottom.actions').addClass('active');
    } else {
      $('.sticky-bottom.actions').removeClass('active');
    }
    CheckCount();
  })

  // Check Count
  function CheckCount() {
    var $checked_count = $('.to-check:checked').length;
    var $all_count = $('.to-check').length;
    $('.checks-count').text($checked_count + ' / ' + $all_count);
  }

  // Actions

  $('body').on("click", '.action-confirmation', function () {
    var $modal = $('#ModalConfirmation');
    var $btn = $modal.find('.action');
    $modal.find('.modal-title').text($(this).attr('data-title'));
    $btn.attr('data-action', $(this).attr('data-action'));
    $modal.modal('toggle');
  })

  $('body').on("click", '.action', function () {
    var checked = [];
    $('.to-check:checked').each(function () {
      checked.push($(this).val());
    });
    var data = {
      action: $(this).attr('data-action'),
      ids: checked
    }
    SendingData(data, this)
  })

  function SendingData(data, btn) {
    $.ajax({
      type: "POST",
      url: action_url,
      data: JSON.stringify(data),
      contentType: 'application/json; charset=utf-8',
      //dataType: 'json',
      success: function (data) {
        if (typeof current_url === 'undefined') {
          location.reload();
        } else {
          $(btn).closest('.modal-body').load(current_url);
        }
      }
    });
  };

  $("#FullScreenModal").on("click", "form .submit", function () {
    //e.preventDefault();
    var $form = $(this).closest("form");
    var form_data = $form.serialize();
    $.ajax({
      type: "POST",
      url: $form.attr('action'),
      data: form_data,
      success: function () {
        location.reload();
      }
    });
    $('#FullScreenModal').modal('hide');
  }); 
</script>
