<script>

  // Check All
  $('body').on("change", '.check-all', function () {
    $('.to-check').prop('checked', $(this).is(':checked'));
  })

  // Show buttons
  $('body').on("change", ':checkbox', function () {
    var checked_count = $('.to-check:checked').length;
    if (checked_count > 0) {
      $('.sticky-bottom.actions').addClass('active');
    } else {
      $('.sticky-bottom.actions').removeClass('active');
    }
    CheckCount();
  })

  // Check Count
  function CheckCount() {
    var $checked_count = $('.to-check:checked').length;
    var $all_count = $('.to-check').length;
    $('.checks-count').text($checked_count + ' / ' + $all_count);
  }

  // Actions

  $('body').on("click", '.action-confirmation', function () {
    var $modal = $('#ModalConfirmation');
    var $btn = $modal.find('.action');
    $modal.find('.modal-title').text($(this).attr('data-title'));
    $btn.attr('data-action', $(this).attr('data-action'));
    $modal.modal('toggle');
  })

  $('body').on("click", '.action', function () {
    var checked = [];
    $('.to-check:checked').each(function () {
      checked.push($(this).val());
    });
    var data = {
      action: $(this).attr('data-action'),
      ids: checked
    }
    SendingData(data, this)
  })

  function SendingData(data, btn) {
    $.ajax({
      type: "POST",
      url: action_url,
      data: JSON.stringify(data),
      contentType: 'application/json; charset=utf-8',
      //dataType: 'json',
      success: PageUpdate(btn)
    });
  };
  function PageUpdate(btn) {
    var apply = $(btn).hasClass('apply');
    if (apply) {
      $(btn).closest('.modal-body').load(current_url);
    } else {
      location.reload();
    }
  }

  $("#FullScreenModal").on("click", "form .submit", function () {
    //e.preventDefault();
    var apply = $(this).hasClass('.apply');
    var $form = $(this).closest("form");
    var form_data = $form.serialize();
    $.ajax({
      type: "POST",
      url: $form.attr('action'),
      data: form_data,
      success: function () {
        location.reload();
      }
    });
    $('#FullScreenModal').modal('hide');
  });

  // Modals

  function NewModal($modal) {
    var count = $('.modal.show').length
    if (count !== 0) {
      var z_index = 0;

      $('body').find('.modal.show').each(function () {
        var this_z_index = parseInt($(this).css('z-index'));
        if (this_z_index > z_index) {
          z_index = this_z_index;
        }
        var $close_btn = $(this).find('.modal-close-label')
        $close_btn.css('top', '+=60')
        $close_btn.css('opacity', '50%')

      });
      $modal.css('z-index', z_index + 1)
      $modal.modal('toggle')
    }
  }

  function CloseModal($modal) {
    var count = $('.modal.show').length
    if (count > 1) {
      var z_index = parseInt($modal.css('z-index'));
      var max_z_index = 0;

      $('body').find('.modal.show').each(function () {
        var this_z_index = parseInt($(this).css('z-index'));
        if (this_z_index !== z_index && this_z_index > max_z_index) {
          max_z_index = this_z_index;
        }
      });

      $('body').find('.modal.show').each(function () {
        var $close_btn = $(this).find('.modal-close-label')
        $close_btn.css('top', '-=60')

        var this_z_index = parseInt($(this).css('z-index'));
        if (this_z_index == max_z_index) {
          $close_btn.css('opacity', '1')
        }
      });
    }
    $modal.modal('toggle');
  }
</script>
