{# Jinja2 #}
<!-- Container fluid -->
<form id="OptionValueSettings"
  action="{{ url_for('.value_settings_update', option_id=option_id, value_id=value.option_value_id) }}">
  <div class="container-fluid px-6 d-grid gap-3 mt-3">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <div>
          <div class="d-flex align-items-center">
            <div class="mb-2 mb-lg-0">
              <h3 class="mb-0">
                {{ value.description.name if value else 'Новое значение опции' }}
              </h3>
            </div>
            <div class="ms-auto d-flex gap-2">
              <button type="button" class="btn btn-primary btn-to-submit">Сохранить</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <!-- nav -->
        <ul class="nav nav-lt-tab px-4" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-detail-tab" data-bs-toggle="pill" data-bs-target="#pills-detail"
              role="tab" aria-controls="pills-detail" aria-selected="true">Общие</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="pills-consumables-tab" data-bs-toggle="pill" data-bs-target="#pills-consumables"
              role="tab" aria-controls="pills-consumables" aria-selected="false">Расходные
              материалы</a>
          </li>

        </ul>
      </div>
    </div>

    <!-- row  -->
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-detail" role="tabpanel" aria-labelledby="pills-detail-tab" tabindex="0">
            <div class="col-12 d-grid gap-3" data-to-server="info">
              <div class="card h-100">
                <div class="card">
                  <div class="card-body">
                    <div class="mb-3 row">
                      <div class="col-sm-4 mb-3 mb-lg-0">
                        <label for="name" class="form-label">Название</label>
                        <input type="text" class="form-control" id="name" name="name"
                          value="{{ value.description.name if value }}" required>
                      </div>

                      <div class="col-sm-4">
                        <label for="sort" class="form-label">Порядок сортировки</label>
                        <input type="number" class="form-control" placeholder="" id="sort" name="sort"
                          value="{{ value.sort_order if value }}">
                      </div>

                      <div class="col-sm-4">
                        <label for="price" class="form-label">Цена</label>
                        <input type="number" class="form-control" placeholder="" id="price" name="price"
                          value="{{ value.settings.price if value }}">
                      </div>
                    </div>

                    <!-- row -->
                    <div class="mb-3 row">
                      <div class="col-md-4">
                        <div class="mb-1">
                          <label for="categories_ids" class="form-label">Категория</label>
                          <select class="general-select show-count-selected" multiple id="categories_ids"
                            name="categories_ids" data-url="{{ url_for('get_list_all_categories') }}"
                            data-placeholder="Все">
                            {% if settings.get('categories_ids') %}
                            {% for id in settings.get('categories_ids') %}
                            <option selected value="{{ id }}">
                              {{ id }}
                            </option>
                            {% endfor %}
                            {% endif %}
                          </select>
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <label for="attribute_id" class="form-label">Атрибут сопоставления</label>
                        <select id="attribute_id" name="attribute_id" data-url="{{ url_for('.ajax_all_attributes') }}">
                          {% if attribute %}
                          <option selected value="{{ attribute.attribute_id }}">{{ attribute.description.name }}
                          </option>
                          {% endif %}
                        </select>
                      </div>

                      <div class="col-sm-4">
                        <label for="attribute_values" class="form-label">Значения атрибута</label>
                        <select multiple id="attribute_values" name="attribute_values">
                          {% if settings.get('attribute_values') %}
                          {% for attribute_value in settings.get('attribute_values')|sort %}
                          <option value="{{ attribute_value|string }}" selected>
                            {{ attribute_value }}</option>
                          {% endfor %}
                          {% endif %}
                        </select>
                      </div>

                    </div>

                    <!-- row -->
                    <div class="mb-3 row">

                      <div class="col-sm-4">
                        <label class="form-label">Наличие товара</label>
                        <select class="general-select" name="stock">
                          <option value="">Все</option>
                          <option {{ 'selected' if settings and settings.get('stock')=='in stock on order' }}
                            value="in stock on order">В наличии и под заказ</option>
                          <option {{ 'selected' if settings and settings.get('stock')=='in stock' }} value="in stock">
                            Только в наличии</option>
                        </select>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-consumables" role="tabpanel" aria-labelledby="pills-consumables-tab"
            tabindex="0">
            <div class="col-12 d-grid gap-3">

              <div id="tabConsumables" class="card h-100">
                <table class="table text-nowrap table" data-to-server="products">
                  <thead class="">
                    <tr>
                      <th scope="col" class="main-tab-checkbox">
                        <input class="form-check-input check-all" type="checkbox">
                      </th>
                      <th scope="col">Товар</th>
                      <th scope="col" class="col-1">Количество</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>

                  <tbody>

                    {% set var = namespace(count=0) %}

                    {% set option_value_consumables = value.settings.consumables|to_json if value.settings %}

                    {% if not option_value_consumables %}
                    {% set option_value_consumables = [{}] %}
                    {% endif %}

                    {% for consumable in option_value_consumables %}
                    {% set var.count = var.count + 1 %}

                    <tr class="product">
                      <td class="main-tab-checkbox">
                        <input class="form-check-input to-check" type="checkbox" name="" value="">
                      </td>
                      <td class="col-4">
                        <span class="line-count">{{ var.count }}.</span>

                        <select class="product-select" data-placeholder="-- Выбрать товар --"
                          data-url="{{ url_for('deal.ajax_consumables') }}" data-class="bg-light"
                          data-width="300px" name="id" data-required="true">
                      </td>
                      <td class="col-2">
                        <input type="text" class="form-control" name="quantity"
                          value="{{ consumable.quantity|smart_int if consumable.quantity }}" placeholder="0">
                      </td>
                      <td></td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>

                <div class="d-flex">
                  <div>
                    <div class="m-3 gap-2 justify-content-start actions">
                      <span class="">Отмеченно: </span>
                      <span class="checks-count">0 / {{ var.count }}</span>
                    </div>
                    <div class="m-3 gap-2 d-flex justify-content-start actions">
                      <button class="btn rounded-3 delete-product" type="button" disabled>Удалить</button>
                    </div>
                  </div>
                  <div class="m-3 ms-auto gap-2">
                    <button class="btn rounded-3 btn-primary create-new-line" type="button">Добавить строку</button>
                    <button class="btn rounded-3 btn-outline-secondary open-modal" type="button"
                      data-modal-id="AddProductsModal" data-url="{{ url_for('stock.product_info') }}">Создать
                      товар</button>
                    <button class="btn rounded-3 " type="button" onclick="changeOptions('cancel')">Отмена</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


<script>

  // Categories Ids
  $('#categories_ids').on('select change', function (evt, config) {
    UpdateAttributeIdSelect();
  });
  UpdateAttributeIdSelect();

  function UpdateAttributeIdSelect() {
    var $attributeSelect = $('#attribute_id'),
      categories_ids = $('#categories_ids').val(),
      url = $attributeSelect.data('url'),
      attribute_id = $attributeSelect.val();

    $attributeSelect.prop("disabled", !categories_ids.length);

    $attributeSelect.select2({
      theme: "bootstrap-5",
      width: '100%',
      dropdownParent: $attributeSelect.closest('.modal'),
      dropdownAutoWidth: true,
      selectionCssClass: 'bg-light',
      ajax: {
        delay: 250,
        url: url,
        dataType: 'json',
        data: function (params) {
          var query = {
            search: params.term,
            page: params.page || 1
          }
          return query;
        }
      }
    }).on('select change', function (evt, config) {
      $('#attribute_values').empty();
      UpdateAttributeValuesSelect();
    });
    UpdateAttributeValuesSelect();
  }


  function UpdateAttributeValuesSelect() {

    var $Select = $('#attribute_values'),
      attribute_id = $('#attribute_id :selected').val(),
      categories_ids = $('#categories_ids').val(),
      url = "{{ url_for('.ajax_attribute_values') }}";

    $Select.prop("disabled", !attribute_id);

    $Select.select2({
      theme: "bootstrap-5",
      width: '100%',
      dropdownParent: $Select.closest('.modal'),
      dropdownAutoWidth: true,
      selectionCssClass: 'bg-light',
      ajax: {
        delay: 250,
        url: url,
        dataType: 'json',
        data: function (params) {
          var query = {
            search: params.term,
            page: params.page || 1,
            attribute_id: +attribute_id,
            categories_ids: categories_ids.join(),
            option_id: "{{ option_id }}",
            value_id: "{{ value.option_value_id }}"
          }
          return query;
        },
      }
    });

  }



  // Fill products
  function FillProducts() {
    var ids = $('select.consumables-ids').val()
    for (let i = 0; i < ids.length; i++) {
      newLine('', product_id = ids[i])
    }
  }

  // Open Modal
  $('.open-modal-product').on("click", function () {
    LoadToModal('#ProductInfoModal', "{{ url_for('stock.product_info') }}");
  })

  $('#tabConsumables').find('tr.product').each(function () {
    UpdateProductSelect($(this));
  });

</script>
