<div id="ValueProducts" class="container-fluid px-6 d-grid gap-3 mt-3">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div>
        <div class="d-flex align-items-center">
          <div class="mb-2 mb-lg-0">
            <h3 class="mb-0">
              <span class="text-primary">{{ value.description.name }}</span>
              | Товары</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- filter -->
  <div class="col-xl-12 col-lg-12 col-md-12 col-12">
    <div class="card h-100">

      <div class="card-body">
        <form id="ValueProductsFilter" action="{{ url_for('.value_products', option_id=option_id, value_id=value.option_value_id) }}">
            
          <div class="row g-2">

            <div class="col-md-2">
              <div class="mb-1">
                <label class="form-label h7">Производитель</label>
                <select class="selectpicker" data-width="100%" data-live-search="true" data-none-selected-text = "Все"
                 data-none-results-text="Не найдено {0}" multiple name="manufacturers_ids">

                  {% for manufacturer in manufacturers %}
                    {% set id = manufacturer.manufacturer_id %}
                    <option {{ 'selected' if filter.get('manufacturers_ids') and id|string in filter.get('manufacturers_ids') }} value="{{ id }}">{{ manufacturer.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="mb-1">
                <label class="form-label h7">Опции</label>
                <select class="selectpicker" data-width="100%" name="options">
                  <option value="">Все</option>
                  <option {{ 'selected' if filter.get('options') == 'whith options' }} value="whith options">Товары с опциями</option>
                  <option {{ 'selected' if filter.get('options') == 'whithout options' }} value="whithout options">Товары без опций</option>
                </select>
              </div>
            </div>

            {% set per_page = session.get('results_per_page') %}
            <div class="col-md-1">
              <div class="mb-1">
                <label class="form-label h7">Результатов</label>
                <select class="selectpicker" data-width="100%" name="per_page">
                  {% for i in [20, 40, 60, 80, 100] %}
                  <option {{ 'selected' if filter.get('per_page')|int == i }} value="{{ i }}">{{ i }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row mt-6 mb-6">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="card h-100">

        <!-- table  -->
        <div class="table-responsive">
          <form class="" id="optionProducts" method='post' action="">
          <table class="table text-nowrap">
            <thead class="">
              <tr>
                <th class="main-tab-checkbox">
                  <input class="form-check-input check-all" type="checkbox">
                </th>
                <th scope="col">Название</th>
                <th scope="col">Опции</th>
              </tr>
            </thead>
            <tbody>
              {% set group_attribute = namespace(name='') %}

              {% for product in products %}

                {% for attribute in product.attributes if attribute.attribute_id == filter.get('attribute_id')|int %}
                  {% if attribute.text != group_attribute.name %}
                    {% set group_attribute.name = attribute.text %}
                    <tr>
                      <td colspan=3><b>{{ attribute.text }}</b></td>
                    </tr>
                  {% endif %}
                {% endfor %}

                <tr>
                  <td>
                    <input class="form-check-input to-check" type="checkbox" value="{{ product.product_id }}">
                  </td>
                  <td class="sticky-table">
                    {{ product.description.name }}
                  </td>
                  <td>
                    {% for option in product.options %}
                      {{ option.product_option_value.product_option.description.name }}
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </form>
        
        </div>

      </div>
    </div>
  </div>

  {% include 'partials/pagination.html' %}

  {% if other_products %}
    <div class="row mt-6 mb-6">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card h-100">

          <!-- card header  -->
          <div class="card-header bg-white py-4">
            <h4 class="mb-0">Товары не подходящие по фильтру</h4>
          </div>

          <!-- table other -->
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead class="table-light">
                <tr>
                  <th scope="col" class="sticky-table"> Название </th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                {% for product in other_products %}

                  <tr>
                    <td class="sticky-table"> {{ product.mpn }} </td>
                    <td>
                      {% for option in product.options %}
                        {{ option.product_option_value.product_option.description.name }}
                      {% endfor %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>

<!-- Actions buttons -->
<div class="sticky-bottom actions">
  <div class="col-12">
    <div class="bg-white h-100 d-flex gap-2 align-items-center">
      <div class="m-1  ms-5">
        <span class="">Отмеченно: </span>
        <span class="checks-count"></span>
        <a href="" class="link-secondary ms-3 decheck-all"><i data-feather="x" class="icon-xs"></i></a>
      </div>
      <div class="vr my-3"></div>
      <div class="my-1">
        <button class="btn btn-sm rounded-3 action" type="button" data-action="option_to_products">
          <i data-feather="check-square" class="icon-xs"></i>
          Привязать
        </button>

        <button class="btn btn-sm rounded-3 action" type="button" data-action="delete">
          <i data-feather="minus-square" class="icon-xs"></i>
          Отвязать
        </button>
      </div>

    </div>
  </div>
</div>

<script>
  var action_url = "{{ url_for('.products_action', option_id=option_id, value_id=value.option_value_id) }}"
  var current_url = "{{ request.full_path }}".replaceAll("&amp;", "&")

// Selectpicker
$('#ValueProducts').find('.selectpicker').each(function () {
  $(this).selectpicker();
});

// Icons
feather.replace();

// Filter
$('#ValueProducts').find('select').on("change", function () {
  var $modal = $('#FullScreenModal');

  var $form = $('#ValueProductsFilter'),
      form_data = $form.serialize();
      url = $form.attr('action');
  /* отправляем данные методом POST */
  var posting = $.post(url, form_data);
  /* результат помещаем в div */
    ;
  posting.done(function(data) {
    var content = $(data);
    $modal.find('.modal-body').empty().append( content );
  });


})

// Pagination

$('#ValueProducts').find('.pagination a').on("click", function () {
  var $modal = $('#FullScreenModal');
  var url = $(this).attr('href');
  $modal.find('.modal-body').load(url);
  return false;
})


// Замена formaction
var url = "{{ url_for('.products_action', option_id=option_id, value_id=value_id) }}"
function fAction(action, title="None") {
var x = document.getElementById("optionProducts").action;
  x = `${url + "/" + action}`
  document.getElementById("optionProducts").action = x
  document.getElementById("titleModal").textContent = `${title}`
}
</script>
