{% extends "base.html" %}
{% set page_settings = {"title": "Опции", "modal": False, "fullscreen": False} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
<form id="Options" class="d-flex flex-column gap-3" action="{{ url_for('.options') }}">

  {# Блок названия и кнопок #}
  {% set heading_btns %}
    <a class="btn btn-primary" data-modal-id="OptionSettingsModal" data-url="{{ url_for('.option_settings') }}">Добавить</a>
  {% endset %}
  {{ m.heading("Опции", heading_btns) }}

  {# Блок таблицы #}
  {% set table %}
    <thead>
      <tr>
        <th class="checkbox"><input class="form-check-input check-all" type="checkbox"></th>
        <th>Название</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for option in options %}
        <tr>

          {# Чекбокс #}
          <td class="checkbox">{{ m.checkbox(option.option_id) }}</td>

          {# Ссылка на опцию #}
          <td>
            <a class="text-inherit" data-modal-id="OptionValueModal" data-url="{{ url_for('.option_values', option_id=option.option_id) }}">{{ option.name }}</a>
          </td>

          {# Меню #}
          <td class="align-middle text-end">
            <div class="dropdown">
	            <a class="text-muted text-primary-hover" href="#" role="button" id="dropdownAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg>
              </a>
              <ul class="dropdown-menu">
                <button class="dropdown-item" type="button" data-modal-id="OptionSettingsModal"
                  data-url="{{ url_for('.option_settings', option_id=option.option_id) }}">Настройки</button>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  {% endset %}
  {{ m.table(table) }}

  {# Кнопки действий таблицы #}
  {% set table_btns %}
    <button class="btn btn-sm btn-transparent" type="button" data-modal-confirm data-action="delete"
      data-title="Удалить опции?" data-after="update">Удалить</button>
  {% endset %}
  {{ m.table_actions(table_btns) }}

</form>
<script src="{{ url_for('static', filename='js/products.js') }}"></script>
{% endblock %}
