{% extends "base.html" %}
{% block title %} {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='deal/css/style.css') }}" />
<!-- Data Picker -->
<link rel="stylesheet" href="{{ url_for('static', filename='/time-picker/style.css') }}">
<script src="{{ url_for('static', filename='/time-picker/jq.schedule.js') }}"></script>
<!-- endbuild -->
{% endblock %}
{% block content %}

<!-- Container fluid -->
<div class="container-fluid px-6 d-grid gap-3 mt-3">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-3 me-5 mb-lg-0">
            <h3 class="mb-0">Сделки</h3>
          </div>
          <div class="ms-auto">
            <button id="event_timelineData" class="btn btn-info" >timelineData()</button>
            <button id="event_scheduleData" class="btn btn-info" >scheduleData()</button>
            <button id="save" class="btn btn-info" >Сохранить</button>
            <button id="event_resetData" class="btn btn-danger" >Сбросить</button>
            <button id="event_resetRowData" class="btn btn-danger">Удалить строки</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- row  -->
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="card h-100">

        <select class="selectpicker" 
          data-none-selected-text="Выберите услугу" width="auto" data-style="btn-white"
          data-none-results-text=""
          name="">
          {% set var = namespace(service_time=30, service_name="") %}

          {% for service in services %}
            {% if service.service_id == service_id|int %}
              {% set var.service_time = service.time %}
              {% set var.service_name = service.name %}
            {% endif %}
          <option value="{{ service.service_id }}" data-subtext="{{ (service.time/60)|smart_int }} ч" {{ 'selected' if service.service_id == service_id }}>
            {{ service.name}}
              </option>
          {% endfor %}
        </select>

      <div id="workers">
        {% for worker in workers %}
          <div class="worker">
            <div class="worker-name col-3" data-worker-id="{{ worker.worker_id }}">
              {{ worker.name }}
            </div>
            <div class="">
              <div class="worker-days d-flex">
                {% for day in days %}
                <span class="worker-day" data-date="{{ days[day] }}">
                    {{ day }}
                  </span>
                {% endfor %}
              </div>

              <div class="schedule-conteiner">
              </div>

            </div>
          </div>


        {% endfor %}
      </div>

            <button class="btn " type="button" data-bs-toggle="modal" data-bs-target="#TimeInDay"></button>
      </div>
    </div>
  </div>

  <div id="schedule"></div>

</div>








<!-- Modal -->
<div class="modal fade" id="TimeInDayModal" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Новая стадия</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body justify-content-center">
        <form>


          <div class="d-flex">
            <button class="btn btn-primary rounded-3" type="submit">Сохранить</button>
            <button class="btn rounded-3" type="button" data-bs-dismiss="modal" aria-label="Close">Отменить</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

  <div id="time-list">
  </div>
<div id="container">
  ...
</div>
<script>

  var url_this_page = '{{ url_for('booking') }}'

  $('body').on('change', 'select', function () {
    var service_id = $(this).val()
    var url = url_this_page + '/' + service_id
    $(location).attr('href',url);
  })




  {#
  $('body').on('change', 'select', function () {
    var last_selected = $(this).find(':selected').val()
    var index = $(this).find(':selected').index() + 1;

    var new_element = '<div class="selected-worker">'
    new_element += last_selected
    new_element += '</div>'
    $('#selected_workers').append(new_element)

    var $select_box = $(this).parent()
    var position = '[aria-posinset=' + index + ']'
    var teg_a = $select_box.find(position)
    $(teg_a.parent()).remove()
    $(this).val('')
  })
    #}
  
  // Show Modal Time In Day

</script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript"
        language="javascript"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='/time-picker/jq.schedule.js') }}"></script>
    <script type="text/javascript">

    var url_worker_employments = '{{ url_for('booking_data') }}';

        function addLog(type, message) {
            var $log = $('<tr />');
            $log.append($('<th />').text(type));
            $log.append($('<td />').text(message ? JSON.stringify(message) : ''));
            $("#logs table").prepend($log);
        }
        $(function () {
            $("#logs").append('<table class="table">');
            var isDraggable = true;
            var isResizable = true;
            var $sc = $("#schedule").timeSchedule({
                startTime: "10:00", // schedule start time(HH:ii)
                endTime: "18:00",   // schedule end time(HH:ii)
                widthTime: 60 * 15,  // cell timestamp example 10 minutes
                timeLineY: 50,       // height(px)
                verticalScrollbar: 20,   // scrollbar (px)
                timeLineBorder: 1,   // border(top and bottom)
                bundleMoveWidth: 6,  // width to move all schedules to the right of the clicked time line cell
                dataWidth: 0,
                widthTimeX: 20,
                draggable: isDraggable,
                resizable: isResizable,
                resizableLeft: true,
                rows: { 
                    '0': {
                        title: 'Title Area1',
                        schedule: [
                            {
                                start: '10:00',
                                end: '13:00',
                                text: 'Text Area',
                                data: {
                                }
                            },
                        ]
                    },
                },
                onChange: function (node, data) {
                    addLog('onChange', data);
                },
                onInitRow: function (node, data) {
                    addLog('onInitRow', data);
                },
                onClick: function (node, data) {
                    addLog('onClick', data);
                },
                onAppendRow: function (node, data) {
                    addLog('onAppendRow', data);
                },
                onAppendSchedule: function (node, data) {
                    addLog('onAppendSchedule', data);
                    if (data.data.class) {
                        node.addClass(data.data.class);
                    }
                    if (data.data.image) {
                        var $img = $('<div class="photo"><img></div>');
                        $img.find('img').attr('src', data.data.image);
                        node.prepend($img);
                        node.addClass('sc_bar_photo');
                    }
                },
                onScheduleClick: function (node, time, timeline) {
                    var start = time;
                    
                  var end = $(this).timeSchedule('formatTime', $(this).timeSchedule('calcStringTime', time) + {{ var.service_time|int * 60 }});
                    $(this).timeSchedule('addSchedule', timeline, {
                        start: start,
                        end: end,
                        text: '{{ var.service_name }}',
                        data: {
                            class: 'sc_bar_insert'
                        }
                    });
                    addLog('onScheduleClick', time + ' ' + timeline);
                },
            });
            $('#event_timelineData').on('click', function () {
                addLog('timelineData', $sc.timeSchedule('timelineData'));
              console.log($sc.timeSchedule('timelineData'))
            });
            $('#event_scheduleData').on('click', function () {
                addLog('scheduleData', $sc.timeSchedule('scheduleData'));
              console.log($sc.timeSchedule('scheduleData'))
            });
            $('#event_resetData').on('click', function () {
                $sc.timeSchedule('resetData');
                addLog('resetData');
            });
            $('#event_resetRowData').on('click', function () {
                $sc.timeSchedule('resetRowData');
                addLog('resetRowData');
            });
            $('#event_setDraggable').on('click', function () {
                isDraggable = !isDraggable;
                $sc.timeSchedule('setDraggable', isDraggable);
                addLog('setDraggable', isDraggable ? 'enable' : 'disable');
            });
            $('#event_setResizable').on('click', function () {
                isResizable = !isResizable;
                $sc.timeSchedule('setResizable', isResizable);
                addLog('setResizable', isResizable ? 'enable' : 'disable');
            });
            $('.ajax-data').on('click', function () {
                $.ajax({url: '{{ url_for('booking_data') }}' + $(this).attr('data-target')})
                    .done((data) => {
                        addLog('Ajax GetData', data);
                        $sc.timeSchedule('setRows', data);
                    });
            });
            $('#clear-logs').on('click', function () {
                $('#logs .table').empty();
            });

            // my code
            $('#save').on('click', function () {
              console.log($sc.timeSchedule('scheduleData'))
            });

            $('.worker-day').on("click", function () {
              //var $modal = $('#TimeInDayModal')
              //$modal.modal('toggle');

              var position = $(this).position()
              //$('#schedule').attr('style', 'top: "' + position.left + '";')
              //$('.schedule-conteiner').attr('style', 'top: ' + position.top + 'px;')
              $('.schedule-conteiner').addClass('show')
              var worker_id = $(this).closest('div.worker').find('.worker-name').attr('data-worker-id');
              $('.schedule-conteiner').addClass('show')
              var $conteiner = $(this).closest('div.worker').find('.schedule-conteiner');
              $conteiner.addClass('show')
              $('#schedule').appendTo($conteiner);
              var date = $(this).attr('data-date');
              url_worker_employments
              var url = url_worker_employments + 'worker_' + worker_id + '/date_' + date;
              $.ajax({url: url})
                .done((data) => {
                  addLog('Ajax GetData', data);
                  $sc.timeSchedule('setRows', data);
                });
            
            });
        });

    </script>
{% endblock %}
