<!-- Nothing or Consumables  -->
{% if deal and deal.posted and not deal.consumables %}
{% include 'partials/nothing.html' %}
{% else %}

<!-- Consumables  -->

<!-- table  -->
<div id="tabConsumables" class="card h-100">
  <table class="table text-nowrap table">
    <thead class="">
      <tr>
        {% if not deal or not deal.posted %}
        <th scope="col">
          <input class="form-check-input check-all" type="checkbox">
        </th>
        {% endif %}
        <th scope="col">Название</th>
        <th scope="col" class="col-1">Количество</th>
        <th scope="col">Склад</th>
        {% if not deal or not deal.posted %}
        <th scope="col">Доступно</th>
        {% endif %}
        <th scope="col">Сумма</th>
      </tr>
    </thead>
    <tbody>

      {% set var = namespace(count=0, all_sum=0) %}

      {% set deal_consumables = deal.consumables|to_json %}

      {% if not deal.posted and not deal_consumables %}
      {% set deal_consumables = [{'product_id': '', 'quantity': 0, 'price': 0, 'unit': 'шт'}] %}
      {% endif %}

      {% for deal_consumable in deal_consumables %}
      {% set var.count = var.count + 1 %}

      <tr class="product">
        {% if not deal or not deal.posted %}
        <td class="main-tab-checkbox">
          <input class="form-check-input to-check" type="checkbox" value="{{ deal_consumable.product_id }}">
        </td>
        {% endif %}
        <td class="col-4">
          <span class="line-count">{{ var.count }}.</span>
          {% if deal and deal.posted %}
          <span>{{ deal_consumable.product_name }}</span>
          {% else %}
          <select class="product-select" data-width="100%" data-live-search="true" data-none-selected-text=""
            data-none-results-text="Не найдено {0}">
            <option value="">-- Выберите расходный материал --</option>
            {% for product in consumables %}
            <option value="{{ product.product_id }}" data-price="{{ product.cost }}" {{ 'selected' if
              product.product_id==deal_consumable.product_id }}>{{
              product.description.name }}</option>
            {% endfor %}
          </select>
          {% endif %}
        </td>

        {% if not deal or not deal.posted %}
        <input type="hidden" class="price" value="{{ deal_consumable.price|smart_int }}">
        {% endif %}

        <td class="col-1">
          {% if deal and deal.posted %}
          <span>{{ deal_consumable.quantity }} {{ deal_consumable.unit if deal_consumable.unit else 'шт'}}</span>
          {% else %}
          <div class="input-group">
            <input type="number" class="form-control quantity"
              value="{{ deal_consumable.quantity if deal_consumable.quantity }}" placeholder="0">
            <span class="input-group-text quantity">{{ deal_consumable.unit if deal_consumable.unit else 'шт'
              }}</span>
          </div>
          {% endif %}
        </td>

        <td class="col-2">
          {% if deal and deal.posted %}
          <span>{{ deal_consumable.stock_name }}</span>
          {% else %}
          <select class="stock-select" data-width="100%" data-live-search="true" data-none-selected-text=""
            data-none-results-text="Не найдено {0}">
          </select>
          {% endif %}
        </td>

        {% if not deal or not deal.posted %}
        <td class="col-2 align-middle">
          <span class="available"></span>
        </td>
        {% endif %}

        {% set var.all_sum = var.all_sum + (deal_consumable.price * deal_consumable.quantity) if deal_consumable.price
        %}
        <td class="col-2 align-middle">
          <span class="sum">{{ (deal_consumable.price * deal_consumable.quantity)|money }}</span>
          <span class="">₽</span>
        </td>

      </tr>
      {% endfor %}

      <input type="hidden" name="consumables_data">
    </tbody>
  </table>

  {% if not deal or not deal.posted %}
  <div class="d-flex">
    <div>
      <div class="m-3 gap-2 justify-content-start actions">
        <span class="">Отмеченно: </span>
        <span class="checks-count"></span>
      </div>
      <div class="m-3 gap-2 d-flex justify-content-start actions">
        <button class="btn rounded-3 delete-product" type="button" disabled>Удалить</button>
      </div>
    </div>
    <div class="m-3 ms-auto gap-2">
      {% if not deal or not deal.posted %}
      <button class="btn rounded-3 btn-primary" type="button" onclick="DealConsumablesFill()">Заполнить</button>
      <button class="btn rounded-3 btn-primary" type="button" onclick="newLine('#tabConsumables')">Добавить
        строку</button>
      <button class="btn rounded-3 " type="button">Отмена</button>
      {% endif %}
    </div>
  </div>
  {% endif %}

</div>
<div class="card h-100">
  <div class="d-flex justify-content-end align-items-center m-3">
    <table class="col-3">
      <tbody>
        <tr>
          <td>
            <span class="fs-4 fw-bolder">Общая сумма:</span>
          </td>
          <td>
            <span class="fs-4 fw-bolder all-sum">{{ var.all_sum|money }} ₽</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
{% endif %}

<script>
</script>
