<!-- Nothing or Products  -->
{% if deal and deal.posted and not deal.products %}
{% include 'partials/nothing.html' %}
{% else %}

<div id="tabProducts" class="card h-100">

  <!-- table  -->
  <table class="table text-nowrap table">
    <thead class="">
      <tr>
        {% if not deal or not deal.posted %}
        <th scope="col">
          <input class="form-check-input check-all" type="checkbox">
        </th>
        {% endif %}
        <th scope="col">Товар</th>
        <th scope="col" class="col-1">Цена</th>
        <th scope="col" class="col-1">Количество</th>
        <th scope="col">Склад</th>
        {% if not deal or not deal.posted %}
        <th scope="col">Доступно</th>
        {% endif %}
        <th scope="col">Сумма</th>
      </tr>
    </thead>
    <tbody>

      {% set var = namespace(count=0, all_sum=0) %}

      {% set deal_products = deal.products|to_json %}

      {% if not deal.posted and not deal_products %}
      {% set deal_products = [{'product_id': '', 'unit': 'шт'}] %}
      {% endif %}

      {% for deal_product in deal_products %}
      {% set var.count = var.count + 1 %}

      <tr class="product">
        {% if not deal or not deal.posted %}
        <td class="main-tab-checkbox">
          <input class="form-check-input to-check" type="checkbox" value="{{ deal_product.product_id }}">
        </td>
        {% endif %}
        <td class="col-4">
          <span class="line-count">{{ var.count }}.</span>

          {% if deal and deal.posted %}
          <span>{{ deal_product.product_name }}</span>
          {% else %}
          <select class="product-select" data-width="100%" data-live-search="true" data-none-selected-text=""
            data-none-results-text="Не найдено {0}">
            <option value="">-- Выберите товар или услугу --</option>
            {% for product in products %}
            <option value="{{ product.product_id }}" data-price="{{ product.price|smart_int }}"
              data-product-type="product" {{ 'selected' if product.product_id==deal_product.product_id }}>
              {{ product.mpn }}</option>
            {% endfor %}

            {% for option in options %}
            {% for value in option.values %}
            <option value="{{ value.option_value_id }}" data-price="{{ value.settings.price|smart_int }}"
              data-product-type="service" {{ value.description.name }} {{ 'selected' if
              value.option_value_id==deal_product.product_id }}>
              {{ value.description.name }}
            </option>
            {% endfor %}
            {% endfor %}

          </select>
          {% endif %}
        </td>
        <td class="col-xxl-2 col-xl-3">
          {% if deal and deal.posted %}
          <span class="money">{{ deal_product.price|money }} ₽</span>
          {% else %}
          <div class="input-group">
            <input type="number" step="any" class="form-control price"
              value="{{ deal_product.price|smart_int if deal_product.price }}" placeholder="0">
            <span class="input-group-text">₽</span>
          </div>
          {% endif %}
        </td>
        <td class="col-1">
          {% if deal and deal.posted %}
          <span>{{ deal_product.quantity|smart_int }} {{ deal_product.unit if deal_product.unit else 'шт' }}</span>
          {% else %}
          <div class="input-group">
            <input type="number" class="form-control quantity"
              value="{{ deal_product.quantity|smart_int if deal_product.quantity }}" placeholder="0">
            <span class="input-group-text quantity">{{ deal_product.unit if deal_product.unit else 'шт' }}</span>
          </div>
          {% endif %}
        </td>
        <td class="col-2">
          {% if deal and deal.posted %}
          <span>{{ deal_product.stock_name }}</span>
          {% else %}
          <select class="stock-select {{ 'visually-hidden' if deal_product.type == 'service' }}" data-width="100%"
            data-live-search="true" data-none-selected-text="" data-none-results-text="Не найдено {0}">
            {% for stock in stocks %}
            <option value="{{ stock.stock_id }}" {{ 'selected' if stock.stock_id==deal_product.stock_id }}>
              {{ stock.name }}</option>
            {% endfor %}
          </select>
          {% endif %}
        </td>
        {% if not deal or not deal.posted %}
        <td class="col-2 align-middle">
          <span class="available"></span>
        </td>
        {% endif %}

        {% set var.all_sum = var.all_sum + ( deal_product.price * deal_product.quantity) if deal_product.price %}
        <td class="col-2 align-middle">
          <span class="sum">{{ (deal_product.price * deal_product.quantity)|money if deal_product.price else 0 }}</span>
          <span class="">₽</span>
        </td>
      </tr>
      {% endfor %}

      <input type="hidden" name="products_data">
    </tbody>
  </table>

  {% if not deal or not deal.posted %}
  <div class="d-flex">
    <div>
      <div class="m-3 gap-2 justify-content-start actions">
        <span class="">Отмеченно: </span>
        <span class="checks-count"></span>
      </div>
      <div class="m-3 gap-2 d-flex justify-content-start actions">
        <button class="btn rounded-3 delete-product" type="button" disabled>Удалить</button>
      </div>
    </div>
    <div class="m-3 ms-auto gap-2">
      {% if not deal or not deal.posted %}
      <button class="btn rounded-3 btn-primary" type="button" onclick="newLine('#tabProducts')">Добавить
        строку</button>
      <button class="btn rounded-3 " type="button">Отмена</button>
      {% endif %}
    </div>
  </div>
  {% endif %}

</div>

<div class="card h-100">
  <div class="d-flex justify-content-end align-items-center m-3">
    <table class="col-3">
      <tbody>
        <tr class="">
          <td class="">
            <span class="fs-4 fw-bolder">Общая сумма:</span>
          </td>
          <td class="">
            <span class="fs-4 fw-bolder all-sum">{{ var.all_sum|money }} ₽</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
{% endif %}
