<!-- Sidebar -->
<nav class="navbar-vertical navbar">
  <div class="nav-scroller">
    <!-- Brand logo -->
    <a class="navbar-brand" href="">
      <img src="" alt="" />
    </a>
    <!-- Navbar nav -->
    <ul class="navbar-nav flex-column" id="sideNavbar">

      <!-- Nav item -->
      <li class="nav-item">
        <a class="nav-link has-arrow {{ 'collapsed' if '/site/' in request.path }}" href="#!" data-bs-toggle="collapse"
          data-bs-target="#navPages" aria-expanded="false" aria-controls="navPages">
          <i data-feather="layout" class="nav-icon icon-xs me-2"></i>
          Сайт
        </a>

        <div id="navPages" class="collapse {{ 'show' if '/site/' in request.path }}" data-bs-parent="#sideNavbar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link has-arrow {{ 'active' if url_for('options') in request.path }}"
                href="{{ url_for('options') }}">
                Опции
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link has-arrow {{ 'active' if url_for('categories') == request.path }}"
                href="{{ url_for('categories') }}">
                Категории
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link has-arrow " href="@@webRoot/pages/settings.html">
                Настройки
              </a>
            </li>


            <li class="nav-item">
              <a class="nav-link {{ 'active' if request.path == url_for('other_shops.shops') }}"
                href="{{ url_for('other_shops.shops') }}">
                Другие магазины
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="">
                Склад
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse"
                data-bs-target="#navMenuLevelSecond" aria-expanded="false" aria-controls="navMenuLevelSecond">
                Товары
              </a>
              <div id="navMenuLevelSecond" class="collapse {{ 'show' if url_for('products') in request.path }}"
                data-bs-parent="#navMenuLevel">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == url_for('products') }}"
                      href="{{ url_for('products') }}">
                      Товары
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == url_for('products', path='comparison') }}"
                      href="{{ url_for('products', path='comparison') }}">
                      Сопоставление
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == url_for('products', path='prices') }}"
                      href="{{ url_for('products', path='prices') }}">
                      Цены
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == url_for('work_plan') }}"
                      href="{{ url_for('work_plan') }}">
                      План работ
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{ 'active' if url_for('viewed_products') in request.path }}"
                      href="{{ url_for('viewed_products') }}">Просмотренные (отчет)</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>

      <!-- Nav item -->
      <li class="nav-item">
        <a class="nav-link has-arrow {{ 'collapsed' if '/crm/' not in request.path }}" href="#!"
          data-bs-toggle="collapse" data-bs-target="#navCrm" aria-expanded="false" aria-controls="navCrm">
          <i data-feather="clipboard" class="nav-icon icon-xs me-2"></i>
          Crm
        </a>

        <div id="navCrm" class="collapse {{ 'show' if '/crm/' in request.path }}" data-bs-parent="#sideNavbar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link {{ 'active' if 'deals' in request.path }}"
                href="{{ url_for('deal.deals', view=session.get('crm_view')) }}">
                Сделки
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link {{ 'active' if 'stock' in request.path }}" href="{{ url_for('stock.products') }}">
                Склад
              </a>
            </li>

          </ul>
        </div>
      </li>

    </ul>
  </div>
</nav>
