<script>
  feather.replace();

  // Actions

  // Open modal to confirm
  $("body").on("click", ".action-confirmation", function () {
    var $modal = $("#ModalConfirmation"),
      $btn = $(this),
      title = $btn.attr("data-title"),
      action = $btn.attr("data-action");

    if ($btn.attr("data-form")) {
      $modal.find(".action").attr("data-form", $btn.attr("data-form"));
    } else {
      $modal
        .find(".action")
        .attr("data-form", "#" + $btn.closest("form").attr("id"));
    }

    $modal.find(".modal-title").text(title);
    $modal.find(".action").attr("data-action", action);
    $modal.modal("toggle");
  });

  //
  $("body").on("click", ".action", function () {
    var $btn = $(this),
      checked = [];

    // If button not in form
    if ($btn.attr("data-form")) {
      var $form = $($btn.attr("data-form"));
    } else {
      var $form = $btn.closest("form");
    }

    // If info not in main form
    if ($btn.attr("data-form-info")) {
      var info = $($btn.attr("data-form-info")).serializeArray();
    } else {
      var info = $form.serializeArray();
    }

    $form.find(".to-check:checked").each(function () {
      checked.push($(this).val());
    });

    var data = {
      action: $btn.attr("data-action"),
      info: info,
      ids: checked,
    };
    SendingData(data, $btn, $form);
  });

  // Simple form
  $(document).on("click", ".simple-form-submit", function () {
    var $btn = $(this),
      $form = $btn.closest("form"),
      posting = $.post($form.attr("action"), $form.serialize());

    posting.done(function (data) {
      PageUpdate($btn);
    });
  });

  function SendingData(data, $btn, $form) {
    $.ajax({
      type: "POST",
      url: $form.attr("action"),
      data: JSON.stringify(data),
      contentType: "application/json; charset=utf-8",
      //dataType: 'json',
      success: PageUpdate($btn),
    }); //.done(PageUpdate($btn));
  }

  function PageUpdate($btn) {
    var apply_url = $btn.attr("data-apply-url");
    if (apply_url) {
      $btn.closest(".modal-body").load(apply_url);
    } else {
      $(".modal.show").each(function () {
        $(this).modal("hide");
      });
      setTimeout("location.reload()", 1000);
    }
  }

  // Modals
  function LoadToModal($modal, url) {
    $modal.find(".modal-body").load(url, function () {
      UpdateScripts($modal);
      $modal.modal("toggle");
    });
  }

  // Open Full Screen Modal
  $(".modal").on("shown.bs.modal", function () {
    var $modal = $(this);

    if (!$modal.find(".modal-fullscreen").length) {
      return false;
    }
    $modal.css("height", $(window).height());
    var $active_modals = $("body").find(".modal.show");
    if ($active_modals.length === 1) {
      return false;
    }
    var $modal = $(this);
    var z_index = $modal.css("z-index");

    $active_modals.each(function () {
      if ($(this).index() !== $modal.index()) {
        var this_z_index = parseInt($(this).css("z-index"));
        if (this_z_index > z_index) {
          z_index = this_z_index;
        }
        var $close_btn = $(this).find(".modal-close-label");
        $close_btn.css("top", "+=60");
        $close_btn.css("opacity", "50%");
      }
    });
    $modal.css("z-index", z_index + 1);
  });

  // Close Full Screen Modal
  $(".modal").on("hide.bs.modal", function () {
    var $modal = $(this);

    if (!$modal.find(".modal-fullscreen").length) {
      return true;
    }
    if (!$(".modal.show").length > 1) {
      return false;
    }
    var z_index = parseInt($modal.css("z-index"));
    var max_z_index = 0;

    $("body")
      .find(".modal.show")
      .each(function () {
        var this_z_index = parseInt($(this).css("z-index"));
        if (this_z_index !== z_index && this_z_index > max_z_index) {
          max_z_index = this_z_index;
        }
      });

    $("body")
      .find(".modal.show")
      .each(function () {
        if ($(this).index() !== $modal.index()) {
          var $close_btn = $(this).find(".modal-close-label");
          $close_btn.css("top", "-=60");
        }

        var this_z_index = parseInt($(this).css("z-index"));
        if (this_z_index == max_z_index) {
          $close_btn.css("opacity", "1");
        }
      });
  });

  // Update Page

  // Update Page After Change
  $(document).on("change", ".update-after-change select", function (e) {
    var $form = $(this).closest("form"),
      $modal_body = $(this).closest(".modal-body");

    // if modal
    if ($modal_body.length) {
      var posting = $.post($form.attr("action"), $form.serialize());

      posting.done(function (data) {
        var content = $(data);
        $modal_body.html(content);
        UpdateScripts($modal_body);
      });

      // if page
    } else {
      $form.submit();
    }
  });

  // Update Page After Click Pagination
  $(document).on("click", ".pagination a", function (e) {
    var $modal_body = $(this).closest(".modal-body"),
      url = $(this).attr("href");

    // if modal
    if ($modal_body.length) {
      e.preventDefault();
      $modal_body.empty().load(url, function () {
        UpdateScripts($modal_body);
      });
    }
  });

  feather.replace();
</script>
