<script>
  feather.replace();

  // Checkboxes
  // Check All
  $('body').on("change", '.check-all', function () {
    var $table = $(this).closest('table');
    $table.find('.to-check').prop('checked', $(this).is(':checked'));
    $table.find('.to-check:checkbox').trigger('change');
  })

  // Check Group
  $('body').on("change", '.check-group', function () {
    var $table = $(this).closest('table');
    $table.find('.' + this.id).prop('checked', $(this).is(':checked'));
    $table.find('.to-check:checkbox').trigger('change');
  })

  // Check Count
  $('body').on("change", '.to-check:checkbox', function () {
    var $table = $(this).closest('table'),
      $modal = $table.closest('.modal'),
      checked_count = $table.find('.to-check:checked').length,
      all_count = $table.find('.to-check').length;

    if ($modal.length) {
      var $box_actions = $table.closest('div[id]');

      var $btns = $box_actions.find('.actions .btn')
      $btns.prop('disabled', !checked_count > 0);
    } else {
      var $box_actions = $('.sticky-bottom.actions');
      if (checked_count > 0) {
        $box_actions.addClass('active');
      } else {
        $box_actions.removeClass('active');
      }
    }
    $box_actions.find('.checks-count').text(checked_count + ' / ' + all_count);
    $($table).find('.check-all').prop('checked', checked_count > 0);
  })

  // Actions
  $('body').on("click", '.action', function () {
    var $btn = $(this),
      checked = [];

    // If button not in form
    if ($btn.attr('data-form')) {
      var $form = $($btn.attr('data-form'));
    } else {
      var $form = $btn.closest('form');
    }

    // If info not in main form
    if ($btn.attr('data-form-info')) {
      var info = $($btn.attr('data-form-info')).serializeArray();
    } else {
      var info = $form.serializeArray();
    }

    $form.find('.to-check:checked').each(function () {
      checked.push($(this).val());
    });
    var data = {
      action: $btn.attr('data-action'),
      info: info,
      ids: checked
    }
    SendingData(data, $btn, $form)
  })

  function SendingData(data, $btn, $form) {
    $.ajax({
      type: "POST",
      url: $form.attr('action'),
      data: JSON.stringify(data),
      contentType: 'application/json; charset=utf-8',
      //dataType: 'json',
      success: PageUpdate($btn)
    })//.done(PageUpdate($btn));
  };

  function PageUpdate($btn) {
    var apply = $btn.hasClass('apply');
    if (apply) {
      $btn.closest('.modal-body').load(current_url);
    } else {
      $('.modal.show').each(function () {
        $(this).modal('hide');
      })
      setTimeout("location.reload()", 1000);
    }
  }
</script>
