<!-- Libs JS -->
<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
<script type="text/javascript" src="https://unpkg.com/feather-icons@4.29.0/dist/feather.min.js"></script>
<script src="{{ url_for('static', filename='js/prismjs/prism.js') }}"></script>
<!-- <script src="@@webRoot/node_modules/apexcharts/dist/apexcharts.min.js"></script> -->
<!-- <script src="@@webRoot/node_modules/dropzone/dist/min/dropzone.min.js"></script> -->
<!-- <script src="@@webRoot/node_modules/prismjs/plugins/toolbar/prism-toolbar.min.js"></script> -->
<!-- <script src="@@webRoot/node_modules/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script> -->




<!-- Theme JS -->
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/feather.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/sidebarMenu.js') }}"></script>


<!-- Bootstrap select -->
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-select/bootstrap-select.min.css') }}">
<script src="{{ url_for('static', filename='bootstrap-select/bootstrap-select.min.js') }}"></script>

<!-- Data Picker -->
<link rel="stylesheet" href="{{ url_for('static', filename='air-datepicker/air-datepicker.css') }}">
<script src="{{ url_for('static', filename='air-datepicker/air-datepicker.js') }}"></script>

<script>
  feather.replace();
</script>
