{# Блок таблицы #}
{% set table %}
  <thead>
    <tr>
      <th class="checkbox"><input class="form-check-input check-all" type="checkbox"></th>
      <th>Название</th>
      <th>Адрес</th>
      <th>Стадия</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    {% for deal in contact.deals %}
    {% set details = deal.get_json('details') or {} %}
      <tr>
        {# Чекбокс #}
        <td class="checkbox">{{ m.checkbox(deal.deal_id) }}</td>

        {# Ссылка #}
        <td>
          <a class="text-inherit" data-modal-id="DealInfoModal"
            data-url="{{ url_for('crm.deal.deal_info', deal_id=deal.deal_id) }}">{{ details.name }}
          </a>
        </td>

        <td>{{ details.adress }}</td>

        {# Стадия и дата #}
        <td>
          <span style="{{ 'color: ' + deal.stage.color or '' + ';' }}">{{ deal.stage.name }}</span>
          <br>{{ details.date_end|smart_date if details.date_end }}
        </td>

        {# Меню #}
        <td class="align-middle text-end">{{ m.table_btns_more(deal) }}</td>

      </tr>
    {% endfor %}
  </tbody>
{% endset %}
{{ m.table(table, contact.deals) }}
