{# Jinja2 #}

{% if not contact.deals %}
  {% include 'nothing.html' %}
{% else %}

  {# Блок таблицы #}
  {% set table %}
    <thead>
      <tr>
        <th class="checkbox"><input class="form-check-input check-all" type="checkbox"></th>
        <th>Название</th>
        <th>Стадия</th>
        <th>Дата</th>
      </tr>
    </thead>

    <tbody>

      {% for deal in contact.deals %}
        <tr>
          <td class="checkbox">
            <input class="form-check-input to-check" type="checkbox" value="{{ deal.deal_id }}">
          </td>

          <td>
            <a class="text-inherit" data-modal-id="ContactInfoModal"
              data-url="{{ url_for('crm.deal.deal_info', deal_id=deal.deal_id) }}">{{ deal.name }}
            </a>
          </td>

          <td style="{{ 'color: ' + deal.stage.color + ';' if deal.stage.color }}">
            {{ deal.stage.name }}
          </td>

          <td>{{ deal.info.date_end|smart_date if deal.info.date_end }}</td>

        </tr>
      {% endfor %}
    </tbody>
  {% endset %}
  {{ m.table(table) }}
{% endif %}
