{% extends "base.html" %}
{% set page_settings = {"title": "", "modal": True, "fullscreen": True} %}
{% import 'base_macro.html' as m with context %}

{% set details = contact.get_json('details') or {} %}

{% block content %}
<form id="ClientInfo" class="d-flex flex-column gap-3" action="{{ url_for('.contact_settings', contact_id=contact.contact_id) }}">

  {# Блок названия и кнопок #}
  {{ m.heading(contact.name or 'Новый контакт', obj=contact) }}

  {# Блок меню #}
  {{ m.menu_head([{'text': 'Общие', 'key': 'details', 'class': 'active'},
                  {'text': 'Сделки', 'key': 'deals', 'class': ''}]) }}

  {# Блок вкладок меню #}
  {% set details_tab %}
    <div class="row">
      <div class="col-xl-4 col-lg-12 col-md-12 col-12 d-flex flex-column gap-3">
        {% include 'contact/contact/details.html' %}
      </div>
      <div class="col-xl-8 col-lg-12 col-md-12 col-12 d-flex flex-column gap-3">
      </div>
    </div>
  {% endset %}
  {% set deals_tab %}{% include 'contact/contact/deals.html' %}{% endset %}

  {% set menu_tabs %}
    {{ m.menu_tab("details", details_tab, "show active") }}
    {{ m.menu_tab("deals", deals_tab, "") }}
  {% endset %}
  {{ m.menu_tabs(menu_tabs) }}

  {# Кнопки действий формы #}
  {{ m.form_actions(contact) }}

</form>
{% endblock %}
