{% extends "base.html" %}
{% set page_settings = {"title": "Сделки", "modal": False, "fullscreen": False} %}
{% import 'base_macro.html' as m with context %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<form class="d-flex flex-column gap-3" id="DealsForm" action="{{ url_for('.deals') }}">

  {# Блок названия и кнопок #}
  {% set heading_btns %}
    <input type="text" class="form-control border-0" id="filter" placeholder="Поиск">

    {% set filter = session.get('stage_type', '') %}
    <div class="d-flex gap-3 align-items-center col-auto">
      <div class="form-check">
        <label class="form-check-label">
        <input class="form-check-input stage-type" type="checkbox" value="in_work" {{ 'checked' if 'in_work' in filter }}>В работе</label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
        <input class="form-check-input stage-type" type="checkbox" value="end" {{ 'checked' if 'end' in filter }}>Завершенные</label>
      </div>
    </div>

    <input type="hidden" name="stage_type">
    <script>
      $('body').on('change', 'input.stage-type', function () {
        var checked = [];
        $('input.stage-type:checked').each(function() {
	        checked.push($(this).val());
        });
        $('[name=stage_type]').val(JSON.stringify(checked));

        $.ajax({
          type: "POST",
          url: '{{ url_for('.update_filter') }}',
          data: $('[name=stage_type]').serialize(),
          success: function () {
            window.location.href = "{{ url_for('.deals') }}";
          }
        });
      })
    </script>

    <a class="btn btn-primary" data-modal-id="DealInfoModal" data-url="{{ url_for('.deal_info') }}" >Создать</a>
  {% endset %}
  {{ m.heading("Сделки", heading_btns) }}


  <div>
    <hr>

    <div class="row align-items-center">
      <div class="">
        <div class="bg-gray-300 rounded-pill d-inline-block">
          <ul class="nav nav-lt-tab" id="pills-tab" role="tablist">

            {% set menu = {'Канбан': url_for('.deals', view='kanban'),
                           'Список': url_for('.deals', view='list')} %}

            {% for name, url in menu.items() %}
              <li class="nav-item">
                <a class="nav-link p-0 link-secondary {{ 'active' if url in request.path }}" href="{{ url }}">{{ name }}</a>
              </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
  </div>

  {% block deals_content %}{% endblock %}
</form>

<script src="{{ url_for('.static', filename='js/deal.js') }}"></script>
<script src="{{ url_for('.static', filename='js/stages.js') }}"></script>
{% include 'deal/deals_modals.html' %}
{% include 'deal/deals_scripts.html' %}
<script src="{{ url_for('.static', filename='js/products.js') }}"></script>

{% endblock %}
