{# Jinja2 #}

{% if not contact.deals %}
  {% include 'nothing.html' %}
{% else %}

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">

      <div class="card h-100">

        <div class="table-responsive">
          <table id="Deals" class="table text-nowrap">
            <thead class="">
              <tr>
                <th class="main-tab-checkbox">
                  <input class="form-check-input check-all" type="checkbox">
                </th>
                <th scope="col">Название</th>
                <th scope="col">Стадия</th>
                <th scope="col">Дата</th>
              </tr>
            </thead>

            <tbody>

              {% for deal in contact.deals %}
                <tr>
                  <td class="main-tab-checkbox">
                    <input class="form-check-input to-check" type="checkbox" value="{{ deal.deal_id }}">
                  </td>
                  <td>
                    <a class="open-modal text-inherit" data-modal-id="ContactInfoModal"
                      data-url="{{ url_for('.deal_info', deal_id=deal.deal_id) }}">{{ deal.name }}
                    </a>
                  </td>
                  <td>{{ deal.stage.name }}
                  <td>{{ deal.date_end|smart_date }}
                  </td>

                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
{% endif %}
