{# Jinja2 #}

{% if not worker.employments %}
  {% include 'nothing.html' %}
{% else %}

  {# Блок таблицы #}
  {% set table %}
    <thead>
      <tr>
        <th class="checkbox"><input class="form-check-input check-all" type="checkbox"></th>
        <th>Название</th>
      </tr>
    </thead>

    <tbody>

      {% for employment in worker.employments %}
        <tr>
          <td class="checkbox">
            <input class="form-check-input to-check" type="checkbox" value="{{ employment.employment_id }}">
          </td>
          <td>{{ employment.title }}</td>
          </td>

        </tr>
      {% endfor %}
    </tbody>
  {% endset %}
  {{ m.table(table) }}
{% endif %}
