{% extends "base.html" %}
{% block title %}  {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<!-- Container fluid -->
<form id="dealInfo" method="post" action="{{ url_for('.deal_info_update', deal_id=deal.deal_id if deal else None) }}">
<div class="container-fluid px-6 d-grid gap-3 mt-3 pb-80">

  {% include 'deal/deal_header.html' %}

  <!-- row  -->
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-detail" role="tabpanel" aria-labelledby="pills-detail-tab" tabindex="0">
          <div class="col-xl-4 col-lg-12 col-md-12 col-12 d-grid gap-3">
            {% include 'deal/deal_details.html' %}
          </div>
        </div>

        <div class="tab-pane fade" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab" tabindex="0">
          <div class="col-12 d-grid gap-3">
            {% include 'deal/deal_products.html' %}
          </div>
        </div>

        <div class="tab-pane fade" id="pills-consumables" role="tabpanel" aria-labelledby="pills-consumables-tab" tabindex="0">
          <div class="col-12 d-grid gap-3">
            {% include 'deal/deal_consumables.html' %}
          </div>
        </div>

        <div class="tab-pane fade" id="pills-expenses" role="tabpanel" aria-labelledby="pills-expenses-tab" tabindex="0">
          <div class="col-12 d-grid gap-3">
            {% include 'deal/deal_expenses.html' %}
          </div>
        </div>

        <div class="tab-pane fade" id="pills-analytics" role="tabpanel" aria-labelledby="pills-analytics-tab" tabindex="0">
          <div class="col-12 d-grid gap-3">
            {% include 'deal/deal_analytics.html' %}
          </div>
        </div>

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">...
        </div>
        <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">...
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sticky-bottom-box">
  <div class="sticky-bottom actions bg-white py-2">
    <button type="submit" form="dealInfo" class="btn btn-salato">Сохранить</button>
    <button class="btn btn-transparent rounded-3" type="reset">Отмена</button>
  </div>
</div>

<input type="hidden" class="posting" name="posting">
<input type="hidden" class="old-stage" name="old_stage">
</form>


{% include 'deal/deal_modals.html' %}
{% include 'deal/deal_scripts.html' %}
{% endblock %}
