{# Jinja2 #}
{% set details = deal.details|to_json if deal and deal.details else {} %}


<div class="crm-editor-section">
  <div class="crm-editor-section-header">
    <span class="crm-editor-section-header-text">О сделке</span>
  </div>

  <div class="crm-editor-section-body">
    <div class="d-grid gap-2">

      {% if not deal %}
      <div class="d-grid">
        <label class="deal-info-block-title">Название</label>
        <input type="text" class="form-control border" placeholder="Сделка #" name="deal_name"
          value="{{ deal.name if deal.name }}">
      </div>
      {% endif %}

      <div class="d-grid">
        <label class="deal-info-block-title">Сумма</label>
        {% if deal %}
        <span class="deal-info-edit-link">{{ deal.sum|money }} ₽</span>
        {% endif %}
        <input type="number" step="any" class="form-control border {{ 'visually-hidden' if deal }} to-show"
          name="deal_sum" value="{{ deal.sum }}">
      </div>

      <div id="contact">
        <label class="deal-info-block-title">Клиент</label>

        <div class="to-hidden">
          {% if deal.contact %}
            <h5>{{ deal.contact.name}}</h5>
            <span class="deal-info-contact">{{ deal.contact.phone|smart_phone }}</span>
            <span class="deal-info-contact">{{ deal.contact.email}}</span>
          {% endif %}

          <div class="{{ 'visually-hidden' if deal and deal.contact }}">
            <select id="contactSelect" data-placeholder="-- Выбрать --" name="contact_id"></select>
          </div>
        </div>

        <div class="to-show visually-hidden">
          <div class="d-grid gap-2 deal-info-client">

            <div class="d-grid">
              <label class="deal-info-block-title">Контакт</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i data-feather="user" height="20px" width="20px" color="#a3a9b1" stroke-width="1"></i>
                </span>
                <input type="text" class="form-control border" name="contact_name"
                  value="{{ deal.contact.name if deal }}">
              </div>
            </div>

            <div class="d-grid">
              <label class="deal-info-block-title">Телефон</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i data-feather="phone" height="20px" width="20px" color="#a3a9b1" stroke-width="1"></i>
                </span>
                <input type="phone" class="form-control border" name="contact_phone"
                  value="{{ deal.contact.phone if deal }}">
              </div>

            </div>

            <div class="d-grid">
              <label class="deal-info-block-title">E-mail</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i data-feather="mail" height="20px" width="20px" color="#a3a9b1" stroke-width="1"></i>
                </span>
                <input type="email" class="form-control border" name="contact_email"
                  value="{{ deal.contact.email if deal }}">
              </div>
            </div>

          </div>
        </div>

      </div>


    </div>
  </div>
</div>

<!-- Details  -->
<div class="crm-editor-section">

  <div class="crm-editor-section-header">
    <span class="crm-editor-section-header-text">Детали</span>
  </div>

  <div class="crm-editor-section-body">
    <div class="d-grid gap-2">

      <div class="d-grid">
        <label class="deal-info-block-title">Что интересует</label>
        {% if details.get('what_need') %}
        <span class="deal-info-edit-link">{{ details.get('what_need') }}</span>
        {% endif %}
        <div class="{{ 'visually-hidden' if details.get('what_need') }} to-show">
          <select class="general-select" data-placeholder="-- Выбрать --" name="what_need" data-class="border">
            <option></option>
            <option {{ 'selected' if details.get('what_need')=='Кондицонер + установка' }}>
              Кондицонер + установка
            </option>
            <option {{ 'selected' if details.get('what_need')=='Только кондиционер' }}>
              Только кондиционер
            </option>
            <option {{ 'selected' if details.get('what_need')=='Только установка' }}>
              Только установка
            </option>
            <option {{ 'selected' if details.get('what_need')=='Другое' }}>Другое</option>
          </select>
        </div>
      </div>

      <div class="d-grid">
        <label class="deal-info-block-title">Адрес</label>
        {% if details.get('adress') %}
        <span class="deal-info-edit-link">{{ details.get('adress') }}</span>
        {% endif %}
        <input type="text" class="form-control border {{ 'visually-hidden' if details.get('adress') }} to-show"
          name="adress" value="{{ details.get('adress') if details.get('adress') }}">
      </div>

      <div class="d-grid">
        <label class="deal-info-block-title">Комментарий</label>
        {% if details.get('deal_comment') %}
        <span class="deal-info-edit-link">{{ details.get('deal_comment') }}</span>
        {% endif %}
        <textarea class="form-control border {{ 'visually-hidden' if details.get('deal_comment') }} to-show"
          name="deal_comment">{{ details.get('deal_comment') if details.get('deal_comment') }}</textarea>
      </div>

    </div>
  </div>
</div>

<div id="accordionServices" class="accordion crm-editor-section">

  <div class="crm-editor-section-header">
    <span
      class="crm-editor-section-header-text accordion-button {{ 'collapsed' if not details.get('what_need') or 'установка' not in details.get('what_need') }}"
      data-bs-toggle="collapse" data-bs-target="#collapseServices" aria-expanded="true"
      aria-controls="collapseServices">Услуги</span>
  </div>

  <div id="collapseServices"
    class="crm-editor-section-body accordion-collapse collapse {{ 'show' if details.get('what_need') and 'установка' in details.get('what_need') }}"
    data-bs-parent="">
    <div class="d-grid gap-2">

      <div class="d-grid">
        <label class="deal-info-block-title">Дата и время выезда</label>
        <div id="DealEmployments" class="deal-info-edit-link-employments">
          <span class="deal-info-edit-link-booking">Для выбора сохраните сделку</span>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="accordion crm-editor-section" id="accordionOther">
  <div class="crm-editor-section-header">
    <span class="crm-editor-section-header-text accordion-button collapsed" data-bs-toggle="collapse"
      data-bs-target="#collapseOther" aria-expanded="true" aria-controls="collapseOther">Другое</span>
  </div>

  <div id="collapseOther" class="crm-editor-section-body accordion-collapse collapse"
    data-bs-parent="#accordionExample">
    <div class="mb-3 row d-grid gap-2">
      <div class="d-grid">
        <label class="deal-info-block-title">Дата завершения</label>
        {% if deal and deal.date_end %}
        <span class="deal-info-edit-link">{{ deal.date_end|smart_date }}</span>
        {% endif %}
        <input type="datetime-local"
          class="form-control border {{ 'visually-hidden' if deal and deal.date_end }} to-show datepicker"
          name="date_end" value="{{ deal.date_end|string if deal and deal.date_end }}">
      </div>
    </div>
  </div>

</div>
