<!-- Modal to close deal -->
<!-- Modal -->
<div class="modal fade" id="closeDeal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Какой результат?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body d-flex gap-2 justify-content-center">

        {% for stage in stages if 'end_' in stage.type %}

        <input type="radio" class="btn-check end-stage" id="stage_{{ stage.stage_id }}" {{ 'checked' if
          stage.stage_id==deal.stage_id }} value="{{ stage.stage_id }}">
        <label class="btn mb-2 text-white" style="{{ 'background: ' + stage.color + ';' if stage.color }}"
          for="stage_{{ stage.stage_id }}">
          {{ stage.name }}
        </label>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
<script>

  $('#closeDeal').on("change", '.end-stage', function () {
    $('#dealInfo').find('.old-stage').val($('#dealInfo').find('[name=stages]').val())
    $('#dealInfo').find('[name=stages]').val($(this).val())
    $('#dealInfo').find('.posting').val('true')
    $('#dealInfo').submit()
  })
</script>

<!-- Modal Booking -->
<div class="modal fade" id="BookingModal" tabindex="-1" role="dialog" aria-labelledby="BookingModal" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen w-90" role="document">
    <div class="modal-content bg-light">
      <div class="modal-close-label">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
