<script>

  var current_url = "{{ url_for('.deal_info',deal_id=deal.deal_id) }}"
  var stocks = {}

  // Start
  async function DealStart() {
    await getProductsInStocks();
    $('#DealInfo').find('tr.product').each(function () {
      var $this = $(this);
      updateStocks($this);
      ProductAvailable($this);
      $this.find('select').selectpicker()
    });
  }
  {% if not deal or not deal.posted %}
  DealStart();
  {% endif %}

  // Products in stocks
  function getProductsInStocks() {
    return fetch("{{url_for('stock.json_products_in_stocks') }}", {
      method: 'GET',
      headers: {
        "Content-type": "application/json; charset=UTF-8"
      }
    })
      .then(res => res.json())
      .then(data => window.stocks = data)
  }

  function updateStocks($tr) {
    var $select = $tr.find('select.stock-select'),
      stock_id = $select.val();
    $select.empty();
    $select.selectpicker('destroy');

    var $product_selected = $tr.find('select.product-select').find(':selected'),
      product_id = $product_selected.val(),
      unit = $product_selected.attr('data-product-unit');

    if (stocks[product_id]) {

      for (let i = 0; i < (stocks[product_id]).length; i++) {
        var newOption = new Option(`${stocks[product_id][i].stock_name}`, `${stocks[product_id][i].stock_id}`);
        newOption.setAttribute('data-subtext', `${stocks[product_id][i].quantity}` + ` ${unit}`);
        if (+stocks[product_id][i].stock_id === +stock_id) {
          $(newOption).prop('selected', true);
        }
        $select.append(newOption);
        $tr.find('.input-group-text.quantity').text(unit);
      }
      $select.prop('disabled', false);
    }
    else {
      $select.prop('disabled', true);
    }
    $select.selectpicker();
  };

  function ProductAvailable($tr) {
    $tr.find('.available').text('');
    $product_select = $tr.find('select.product-select').find(':selected');
    if ($product_select.val()) {
      available = $tr.find('select.stock-select option:selected').attr('data-subtext');
      $tr.find('.available').text(available);
    }
  }

  function UpdateSum($tr) {
    var quantity = $tr.find('.quantity').val(),
      price = $tr.find('.price').val(),
      sum = price * quantity;
    $tr.find('.sum').text(ToMoney(sum))
    UpdateAllSum($tr.closest('div[id]'))
  }

  function UpdateAllSum($tab) {
    var all_sum = 0;
    $tab.find('.sum').each(function () {
      all_sum += FromMoney($(this).html())
    });
    all_sum = ToMoney(all_sum);
    $tab.parent().find('.all-sum').text(all_sum)
  }

  function ToMoney(number) {
    if (parseInt(number) === number) {number = parseInt(number)}
    return Intl.NumberFormat("ru", {currency: "RUB"}).format(number);
  }

  function FromMoney(string) {
    string = string.replace('&nbsp;', '')
    string = string.replace(' ', '')
    string = string.replace(',', '.')
    return parseFloat(string)
  }

  function floatOrZero(number) {
    return parseFloat(number) ? number : 0
  }

  // Change Trigers
  $('body').on('change', 'select.product-select', function () {
    var $tr = $(this).closest('tr');
    updateStocks($tr);
    ProductAvailable($tr);

    var $option = $(this).find(':selected'),
      price = $option.attr('data-price'),
      type = $option.attr('data-product-type'),
      quantity = $tr.find('.quantity').val();

    $tr.find('.price').val(price);
    $tr.find('.sum').text(price * quantity);
    $tr.find('.product-type').val(type);

    if (type === 'service') {
      $tr.find('.stock-select').addClass('visually-hidden');
    } else {
      $tr.find('.stock-select').removeClass('visually-hidden');
    }
  })

  $('body').on('change', 'select.stock-select', function () {
    ProductAvailable($(this).closest('tr'))
  })

  $('body').on('change', 'input.quantity', function () {
    UpdateSum($(this).closest('tr'))
  })

  $('#tabProducts').on("change", 'input.price', function () {
    UpdateSum($(this).closest('tr'))
  })


  // Fields
  function newLine($tab, $new_line = '') {
    if ($new_line === '') {
      var $line = $tab.find('tr.product').eq(-1);
      $line.find('select').selectpicker('destroy')
      var $new_line = $($line).clone();
      $new_line.appendTo($tab.find('tbody'));
      $line.find('select').selectpicker();
    } else {
      $new_line.find('select').selectpicker('destroy');
    }

    var count = $tab.find('tr.product').length;
    $new_line.find('input').val('');
    $new_line.find('.to-check').prop('checked', false);
    $new_line.find('.to-check').trigger('change');
    $new_line.find('.line-count').text(count + '.');
    $new_line.find('.input-group-text.quantity').text(' шт');
    $new_line.find('.available').text('');
    $new_line.find('.sum').text('0');
    $new_line.find('select.product-select').val('')
    $new_line.find('select.stock-select').empty();
    $new_line.find('select.stock-select').prop('disabled', true)

    $new_line.find('select').selectpicker()
    $new_line.find('select.product-select').selectpicker('toggle');
    $tab.find('.to-check:checkbox').trigger('change');
  }

  // Data To Server
  $('#DealInfo').on("click", '.btn-to-submit', function () {
    var deal_sum = $('#pills-product').find('.all-sum').html();
    $('[name=deal_sum]').val(FromMoney(deal_sum));

    var $btn = $(this),
      $form = $btn.closest('form'),
      products = [],
      expenses = [],
      consumables = [];

    // products
    $form.find('#tabProducts').find('tr.product').each(function () {
      var $this = $(this),
        product_id = +$this.find('select.product-select').val();
      if (product_id) {
        var item = {
          product_id: product_id,
          type: $this.find(':selected').attr('data-product-type'),
          price: floatOrZero($this.find('.price').val()),
          quantity: floatOrZero($this.find('.quantity').val()),
          stock_id: +$this.find('select.stock-select').val()
        }
        products.push(item);
      }
    })

    // consumables
    $form.find('#tabConsumables').find('tr.product').each(function () {
      var $this = $(this),
        product_id = +$this.find('select.product-select').val();
      if (product_id) {
        var item = {
          product_id: product_id,
          price: floatOrZero($this.find('.price').val()),
          quantity: floatOrZero($this.find('.quantity').val()),
          stock_id: +$this.find('select.stock-select').val()
        }
        products.push(item);
      }
    })

    // expenses
    $form.find('#tabExpenses').find('tr.product').each(function () {
      var $this = $(this),
        name = $this.find('input.expense-name').val();
      if (name) {
        var item = {
          name: name,
          sum: floatOrZero($this.find('input.expense-sum').val()),
          quantity: floatOrZero($this.find('.quantity').val()),
          stock_id: +$this.find('select.stock-select').val()
        }
        products.push(item);
      }
    });

    var data = {
      action: $btn.attr('data-action'),
      info: decodeURI($form.serialize()),
      products: products,
      consumables: consumables,
      expenses: expenses
    }
    SendingData(data, $btn, $form)
  })


  // Delete line
  $('.delete-product').on("click", function () {
    var $tab = $(this).closest('div[id]');
    $tab.find('.to-check:checked').each(function () {
      if ($tab.find('tr.product').length > 1) {
        $(this).closest('tr').remove();
      } else {
        newLine($tab, $(this).closest('tr'));
      }
    });
    $tab.find('.to-check:checkbox').trigger('change');
    LineCount($tab);
  })

  // Line Count
  function LineCount($tab) {
    var count = 1;
    $tab.find('tr.product').each(function () {
      $(this).find('.line-count').text(count + '.');
      count += 1;
    });
  }

  // Fill Consumables
  var url_get_consumables_in_option = "{{ url_for('stock.json_consumables_in_option') }}"

  function DealConsumablesFill() {
    $('#tabConsumables').find('tr.product').each(function () {
      var $tab = $(this).closest('div[id]');
      if ($tab.find('tr.product').length > 1) {
        $(this).closest('tr').remove();
      } else {
        newLine($tab, $(this).closest('tr'));
      }
    });

    $('#tabProducts').find('select.product-select').each(function (index, element) {
      var type = $(this).find(':selected').attr('data-product-type');
      if (type === 'service') {
        var $tr = $(this).closest('tr'),
          option_quantity = $tr.find('.quantity').val(),
          option_value_id = $tr.find('select.product-select').find(':selected').val(),
          url = url_get_consumables_in_option + '/' + option_value_id;

        DealConsumablesFillAdd(url, option_quantity);
      }
    });
  }

  async function DealConsumablesFillAdd(url, option_quantity) {
    await getConsumablesInOption(url);

    if (consumables_in_option.length > 0) {
      var first_line = true;
      for (let i = 0; i < consumables_in_option.length; i++) {
        var product_find = false

        $('#tabConsumables').find('select.product-select').each(function (index, element) {
          if (+$(element).val() === +consumables_in_option[i].product_id) {
            var $tr = $(this).closest('tr'),
              quantity = $(tr).find('.quantity').val();
            quantity = +quantity + +option_quantity * +consumables_in_option[i].quantity;
            $tr.find('.quantity').val(quantity)

            product_find = true
          }

        });
        if (!product_find) {
          consumables_in_option[i].quantity = +option_quantity * +consumables_in_option[i].quantity

          if (first_line !== true) {
            newLine($('#tabConsumables'))
          } else first_line = false;
          var $tr = $('#tabConsumables').find('tr.product').eq(-1)
          $tr.find('select.product-select').val(consumables_in_option[i].product_id);
          $tr.find('.quantity').val(consumables_in_option[i].quantity);
          var price = 0;
          if (stocks[consumables_in_option[i].product_id]) {
            price = stocks[consumables_in_option[i].product_id][0].cost;
          }
          $tr.find('.price').val(price);
        }
      }

      $('#tabConsumables').find('tr.product').each(function () {
        var $this = $(this);
        $this.find('select').selectpicker('destroy');
        updateStocks($this);
        ProductAvailable($this);
        UpdateSum($this)
        $this.find('select').selectpicker()
      });
    }
  }

  var consumables_in_option = {}
  function getConsumablesInOption(url) {
    return fetch(url, {
      method: 'GET',
      headers: {
        "Content-type": "application/json; charset=UTF-8"
      }
    })
      .then(res => res.json())
      .then(data => window.consumables_in_option = data)
  }

  // Stages
  StegesColor();

  function StegesColor() {
    var after_checked = false;
    $('#DealInfo').find('.stage').each(function () {
      var $this = $(this),
        color = $('#DealInfo').find('.stage').find(':checked').closest('div').css('--deal-stage-color');

      if (!after_checked) {
        $this.find('label').css('background', color)
        $this.find('label').css('color', '#fff')
        $this.find('.deal-stage-line').addClass('visually-hidden')
      } else {
        $this.find('label').css('background', '#dfe3e8')
        $this.find('label').css('color', '#525c68')
        $this.find('.deal-stage-line').removeClass('visually-hidden')
      }

      if ($this.find('input').is(':checked')) {
        after_checked = true;
      }
    });
  }

  $('#DealInfo').on('change', '.stage input', function () {
    var color = $('#DealInfo').find('.stage').find(':checked').closest('div').find('label').text();
    StegesColor();
  })

  // Event Modified
  $('#DealInfo').on('change', PageModified)

  function PageModified() {
    $('#DealInfo').find('.sticky-bottom').addClass('active')
  }

  // Cancel Modified
  $('#DealInfo').on("click", '[type=reset]', function () {
    // location.reload();
    LoadDeal("{{deal.deal_id}}");
  });

  // Show Services
  $('body').on('change', 'select[name=what_need]', function () {
    if ($(this).val().indexOf('установка') + 1) {
      $('body').find('.services').removeClass('visually-hidden')
    } else {
      $('body').find('.services').addClass('visually-hidden')
    }
  })

  // New Contact In Select
  $('body').on('click', '.select-new-container', function () {
    var $contact_box = $('#contact');
    $contact_box.find('.to-hidden').addClass('visually-hidden');
    $contact_box.find('.to-show').removeClass('visually-hidden');
  });

  // Show inputs
  $('body').on('click', '.deal-info-edit-link', function () {
    var $this = $(this);
    $this.addClass('visually-hidden');

    var $input = $this.next();
    $input.removeClass('visually-hidden');

    if ($input.is('input')) {
      data = $input.val();
      $input.focus().val('').val(data);;
    }
  });

  // Show Edit Deal Name
  $('body').on('click', '.deal-info-title', function () {
    var $this = $(this);
    $this.addClass('visually-hidden');

    var $input = $this.next()
    $input.removeClass('visually-hidden');
    data = $input.val();
    $input.focus().val('').val(data);;
  });

  // Show Contact Info
  $('body').on('click', '.deal-info-contact', function () {
    var $this = $(this);
    $this.parent().addClass('visually-hidden');
    $this.parent().next().removeClass('visually-hidden');
  });

  $('body').find('input.datepicker').each(function () {
    new AirDatepicker(this, {
      position: 'right center',
    })
  })

  {% if deal %}

  // Modal Booking
  var need_load_deal_employments = true;
  $('body').on('click', '#deal_employments', function () {

    if (need_load_deal_employments) {
      GetDataToBooking();
    } else {
      $('#BookingModal').modal('show');
    }
  });

  function GetDataToBooking() {
    var $modal = $('#BookingModal');
    $modal.modal('hide');
    var url = "{{ url_for('.deal_booking',deal_id=deal.deal_id) }}";
    $modal.find('.modal-body').empty();
    $modal.find('.modal-body').load(url, function () {
      need_load_deal_employments = false;
      $modal.modal('show');
    });
  }


  // Update Deal Employments
  UpdateDealEmployments();
  function UpdateDealEmployments() {
    $('body').find('#deal_employments').load("{{ url_for('.deal_employments',deal_id=deal.deal_id) }}");
  };

  // $('#event_save').on("click", function () {
  $('#BookingModal').on("click", '#event_save', function () {
    UpdateDealEmployments();
  });

  {% endif %}

  // End of Deal
  $('#closeDeal').on("change", '.end-stage', function () {
    var $form = $('#DealInfo');
    $form.find('.old-stage').val($('#DealInfo').find('[name=stages]').val())
    $form.find('[name=stages]').val($(this).val())
    $form.find('.posting').val('true')
    $form.submit()
  })


</script>
