<script>
  var current_url = "{{ url_for('.deal_info',deal_id=deal.deal_id) }}";

  $("#DealInfo")
    .find("tr.product")
    .each(function () {
      UpdateProductSelect($(this));
    });

  function UpdateProductSelect($tr) {
    var productSelect = $tr.find("select.product-select");

    productSelect
      .select2({
        theme: "bootstrap-5",
        width: "300px",
        dropdownParent: $tr.closest("div[id]"),
        dropdownAutoWidth: true,
        selectionCssClass: productSelect.data("class"),
        ajax: {
          delay: 250,
          url: productSelect.data("url"),
          dataType: "json",
          data: function (params) {
            var query = {
              search: params.term,
              page: params.page || 1,
            };
            return query;
          },
        },
      })
      .on("select change", function (evt, config) {
        var data = $(this).select2("data")[0],
          productSelected = $(this).find(":selected"),
          $tr = $(this).closest("tr");
        if (data != undefined) {
          // console.log(data); // выведет в консоль дополнительные данные
          $tr.find(".price").val(data.price);
          $tr.find(".input-group-text.quantity").text(data.unit);
          productSelected.attr("data-product-type", data.type);
        }
        $tr.find("select.stock-select").empty();
        UpdateStockSelect($tr);
      });
    UpdateStockSelect($tr);
  }

  function UpdateStockSelect($tr) {
    var $stockSelect = $tr.find("select.stock-select"),
      $productSelected = $tr.find("select.product-select :selected"),
      product_id = $productSelected.val();

    if ($productSelected.attr("data-product-type") === "service") {
      if ($stockSelect.hasClass("select2-hidden-accessible")) {
        $stockSelect.select2("destroy");
      }
      $stockSelect.addClass("visually-hidden");
      return false;
    } else {
      $stockSelect.removeClass("visually-hidden");
    }

    $stockSelect.prop("disabled", !product_id);

    $stockSelect
      .select2({
        theme: "bootstrap-5",
        width: "200px",
        dropdownParent: $tr.closest("div[id]"),
        templateResult: formatStockOption,
        dropdownAutoWidth: true,
        selectionCssClass: $stockSelect.data("class"),
        ajax: {
          delay: 250,
          url: "{{ url_for('.ajax_stocks') }}",
          dataType: "json",
          data: function (params) {
            var query = {
              search: params.term,
              page: params.page || 1,
              product_id: +product_id,
            };
            return query;
          },
        },
      })
      .on("select change", function (evt, config) {
        var data = $(this).select2("data")[0],
          $tr = $(this).closest("tr");

        var quantity =
          data.quantity || $stockSelect.find(":selected").attr("data-quantity");
        $tr.find(".available").text(quantity);
      });

    if (!product_id) {
      return false;
    }

    var url =
      "{{ url_for('.ajax_stocks_first') }}" + "?product_id=" + product_id;
    if ($stockSelect.val()) {
      url += "&stock_id=" + $stockSelect.val();
    }
    $.ajax({
      type: "GET",
      url: url,
      dataType: "json",
    }).then(function (data) {
      var option = new Option(data.text, data.id, true, true);
      $(option).attr("data-quantity", data.quantity);
      $stockSelect.empty().append(option).trigger("change");

      $tr.find(".available").text(data.quantity);

      $stockSelect.trigger({
        type: "select2:select",
        params: {
          data: data,
        },
      });
    });
  }

  function formatStockOption(stock) {
    var $stock = $(
      '<span class="text">' +
      stock.text +
      '<small class="text-muted">' +
      stock.quantity +
      "</small></span>",
    );
    return $stock;
  }

  // Select2 Contacts
  $("#contactSelect")
    .select2({
      theme: "bootstrap-5",
      width: "100%",
      dropdownParent: "#pills-detail",
      templateResult: formatContactOption,
      dropdownAutoWidth: true,
      selectionCssClass: "border",
      language: {
        noResults: function () {
          return "Ничего не найдено";
        },
      },
      escapeMarkup: function (markup) {
        return markup;
      },
      ajax: {
        delay: 250,
        url: "{{ url_for('.ajax_contacts') }}",
        dataType: "json",
        data: function (params) {
          var query = {
            search: params.term,
            page: params.page || 1,
          };
          return query;
        },
      },
    })
    .on("select2:open", () => {
      $(".select2-results:not(:has(button))").append(
        "<div class='select-new-container'><div class='select-new-name'></div><div class='select-new-text'>создать новый контакт</div></div>",
      );
    });

  function formatContactOption(contact) {
    var $contact = '<span class="text">' + contact.text;
    if (contact.phone || contact.email) {
      $contact +=
        '<br><small class="text-muted">' +
        contact.phone +
        (contact.phone && contact.email ? ", " : "") +
        contact.email +
        "</small>";
    }
    $contact += "</span>";

    return $($contact);
  }

  function UpdateSum($tr) {
    var quantity = $tr.find(".quantity").val(),
      price = $tr.find(".price").val(),
      sum = price * quantity;
    $tr.find(".sum").text(ToMoney(sum));
    UpdateAllSum($tr.closest("div[id]"));
  }

  function UpdateAllSum($tab) {
    var all_sum = 0;
    $tab.find(".sum").each(function () {
      all_sum += FromMoney($(this).html());
    });
    all_sum = ToMoney(all_sum);
    $tab.parent().find(".all-sum").text(all_sum);
  }

  function ToMoney(number) {
    if (parseInt(number) === number) {
      number = parseInt(number);
    }
    return Intl.NumberFormat("ru", {currency: "RUB"}).format(number);
  }

  function FromMoney(string) {
    string = string.replaceAll("&nbsp;", "");
    string = string.replaceAll(" ", "");
    string = string.replace(",", ".");
    return parseFloat(string);
  }

  // Change Trigers
  $("body").on("change", "input.quantity", function () {
    UpdateSum($(this).closest("tr"));
  });

  $("#tabProducts").on("change", "input.price", function () {
    UpdateSum($(this).closest("tr"));
  });

  // Fields
  function newLine(tab, $new_line = "") {
    var $tab = $(tab);
    if ($new_line === "") {
      var $line = $tab.find("tr.product").eq(-1);

      $line.find("select").each(function () {
        if ($(this).hasClass("select2-hidden-accessible")) {
          $(this).select2("destroy");
        }
      });

      var $new_line = $line.clone();
      $new_line.appendTo($tab.find("tbody"));

      UpdateProductSelect($line);
    }

    var count = $tab.find("tr.product").length;
    $new_line.find("input").val("");
    $new_line.find(".to-check").prop("checked", false).trigger("change");
    $new_line.find(".line-count").text(count + ".");
    $new_line.find(".input-group-text.quantity").text(" шт");
    $new_line.find(".available").text("");
    $new_line.find(".sum").text("0");
    $new_line.find("select").empty();

    UpdateProductSelect($new_line);
    $("#tabProducts").find(".table-responsive").animate({scrollLeft: 0}, 0);
    $new_line.find("select.product-select").select2("open");
  }

  // Delete line
  $(".delete-product").on("click", function () {
    var $tab = $(this).closest("div[id]");
    $tab.find(".to-check:checked").each(function () {
      if ($tab.find("tr.product").length > 1) {
        $(this).closest("tr").remove();
      } else {
        newLine($tab, $(this).closest("tr"));
      }
    });
    $tab.find(".to-check:checkbox").trigger("change");
    LineCount($tab);
  });

  // Line Count
  function LineCount($tab) {
    var count = 1;
    $tab.find("tr.product").each(function () {
      $(this)
        .find(".line-count")
        .text(count + ".");
      count += 1;
    });
  }

  // Data To Server
  $("#DealInfo").on("click", ".btn-to-submit", function () {
    var deal_sum = $("#pills-product").find(".all-sum").html();
    $("[name=deal_sum]").val(FromMoney(deal_sum));

    var $btn = $(this),
      $form = $btn.closest("form"),
      products = [],
      expenses = [],
      consumables = [];

    // Обновление модульного у новой сделки
    var $modal = $form.closest(".modal");
    var modal_url = $modal.attr("data-url").replaceAll("=0", "=last");
    $modal.attr("data-url", modal_url);

    // products
    $form
      .find("#tabProducts")
      .find("tr.product")
      .each(function () {
        var $tr = $(this),
          $product = $tr.find("select.product-select"),
          product_id = +$product.val();
        if (product_id) {
          var item = {
            product_id: product_id,
            type: $product.find(":selected").attr("data-product-type"),
            name: $product.find(":selected").html(),
            unit: $tr.find(".input-group-text.quantity").html(),
            price: +$tr.find(".price").val() || 0,
            quantity: +$tr.find(".quantity").val() || 0,
            stock_id: +$tr.find("select.stock-select").val(),
            stock_name: $tr
              .find("select.stock-select")
              .find(":selected")
              .html(),
          };
          products.push(item);
        }
      });

    // consumables
    $form
      .find("#tabConsumables")
      .find("tr.product")
      .each(function () {
        var $tr = $(this),
          $product = $tr.find("select.product-select"),
          product_id = +$tr.find("select.product-select").val();
        if (product_id) {
          var item = {
            product_id: product_id,
            name: $product.find(":selected").html(),
            unit: $tr.find(".input-group-text.quantity").html(),
            price: +$tr.find(".price").val() || 0,
            quantity: +$tr.find(".quantity").val() || 0,
            stock_id: +$tr.find("select.stock-select").val(),
            stock_name: $tr
              .find("select.stock-select")
              .find(":selected")
              .html(),
          };
          consumables.push(item);
        }
      });

    // expenses
    $form
      .find("#tabExpenses")
      .find("tr.product")
      .each(function () {
        var $tr = $(this),
          name = $tr.find("input.expense-name").val(),
          sum = +$tr.find("input.expense-sum").val();
        if (name || sum) {
          var item = {
            name: name,
            sum: sum || 0,
          };
          expenses.push(item);
        }
      });

    var data = {
      action: $btn.attr("data-action"),
      info: $form.serializeArray(),
      products: products,
      consumables: consumables,
      expenses: expenses,
    };
    SendingData($form.attr("data-url"), data, $btn, $btn.closest(".modal"));
    $(".sticky-bottom").removeClass("active");
  });

  // Fill Consumables
  var url_get_consumables_in_option =
    "{{ url_for('stock.json_consumables_in_option') }}";

  // Stages
  StegesColor();

  // Event Modified
  $("#DealInfo").on("change", PageModified);

  function PageModified() {
    $("#DealInfo").find(".sticky-bottom").addClass("active");
  }

  // Cancel Modified
  $("#DealInfo").on("click", "[type=reset]", function () {
    LoadDeal("{{deal.deal_id}}");
  });

  // Show Services
  $("body").on("change", "select[name=what_need]", function () {
    if ($(this).val().indexOf("установка") + 1) {
      $("#collapseServices").addClass("show");
    } else {
      $("#collapseServices").removeClass("show");
    }
  });

  // New Contact In Select
  $("body").on("click", ".select-new-container", function () {
    $("#contactSelect").select2("close");
    var $contact_box = $("#contact");
    $contact_box.find(".to-hidden").addClass("visually-hidden");
    $contact_box.find(".to-show").removeClass("visually-hidden");
  });

  // Show inputs
  $("body").on("click", ".deal-info-edit-link", function () {
    var $this = $(this);
    $this.addClass("visually-hidden");

    var $input = $this.next();
    $input.removeClass("visually-hidden");

    if ($input.is("input")) {
      data = $input.val();
      $input.focus().val("").val(data);
    }
  });

  // Show Edit Deal Name
  $("body").on("click", ".deal-info-title", function () {
    var $this = $(this);
    $this.addClass("visually-hidden");

    var $input = $this.next();
    $input.removeClass("visually-hidden");
    data = $input.val();
    $input.focus().val("").val(data);
  });

  // Show Contact Info
  $("#DealInfo").on("click", ".deal-info-contact", function () {
    var $this = $(this);
    $this.parent().addClass("visually-hidden");
    $this.parent().next().removeClass("visually-hidden");
  });

  $("body")
    .find("input.datepicker")
    .each(function () {
      new AirDatepicker(this, {
        position: "right center",
      });
    });
</script>
