<!-- Nothing or Expenses  -->
{% if deal and deal.posted and not deal.expenses %}
{% include 'partials/nothing.html' %}
{% else %}

<!-- Expenses  -->
<div id="tabExpenses" class="card h-100">

  <!-- table  -->
  <table class="table text-nowrap table">
    <thead class="">
      <tr>
        {% if not deal or not deal.posted %}
        <th scope="col">
          <input class="form-check-input check-all" type="checkbox">
        </th>
        {% endif %}
        <th scope="col">Название</th>
        <th scope="col">Стоимость</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      {% set var = namespace(count=0, all_sum=0) %}

      {% set deal_expenses = deal.expenses|to_json %}

      {% if not deal.posted and not deal_expenses %}
      {% set deal_expenses = [{}] %}
      {% endif %}

      {% for deal_expense in deal_expenses %}
      {% set var.count = var.count + 1 %}

      <tr class="product">
        {% if not deal or not deal.posted %}
        <td class="main-tab-checkbox">
          <input class="form-check-input to-check" type="checkbox" value="">
        </td>
        {% endif %}
        <td class="col-4">
          <span class="line-count">{{ var.count }}.</span>
          {% if deal and deal.posted %}
          <span>{{ deal_expense.name }}</span>
          {% else %}
          <div class="d-inline-block w-100">
            <input type="text" class="form-control expense-name" value="{{ deal_expense.name }}">
          </div>
          {% endif %}
        </td>

        {% set var.all_sum = var.all_sum + deal_expense.sum if deal and deal.expenses %}
        <td class="col-2">
          {% if deal and deal.posted %}
          <span>{{ deal_expense.sum|money }} ₽</span>
          {% else %}
          <div class="input-group">
            <input type="number" class="form-control expense-sum" value="{{ deal_expense.sum }}" placeholder="0">
            <span class="input-group-text">₽</span>
          </div>
          {% endif %}
        </td>
        <td class="col-auto"></td>

      </tr>
      {% endfor %}

      <input type="hidden" name="expenses_data">
    </tbody>
  </table>

  {% if not deal or not deal.posted %}
  <div class="d-flex">
    <div>
      <div class="m-3 gap-2 justify-content-start actions">
        <span class="">Отмеченно: </span>
        <span class="checks-count">0 / {{ deal_expenses|length }}</span>
      </div>
      <div class="m-3 gap-2 d-flex justify-content-start actions">
        <button class="btn rounded-3 delete-product" type="button" disabled>Удалить</button>
      </div>
    </div>
    <div class="m-3 ms-auto gap-2">
      {% if not deal or not deal.posted %}
      {% if not deal or not deal.posted %}
      <button class="btn rounded-3 btn-primary" type="button" onclick="newLine('#tabExpenses')">Добавить строку</button>
      <button class="btn rounded-3 " type="button">Отмена</button>
      {% endif %}
      {% endif %}
    </div>
  </div>
  {% endif %}

</div>

<div class="card h-100">
  <div class="d-flex justify-content-end align-items-center m-3">
    <table class="col-3">
      <tbody>
        <tr class="">
          <td class="">
            <span class="fs-4 fw-bolder">Общая сумма:</span>
          </td>
          <td class="">
            <span class="fs-4 fw-bolder all-sum">{{ var.all_sum|money }} ₽</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
{% endif %}
