{% extends "base.html" %}
{% block title %}  {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block link %}
{% endblock %}
{% block content %}

<!-- Container fluid -->
<div class="container-fluid p-6">
  <form id="parsingTab" method="post"
      action="{{ url_for('other_shop_add_category',
                         shop_id=shop.shop_id,
                         category_id=category.other_category_id if category else None) }}">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <!-- Page header -->
        <div class="border-bottom pb-4 mb-4">              
          <h3 class="mb-0 fw-bold">
            <a href="{{ url_for('other_shop_categories', shop_id=shop.shop_id) }}">
              {{ shop.name }}</a> > 
            {{ category.name if category else 'Добавить категорию' }}</h3>             
        </div>
      </div>
    </div>
    <div class="row mb-8">
      <div class="col-xl-3 col-lg-4 col-md-12 col-12">
        <div class="mb-4 mb-lg-0">
          <h4 class="mb-1">Настройки</h4>
          <p class="mb-0 fs-5 text-muted">Настройки категории </p>
        </div>
      </div>

      <div class="col-xl-9 col-lg-8 col-md-12 col-12">
        <!-- card -->
        <div class="card">
          <!-- card body -->
          <div class="card-body">
            <!-- col -->
            <div>
              <!-- border -->
              <div class="mb-6">
                <h4 class="mb-1">Основная информация</h4>
              </div>
            
              <!-- row -->
              <div class="mb-3 row">
                <div class="col-sm-3 mb-3 mb-lg-0">
                  <label for="name" class="form-label">Название категории</label>
                  <input type="text" class="form-control"
                      id="name" name="name" value="{{ category.name if category }}" required>
                </div>
                
                <div class="col-sm-4">
                  <label for="url" class="form-label">URL</label>
                  <input type="url" class="form-control" placeholder="https://"
                      id="url" name="url" value="{{ category.url if category }}">
                </div>
                
                <div class="col-sm-3">
                  <label for="url" class="form-label">
                    Родительская категория
                  </label>
                  <select class="form-select" id="location" name="parent_id">
                    <option></option>
                    {% for cat in shop.categories %}
                      <option {{ 'selected' if cat.other_category_id == category.parent_id }}
                          value="{{ cat.other_category_id }}">{{ cat.name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-sm-2">
                  <label for="sort" class="form-label">Сортировка</label>
                  <input type="number" class="form-control" 
                      id="sort" name="sort" value="{{ category.sort if category }}">
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-8">
      <div class="col-xl-3 col-lg-4 col-md-12 col-12">
        <div class="mb-4 mb-lg-0">
          <h4 class="mb-1">Настройки парсинга</h4>
          <p class="mb-0 fs-5 text-muted">Парсинг цен и товаров </p>
        </div>
      </div>

      <div class="col-xl-9 col-lg-8 col-md-12 col-12">
        <!-- card -->
        <div class="card" id="edit">
          <!-- card body -->
          <div class="card-body">
            <div class="mb-6">
              <h4 class="mb-1">Парсинг</h4>
            </div>

            <!-- row -->
            <div class="mb-3 row">
              <label class="col-sm-4
                  col-form-label form-label">Блок с товарами</label>
              <div class="col-sm-4 mb-3 mb-lg-0">
                <input type="text" class="form-control" placeholder="div, ul"
                  name="blocks_type" value="{{ parsing['blocks_type'] }}">
              </div>
              <div class="col-sm-4 mb-3 mb-lg-0">
                <input type="text" class="form-control" placeholder="class"
                  name="blocks_class" value="{{ parsing['blocks_class'] }}">
              </div>
            </div>

            <hr class="my-3">
            
            <!-- row -->
            <div class="mb-3 row">
              <label class="col-sm-4
                  col-form-label form-label">Блок названия</label>
              <div class="col-sm-3 mb-3 mb-lg-0">
                <input type="text" class="form-control" placeholder="div, ul"
                   name="block_name_type" value="{{ parsing['block_name_type'] }}"
                  id="block_name_type">
              </div>
              <div class="col-sm-3 mb-3 mb-lg-0">
                <input type="text" class="form-control" placeholder="class"
                  name="block_name_class" value="{{ parsing['block_name_class'] }}">
              </div>
              <div class="col-sm-2 mb-3 mb-lg-0">
                <input type="text" class="form-control" placeholder="a, p, ..."
                  name="block_name_inside" value="{{ parsing['block_name_inside'] }}">
              </div>
            </div>

            <hr class="my-3">

            <!-- row -->
            <div class="mb-3 row">
              <label class="col-sm-4
                  col-form-label form-label">Блок с ссылкой</label>
              <div class="col-sm-4 mb-3 mb-lg-0">
                <input type="text" class="form-control" placeholder="div, ul"
                  name="block_link_type" value="{{ parsing['block_link_type'] }}">
              </div>
              <div class="col-sm-4 mb-3 mb-lg-0">
                <input type="text" class="form-control" placeholder="class"
                  name="block_link_class" value="{{ parsing['block_link_class'] }}">
              </div>
            </div>

            <hr class="my-3">

            <!-- row -->
            <div class="mb-3 row">
              <label class="col-sm-4
                  col-form-label form-label">Блок с ценой</label>
              <div class="col-sm-2 mb-3 mb-lg-0">
                <input type="text" class="form-control" placeholder="div, ul"
                  name="block_price_type" value="{{ parsing['block_price_type'] }}">
              </div>
              <div class="col-sm-2 mb-3 mb-lg-0">
                <input type="text" class="form-control" placeholder="class"
                  name="block_price_class" value="{{ parsing['block_price_class'] }}">
              </div>

              <div class="col-sm-2 mb-3 mb-lg-0">
                <input type="text" class="form-control" placeholder="div, ul"
                  name="block_other_price_type" value="{{ parsing['block_other_price_type'] }}">
              </div>
              <div class="col-sm-2 mb-3 mb-lg-0">
                <input type="text" class="form-control" placeholder="class"
                  name="block_other_price_class" value="{{ parsing['block_other_price_class'] }}">
              </div>
            </div>

            <hr class="my-3">

            <!-- row -->
            <div class="mb-3 row">
              <label class="col-sm-4
                  col-form-label form-label">Минус слова</label>
              <div class="col-md-8 col-12">
                <textarea class="form-control" rows="5" name="minus"
                    placeholder="Разделитель запятая">{{ parsing['minus'] }}</textarea>
              </div>
            </div>

            <!-- row -->
            <div class="row align-items-center">
              <div class="offset-md-4 col-md-8 col-12 mt-4">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button type="submit" class="btn btn-primary" onclick="copyCategory()"
                        {{ 'disabled' if not category }}
                        formaction="{{ url_for('other_shop_add_category',
                         shop_id=shop.shop_id,
                         category_id=None) }}">Копировать в новую</button>
                <button type="button" class="btn btn-primary"
                    onclick="testParsing()"
                    {{ 'disabled' if not category }}>Тестовый запрос</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-8">
      <!-- <div class="col-xl-3 col-lg-4 col-md-12 col-12"> -->
      <!-- </div> -->

      <div class="col-xl-12 col-lg-8 col-md-12 col-12">
        <!-- card -->
        <div id="testParsingBlock" class="card">
          <!-- card body -->
        </div>
      </div>
    </div>
  </form>
</div>


<script>

// Тестовый парсинг
const url = 
  {% if category %}
    {{ url_for('get_other_products_test', category_id=category.other_category_id)|tojson }}
  {% else %}
    ''
  {% endif %}
const blockParsing = document.getElementById('testParsingBlock');
var data = {}

async function testParsing() {
   await getDataRequest();
   updatePage();
//	$('html,body').animate({scrollTop: $('html,body').get(0).scrollHeight}, 1000);
blockParsing.scrollIntoView();
   }

function updatePage() {
  markup = `<div class="card-body">
              <div class="mb-6">
                <h4 class="mb-1">Тестовый парсинг</h4>
              </div>
              <div class="table-responsive mb-3">
                <table class="table text-nowrap">
                  <thead class="table-light">
                    <tr>
                      <th>Название</th>
                      <th>Цена</th>
                      <th>Ссылка</th>
                    </tr>
                  </thead>
                  <tbody>
                  `
  let i = 0;
  while (data[i]) { // выводит 0, затем 1, затем 2
  markup += `<tr>
              <td class="border-top-0">
                ${data[i].name}
              </td>
              <td class="border-top-0">
                ${data[i].price}
              </td>
              <td class="border-top-0">
                ${data[i].link}
              </td>
            </tr>`;
  i++;
  }
    
  markup += `</tbody>
          </table>
        </div>
      </div>`;
   blockParsing.innerHTML = markup
}

function getDataRequest() {
   return fetch(url, {
      method: 'GET',
      headers: {
         "Content-type": "application/json; charset=UTF-8"
      }
   })
   .then(res => res.json())
   .then(data => window.data = data)
}
// Добавить "Копия" в названии при копировании категории
function copyCategory() {
  var name = document.getElementById('name');
  name.value = name.value + ' (копия)'
}
</script>

{% endblock %}
