{# Jinja #}

<div class="row align-items-center">
  <div class="col-xl-12 col-lg-12 col-md-12 col-12">
    <div class="bg-white rounded smooth-shadow-sm">
      <ul class="nav nav-lt-tab px-4" id="pills-tab" role="tablist">
        {% set menu = {'Остатки': url_for('.products'),
                       'Приход': url_for('.movements', movement_type='coming'),
                       'Перемещение': url_for('.movements', movement_type='moving'),
                       'Склады': url_for('.stocks'),
                       'Настройки': url_for('.settings')} %}
        {% for name, url in menu.items() %}
          <li class="nav-item">
            <a class="nav-link {{ 'active' if url in request.path }}" href="{{ url }}">{{ name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
