{% if movement_type == 'coming' %} {% set title = 'Документы прихода' %}
{% elif movement_type == 'moving' %} {% set title = 'Документы перемещения' %}
{% endif %}

{% extends "base.html" %}
{% set page_settings = {"title": title, "modal": False, "fullscreen": False} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
{% include 'stock/header.html' %}
<form id="MovementsList" class="d-grid gap-3" action="{{ url_for('.movements_action', movement_type=movement_type) }}">

  {# Блок названия и кнопок #}
  {% set heading_btns %}
    <a class="btn btn-primary" data-modal-id="MovementInfoModal" data-url="{{ url_for('.movement_info', movement_type=movement_type) }}">Добавить</a>
  {% endset %}
  {{ m.heading(title, heading_btns) }}

  {# Блок таблицы #}
  {% set table %}
    <thead>
      <tr>
        <th class="checkbox"><input class="form-check-input check-all" type="checkbox"></th>
        <th>Название</th>
        <th>Статус</th>
        <th>Склады</th>
      </tr>
    </thead>

    <tbody>
      {% for movement in movements %}
        {% set details = movement.get('details', {}) %}

        <tr>
          {# Чекбокс #}
          <td class="checkbox">{{ m.checkbox(movement.movement_id) }}</td>

          {# Ссылка #}
          <td>
            <div class="d-grid text-inherit" data-modal-id="MovementInfoModal" 
              data-url="{{ url_for('.movement_info', movement_type=movement_type, movement_id=movement.movement_id) }}">
              {{ details.name }}
              <span class="fs-6">от {{ details.date if details.date }}</span>
            </div>
          </td>

          {# Статус #}
          <td>
            {% if movement.posted %}
              <span class="badge bg-success text-uppercase">Проведен</span> 
            {% elif movement.posted == False %}
              <span class="badge bg-warning text-dark text-uppercase">Отменен</span>
            {% else %}
              <span class="badge bg-secondary text-uppercase">Черновик</span>
            {% endif %}
          </td>

          {# Список складов #}
          <td>
            {% for stock in details.stocks %}
              {{ stock }}{% if loop.index < details.stocks|length %}, {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}

    </tbody>
    {% set products = movements %}
    {% include 'pagination.html' %}
  {% endset %}
  {{ m.table(table) }}

  {# Кнопки действий таблицы #}
  {% set table_btns %}
    <button class="btn btn-sm btn-transparent" type="button" data-modal-confirm data-action="delete"
      data-title="Удалить документы?" data-text="Будут удалены выбранные документы" data-after="update">Удалить</button>
    <button class="btn btn-sm btn-transparent" type="button" data-modal-confirm data-action="posting"
      data-title="Провести документы?" data-text="Будут проведены выбранные документы" data-after="update">Провести</button>
    <button class="btn btn-sm btn-transparent" type="button" data-modal-confirm data-action="unposting"
      data-title="Отменить проводку документов?" data-text="Будет отменена проводка выбранных документов" data-after="update">Отменить проведение</button>
  {% endset %}
  {{ m.table_actions(table_btns) }}

</form>
{% endblock %}
