{% if movement_type == 'coming' %} {% set title = 'Документы прихода' %}
{% elif movement_type == 'moving' %} {% set title = 'Документы перемещения' %}
{% endif %}

{% extends "base.html" %}
{% set page_settings = {"title": title, "modal": False, "fullscreen": False} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
{% include 'stock/header.html' %}
<form id="MovementsList" class="d-flex flex-column gap-3" action="{{ url_for('.movements', movement_type=movement_type) }}">

  {# Блок названия и кнопок #}
  {{ m.heading(title, child_obj=child_obj) }}

  {# Блок таблицы #}
  {% set table %}
    <thead>
      <tr>
        <th class="checkbox"><input class="form-check-input check-all" type="checkbox"></th>
        <th>Название</th>
        <th>Статус</th>
        <th>Склады</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for movement in movements %}
        {% set details = movement.get_json('details') or {} %}

        <tr>
          {# Чекбокс #}
          <td class="checkbox">{{ m.checkbox(movement.movement_id) }}</td>

          {# Ссылка #}
          <td>
            <div class="d-flex flex-column">
              {{ m.modal_link(movement, "info") }}
              <span class="fs-6">от {{ details.date if details.date }}</span>
            </div>
          </td>

          {# Статус #}
          <td>
            {% if movement.posted %}<span class="badge text-uppercase bg-success">Проведен</span> 
            {% elif movement.posted == False %}<span class="badge text-uppercase bg-warning text-dark">Отменен</span>
            {% else %}<span class="badge text-uppercase bg-secondary">Черновик</span>
            {% endif %}
          </td>

          {# Список складов #}
          <td>
            {% for stock in details.stocks %}
              {{ stock }}{% if loop.index < details.stocks|length %}, {% endif %}
            {% endfor %}
          </td>

          {# Меню #}
          <td class="align-middle text-end">{{ m.table_btns_more(movement) }}</td>

        </tr>
      {% endfor %}
    </tbody>
  {% endset %}
  {{ m.table(table, movements) }}

</form>
{% endblock %}
