{% extends "base.html" %}
{% set page_settings = {"title": "Остатки", "modal": False, "fullscreen": False} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
{% include 'stock/header.html' %}
<form id="ProductsList" class="d-grid gap-3" action="">

  {# Блок названия и кнопок #}
  {{ m.heading("Остатки") }}

  <div class="row">
    <div id="productsList" class="col-12 d-flex flex-column gap-3"></div>
  </div>


<script>
  function Load(args='') {
    var url = "{{ url_for('.products_load') }}";
    $('#productsList').load(`${url}?${args}`);
  }

  $('#productsList').on("click", 'a.open-category', function () {
    Load(`&category_id=${$(this).data('category-id')}`)
  })

  Load();
</script>
{% endblock %}
