{% extends "base.html" %}
{% set page_settings = {"title": "", "modal": True, "fullscreen": True} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
<form id="SetProducts" class="d-grid gap-3" action="">

  {# Блок названия и кнопок #}
  {% set heading_btns %}
    <input id="SearchSetProducts" type="text" class="form-control border-0" placeholder="Поиск" />
    <a id="SearchSetProductsSubmit" type="button" class="btn btn-primary">Применить</a>
  {% endset %}
  {{ m.heading("Выбрать товары", heading_btns) }}

  <div id="ListProducts"></div>

<script>
  $("#ListProducts").load("{{ url_for('.set_products') }}");

  $("#ListProducts").on("click", "a.open-category", function () {
    var category_id = $(this).attr("data-category-id");
    $("#ListProducts").load("{{ url_for('.set_products') }}" + "?category_id=" + category_id,);
  });

  $("#ListProducts").on("click", "a.page-link", function () {
    var page = $(this).attr("data-page"),
      url = "{{ url_for('.set_products') }}" + "?category_id=" + category_id + "&page=" + page;

    $("#ListProducts").load(url);
  });

  var checked = [];
  $("#ListProducts").on("change", ":checkbox", function () {
    var $checkbox = $(this),
      id = $checkbox.val();
    if ($checkbox.prop("checked")) {
      checked.push(id);
    } else {
      checked.forEach(function (item, i) {
        if (item == id) {
          checked.splice(i, 1);
        }
      });
    }
  });

  $("#SearchSetProducts").on("input", function () {
    var url = "{{ url_for('.set_products') }}",
      search = $(this).val().replaceAll(" ", "_");
    url += "?search=" + search;
    if (category_id) {
      url += "&category_id=" + category_id;
    }

    $("#ListProducts").load(url);
    //alert($(this).val())
  });

  $("#SearchSetProductsSubmit").on("click", function () {
    var $tab = $("#tabProducts");
    if (!$tab) {
      return false;
    }

    var first_start = true;

    checked.forEach(function (product_id) {
      var $productSelect = $tab
        .find("tr.product")
        .eq(-1)
        .find("select.product-select");
      if (!$productSelect.val() && first_start) {
        first_start = false;
      } else {
        newLine();
      }

      SelectProduct($tab, product_id);
    });

    $tab
      .find("tr.product")
      .eq(-1)
      .find("select.product-select")
      .select2("close");
    $("#SelectProductsModal").modal("hide");
  });

  function SelectProduct($tab, product_id) {
    // Select Product
    var $tr = $tab.find("tr.product").eq(-1),
      $productSelect = $tab
        .find("tr.product")
        .eq(-1)
        .find("select.product-select");

    $.ajax({
      type: "GET",
      url: "{{ url_for('.ajax_products_one') }}" + "?product_id=" + product_id,
      dataType: "json",
    }).then(function (data) {
      var option = new Option(data.text, data.id, true, true);
      $(option).attr("data-cost", data.cost);
      $(option).attr("data-unit", data.unit);
      $productSelect.empty().append(option).trigger("change");

      $productSelect.trigger({
        type: "select2:select",
        params: {
          data: data,
        },
      });
    });
  }
</script>
{% endblock %}
