{% import 'base_macro.html' as m with context %}

{# Блок таблицы #}
{% set table %}
  <thead>
    <tr>
      <th>Название</th>
    </tr>
  </thead>
  <tbody>
    {% if category %}
      <tr>
        <td>
          <a class="text-inherit open-category" data-category-id="{{ category.parent_id }}">... Назад</a>
        </td>
      </tr>
    {% endif %}

    {% for category in categories %}
      <tr>
        <td>
          <a class="text-inherit open-category" data-category-id="{{ category.category_id }}">
            <i data-feather="folder" class="icon-xs"></i>
            {{ category.name }}
          </a>
        </td>
      </tr>
    {% endfor %}

    {% for product in products %}
      <tr>
        <td>
          <input class="form-check-input" type="checkbox" value="{{ product.product_id }}" />
          <a class="text-inherit">{{ product.name }}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endset %}
{{ m.table(table, products) }}

<script>
  var category_id = {{category.category_id if category else 0 }}

  $('#productsList :checkbox').each(function () {
    var status = checked.includes($(this).val());
    $(this).prop('checked', status)
  });
</script>
