{% extends "base.html" %}
{% set page_settings = {"title": "Склады", "modal": False, "fullscreen": False} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
{% include 'stock/header.html' %}
<form id="Stocks" class="d-grid gap-3" action="{{ url_for('.stocks') }}">

  {# Блок названия и кнопок #}
  {{ m.heading("Склады", child_obj=child_obj) }}

  {# Блок таблицы #}
  {% set table %}
    <thead>
      <tr>
        <th class="checkbox"><input class="form-check-input check-all" type="checkbox"></th>
        <th>Название</th>
        <th>Товаров на сумму</th>
        <th>Сортировка</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for stock in stocks %}
        <tr>
          {# Чекбокс #}
          <td class="checkbox">{{ m.checkbox(stock.stock_id) }}</td>

          {# Ссылка #}
          <td>{{ m.modal_link(stock, "info") }}</td>

          {# Стоимость товаров #}
          <td>{{ stock.products_cost|int|money }} ₽</td>

          {# Сортировка #}
          <td>{{ stock.sort }}</td>

          {# Меню #}
          <td class="align-middle text-end">{{ m.table_btns_more(stock) }}</td>

        </tr>
      {% endfor %}

    </tbody>
  {% endset %}
  {{ m.table(table, stocks) }}

</form>
{% endblock %}
