{% extends "base.html" %}
{% set page_settings = {"title": "", "modal": True, "fullscreen": True} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
<form id="StockInfo" class="d-flex flex-column gap-3" action="{{ url_for('.stock_info', stock_id=stock.stock_id) }}">

  {# Блок названия и кнопок #}
  {{ m.heading(stock.name if stock.stock_id else 'Добавить новый', obj=stock) }}

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="card h-100">
        <div class="card-header bg-white py-4">
          <h4 class="mb-0">Настройки</h4>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="mb-6">
              <h4 class="mb-1">Основная информация</h4>
            </div>

            <div class="mb-3 row">
              <div class="col-sm-4 mb-3 mb-lg-0">
                <label class="form-label">Название</label>
                <input type="text" class="form-control focus" name="name" value="{{ stock.name if stock.stock_id }}" required>
              </div>

              <div class="col-sm-4">
                <label class="form-label">Сортировка</label>
                <input type="number" class="form-control" name="sort" value="{{ stock.sort if stock.stock_id else '100' }}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Кнопки действий формы #}
  {{ m.form_actions(stock) }}
</form>
{% endblock %}
