{% if not request.args.get('only_content') %}
  {% extends "modal_base.html" %}
  {% set modal_fullscreen = True %}
{% endif %}

{% block content %}


<div class="row">
  <div class="d-flex align-items-center">
    <h3 class="mb-0">{{ stock.name if stock else 'Добавить новый' }}</h3>
    <div class="ms-auto">
      <button type="submit" form="StockSettings" class="btn btn-primary">Сохранить</button>
    </div>
  </div>
</div>

<form id="StockSettings" data-url="{{ url_for('.stock_settings', stock_id=stock.stock_id if stock else None) }}">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="card h-100">
        <div class="card-header bg-white py-4">
          <h4 class="mb-0">Настройки</h4>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="mb-6">
              <h4 class="mb-1">Основная информация</h4>
            </div>

            <div class="mb-3 row">
              <div class="col-sm-4 mb-3 mb-lg-0">
                <label class="form-label">Название</label>
                <input type="text" class="form-control focus" name="name"
                  value="{{ stock.name if stock }}" required>
              </div>

              <div class="col-sm-4">
                <label class="form-label">Сортировка</label>
                <input type="number" class="form-control" name="sort"
                  value="{{ stock.sort if stock else '100' }}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
</script>
{% endblock %}
