{% extends "base.html" %}
{% block title %}  {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="container-fluid px-6 d-grid gap-3 mt-3">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div>
        <div class="d-flex align-items-center">
          <div class="mb-2 mb-lg-0">
            <h3 class="mb-0">
              <a href="{{ url_for('.shops') }}" >Магазины</a>
              | {{ shop.name }}</h3>
          </div>
          <div class="ms-auto d-flex gap-2">
            <span class="btn btn-primary show-category-settings">Добавить</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- row  -->
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="card h-100">

        <!-- table  -->
        <form class="" id ="categories"  method="post" action="">
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead class="">
                <tr>
                  <th class="main-tab-checkbox">
                    <input class="form-check-input check-all" type="checkbox">
                  </th>
                  <th scope="col">Название</th>
                  <th scope="col">Товаров</th>
                  <th scope="col">Изменения</th>
                  <th scope="col">Последний парсинг</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody id="tab-categories">

                {% for category in shop.categories|sort(attribute='sort') if not category.parent_id %}
                  <tr data-category-id="{{ category.other_category_id }}">
                    <td>
                      <input class="form-check-input to-check" type="checkbox" value="{{ category.other_category_id }}">
                    </td>
                    <td class="text-average">
                      <a href="#" class="text-inherit show-products">
                        {{ category.name }}</a>
                    </td>
                    <td class="text-average">{{ category.products|length if category.products }}</td>
                    <td class="text-average">
                      {% if category.new_product %}
                        <a href="{{ url_for('.shop_products',
                            shop_id=shop.shop_id, category_id=category.other_category_id,
                            changes='new_product') }}"
                            class="btn btn-transparent btn-sm">
                          Товары
                          <span class="badge rounded-pill bg-danger">
                            +{{ new_product[category.other_category_id]|length }}
                          </span>
                        </a>
                      {% endif %}
                      {% if category.new_price %}
                        <a href="{{ url_for('.shop_products',
                            shop_id=shop.shop_id, category_id=category.other_category_id,
                            changes='new_price') }}"
                            class="btn btn-transparent btn-sm">
                          Цены
                          <span class="badge rounded-pill bg-danger">
                            +{{ new_price[category.other_category_id]|length }}
                          </span>
                        </a>
                      {% endif %}
                    </td>
                    <td class="text-average">{{ category.last_parsing|how_long_ago if category.last_parsing }}</td>
                    <td class="align-middle">
	                    <div class="dropdown dropstart">
	                      <a class="text-muted text-primary-hover" href="#" role="button" id="dropdownAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i data-feather="more-vertical" class="icon-xxs" ></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownAction">
                            <a href="#" class="dropdown-item show-category-settings">Настройки</a>
                            <a href="#" class="dropdown-item show-products">Товары</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% for subcategory in shop.categories|sort(attribute='sort') if subcategory.parent_id == category.other_category_id %}
                    <tr data-category-id="{{ subcategory.other_category_id }}">
                      <td class="text-average">
                        <input class="form-check-input to-check" type="checkbox" value="{{ subcategory.other_category_id }}">
                      </td>
                      <td class="text-average">
                        <a href="#" class="text-inherit show-products">
                          - - {{ subcategory.name }}
                        </a>
                      </td>
                      <td class="text-average">{{ subcategory.products|length }}</td>
                      <td class="text-average">
                        {% if subcategory.new_product %}
                          <a href="{{ url_for('.shop_products',
                              shop_id=shop.shop_id, category_id=subcategory.other_category_id,
                              changes='new_product') }}"
                              class="btn btn-transparent btn-sm">
                            Товары
                            <span class="badge rounded-pill bg-danger">
                              +{{ new_product[subcategory.other_category_id]|length }}
                            </span>
                          </a>
                        {% endif %}
                        {% if subcategory.new_price %}
                          <a href="{{ url_for('.shop_products',
                              shop_id=shop.shop_id, category_id=subcategory.other_category_id,
                              changes='new_price') }}"
                              class="btn btn-transparent btn-sm">
                            Цены
                            <span class="badge rounded-pill bg-danger">
                              +{{ new_price[subcategory.other_category_id]|length }}
                            </span>
                          </a>
                        {% endif %}
                      </td>
                      <td class="text-average">{{ subcategory.last_parsing|how_long_ago if subcategory.last_parsing }}</td>
                      <td class="align-middle">
	                      <div class="dropdown dropstart">
	                        <a class="text-muted text-primary-hover" href="#" role="button" id="dropdownAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="more-vertical" class="icon-xxs" ></i>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownAction">
                            <a href="#" class="dropdown-item show-category-settings">Настройки</a>
                            <a href="#" class="dropdown-item show-products">Товары</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Actions buttons -->
<div class="sticky-bottom actions">
  <div class="col-12">
    <div class="bg-white h-100 d-flex gap-2 align-items-center">
      <div class="m-1  ms-5">
        <span class="">Отмеченно: </span>
        <span class="checks-count"></span>
        <a href="" class="link-secondary ms-3 decheck-all"><i data-feather="x" class="icon-xs"></i></a>
      </div>
      <div class="vr my-3"></div>
      <div class="my-1">
        <button class="btn btn-sm rounded-3 action-confirmation" type="button" data-action="del_categories_and_products" data-title="Удалить категории?">
          <i data-feather="trash" class="icon-xs"></i>
          Удалить
        </button>
        <button class="btn btn-sm rounded-3 action-confirmation" type="button" data-action="del_only_products" data-title="Удалить товары?">
          Удалить товары
        </button>
      </div>

      <div class="vr my-3"></div>

      <div class="my-1">
        <button class="btn btn-sm rounded-3 action" type="button" data-action="parsing">
          <i data-feather="download" class="icon-xs"></i>
          Старт прасинга
        </button>

        <button class="btn btn-sm rounded-3 action-confirmation" type="button" data-action="accept_changes" data-title="Принять изменения?">
          <i data-feather="check-square" class="icon-xs"></i>
          Принять изменения
        </button>
      </div>
    </div>
  </div>
</div>

{% include 'other_shops/modals.html' %}
{% include 'other_shops/scripts.html' %}

<script>
  var action_url = "{{ url_for('.shop_action', shop_id=shop.shop_id) }}"

  // Open Modal Category Settings
  $('.show-category-settings').on("click", function () {
    var $modal = $('#FullScreenModal');
    var category_id = $(this).closest("tr").attr('data-category-id');
    var url = "{{ url_for('.category_settings', shop_id=shop.shop_id) }}";
    if (category_id) {
      url += '?category_id=' + category_id;
    }
    $modal.find('.modal-body').load(url);
    $modal.modal('toggle')
  })

  // Open Modal Products
  $('.show-products').on("click", function () {
    var $modal = $('#FullScreenModal');
    var category_id = $(this).closest("tr").attr('data-category-id');
    var url = "{{ url_for('.category_products', shop_id=shop.shop_id) }}";
    url += '?category_id=' + category_id;
    $modal.find('.modal-body').load(url);
    $modal.modal('toggle')
  })
</script>
{% endblock %}
