{% extends "base.html" %}
{% set page_settings = {"title": "Контакты", "modal": False, "fullscreen": False} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
<form id="ClientsForm" class="d-grid gap-3">

  {# Блок названия и кнопок #}
  {% set heading_btns %}
    <input type="text" class="form-control border-0" id="filter" placeholder="Поиск">
    <a class="btn btn-primary" data-modal-id="ContactInfoModal" data-url="{{ url_for('.contact_info') }}">Создать</a>
  {% endset %}
  {{ m.heading("Клиенты", heading_btns) }}

  {# Блок таблицы #}
  {% set table %}
    <thead>
      <tr>
        <th class="checkbox"><input class="form-check-input check-all" type="checkbox"></th>
        <th>ФИО</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Связи</th>
      </tr>
    </thead>

    <tbody>
      {% for contact in contacts %}
        <tr>
          {# Чекбокс #}
          <td class="checkbox">
            <input class="form-check-input to-check" type="checkbox" value="{{ contact.contact_id }}">
          </td>

          {# Ссылка на контакт #}
          <td>
            <a class="text-inherit" data-modal-id="ContactInfoModal"
              data-url="{{ url_for('.contact_info', contact_id=contact.contact_id) }}">{{ contact.name }}
            </a>
          </td>

          <td>{{ contact.email }}</td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.deals|length or '' }}</td>

        </tr>
      {% endfor %}
    </tbody>
  {% endset %}
  {{ m.table(table) }}

  {# Кнопки действий таблицы #}
  {% set table_btns %}
    <button class="btn btn-sm btn-transparent" type="button" data-modal-confirm data-action="delete"
      data-title="Удалить контакты?" data-text="" data-after="update">Удалить</button>
  {% endset %}
  {{ m.table_actions(table_btns) }}

</form>
{% endblock %}
