{# Блок таблицы #}
{% set table %}
  <thead>
    <tr>
      <th>Название</th>
      <th>Стоимость</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for name, key in {'Товары': 'cost_products', 'Расходные материалы': 'cost_consumables', 'Прочие расходы': 'cost_expenses'}.items() %}
      <tr>
        <td class="col-4">
          <span></span>
          <span>{{ name }}</span>
        </td>

        <td class="col-2">
          <span>{{ analytics.get(key)|smart_int|money }}</span>
          <span>₽</span>
        </td>
        <td class="col-auto"></td>
      </tr>
    {% endfor %}
  </tbody>
{% endset %}
{{ m.table(table, attrs="id=tabExpenses data-to-server=expenses") }}

<div class="card h-100">
  <div class="d-flex justify-content-end align-items-center m-3">
    <table class="col-3">
      <tbody>
        <tr class="fs-4 fw-bolder">
          <td>Всего расходов:</td>
          <td>{{ (details.sum|smart_int - details.profit|smart_int)|smart_int|money }} ₽</td>
        </tr>
        <tr class="fs-4 fw-bolder">
          <td>Чистая прибыль:</td>
          <td>{{ details.profit|smart_int|money }} ₽</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
