{# Блок таблицы #}
{% set table %}
  <thead>
    <tr>
      {% if not deal.posted %}
        <th><input class="form-check-input check-all" type="checkbox"></th>
      {% endif %}
      <th>Название</th>
      <th>Стоимость</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for expense in expenses %}
      <tr class="product">
        {# Чекбокс #}
        {% if not deal.posted %}
          <td class="checkbox">{{ m.checkbox("") }}</td>
        {% endif %}

        {# Наименование #}
        <td class="col-4">
          <span class="line-count">{{ loop.index }}.</span>
          {% if deal.posted %}
            <span>{{ expense.name }}</span>
          {% else %}
            <div class="d-inline-block w-100">
              <input type="text" class="form-control" name="name" value="{{ expense.name }}"
                data-new-line-value="" data-required="true">
            </div>
          {% endif %}
        </td>

        {# Стоимость #}
        <td class="col-3 align-middle">
          {% if deal.posted %}
            <span class="sum">{{ expense.price|smart_int }}</span> ₽
          {% else %}
            <div class="input-group">
              <input type="number" class="form-control" name="price" value="{{ expense.price|smart_int or "" }}"
                placeholder="0" data-new-line-value="">
              <span class="input-group-text">₽</span>
            </div>
            <input type="hidden" name="quantity" value="1" data-new-line-value="1">
            <span class="visually-hidden sum">{{ expense.price }}</span>
          {% endif %}
        </td>

        <td class="col-auto"></td>
      </tr>
    {% endfor %}

  </tbody>
{% endset %}

{% if not deal.posted %}
  {% set table_btns %}
    <button class="btn rounded-3 btn-primary create-new-line" type="button">Добавить строку</button>
  {% endset %}
{% endif %}
{{ m.table(table, btns=table_btns, attrs="id=tabExpenses data-to-server=expenses") }}

{# Блок общая сумма #}
{{ m.sum() }}
