{% extends "base.html" %}
{% set page_settings = {"title": "", "modal": True, "fullscreen": True} %}
{% import 'base_macro.html' as m with context %}
{% import 'crm/macro.html' as cm with context %}

{% block content %}
{% set details = deal.get_json('details') or {} %}
{% set products = deal.get_json('products') or ([] if deal.posted else [{}]) %}
{% set consumables = deal.get_json('consumables') or ([] if deal.posted else [{}]) %}
{% set expenses = deal.get_json('expenses') or ([] if deal.posted else [{}]) %}
{% set analytics = deal.get_json('analytics') or {} %}

<link rel="stylesheet" href="{{ url_for('static', filename='select2/css/select2.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='select2/css/select2-bootstrap-5-theme.css') }}" />

<form id="DealInfo" class="d-flex flex-column gap-3" action="{{ url_for('.deal_info', deal_id=deal.deal_id) }}">
  {# Блок названия и кнопок #}
  {{ m.heading('Добавление сделки' if not deal.deal_id else details.name, obj=deal) }}

  <div class="col-12 d-flex gap-2">
    {% for stage in stages if not 'end_' in stage.type %}
      <div class="stage" style="{{ '--deal-stage-color: {};'.format(stage.color) }}">
        <input type="radio" class="btn-check" name="stages" id="stage_{{ stage.stage_id }}"
          {{ 'checked' if stage.stage_id == deal.stage.stage_id }} value="{{ stage.stage_id }}">
        <label class="stage-item fs-6" for="stage_{{ stage.stage_id }}">{{ stage.name }}</label>
        <div class="deal-stage-line"></div>
      </div>
    {% endfor %}

    <div class="stage" style="{{ '--deal-stage-color: {};'.format(deal.stage.color if deal.stage.completed else '#56c31e') }}">
      <input type="radio" class="btn-check" name="stages" {{ 'checked' if deal.stage.completed }}
        value="{{ deal.stage_id if deal.stage.completed }}">
      <label class="stage-item fs-6 not-update" data-modal-id="EndOfDealModal"
          data-url="{{ url_for('.deal_modal_close', deal_id=deal.deal_id) }}">
        {{ deal.stage.name if deal.stage.completed else 'Завершить сделку' }}
      </label>
      <div class="deal-stage-line"></div>
    </div>

  </div>

  {# Блок меню #}
  {{ m.menu_head([{'text': 'Общие', 'key': 'details', 'class': 'active'},
                  {'text': 'Товары', 'key': 'products', 'class': ''} if products,
                  {'text': 'Расходные материалы', 'key': 'consumables', 'class': ''} if consumables,
                  {'text': 'Расходы', 'key': 'expenses', 'class': ''} if expenses,
                  {'text': 'Аналитика', 'key': 'analytics', 'class': ''},
  ]) }}

  {# Блок вкладок меню #}
  {% set details_tab %}
    <div class="row">
      <div class="col-xl-4 col-lg-12 col-md-12 col-12 d-flex flex-column gap-3" data-to-server="info">
        {% include 'deal/deal/details.html' %}
      </div>
      <div class="col-xl-8 col-lg-12 col-md-12 col-12 d-flex flex-column gap-3">
        {% include 'deal/deal/actions.html' %}
      </div>
    </div>
  {% endset %}
  {% set products_tab %}{% include 'deal/deal/products.html' %}{% endset %}
  {% set consumables_tab %}{% include 'deal/deal/consumables.html' %}{% endset %}
  {% set expenses_tab %}{% include 'deal/deal/expenses.html' %}{% endset %}
  {% set analytics_tab %}{% include 'deal/deal/analytics.html' %}{% endset %}

  {% set menu_tabs %}
    {{ m.menu_tab("details", details_tab, "show active") }}
    {{ m.menu_tab("products", products_tab, "") }}
    {{ m.menu_tab("consumables", consumables_tab, "") }}
    {{ m.menu_tab("expenses", expenses_tab, "") }}
    {{ m.menu_tab("analytics", analytics_tab, "") }}
  {% endset %}
  {{ m.menu_tabs(menu_tabs) }}

  {# Кнопки действий формы #}
  {{ m.form_actions(deal) }}
</form>

<script>
  // Fill Consumables
  var url_get_consumables_in_option = "{{ url_for('crm.stock.json_consumables_in_option') }}";

  // Stages
  StegesColor();

  // Раскрыть запись на услуги
  $("body").on("change", "select[name=what_need]", function () {
    if ($(this).val().indexOf("установка") + 1) $("#collapseServices").addClass("show");
    else $("#collapseServices").removeClass("show");
  });

  $("body").on("change", "[name=stages]", function () {
    $('[name=stage_id]').val($(this).val());
  });
</script>

{% if deal.deal_id and not deal.posted %}
<script>
  UpdateDealEmployments();
  function UpdateDealEmployments() {
    setTimeout(function () {
      $('body').find('#DealEmployments').load("{{ url_for('.employment',deal_id=deal.deal_id) }}");
    }, 500)
  };

  $('body').on("click", '#BookingEventSave', UpdateDealEmployments);

  $('body').on('click', '#DealEmployments', function () {
    var need_load = !$("#BookingModal").length;
    if (need_load) LoadToModal('BookingModal', "{{ url_for('crm.booking.booking_page', event_name='deal_' + deal.deal_id|string) }}", false, false);
    else $('#BookingModal').modal('show');
    setTimeout(function () {
      StartBooking('deal_{{ deal.deal_id }}');
    }, 100);
  });
</script>
{% endif %}

{% endblock %}

