{% extends "base.html" %}
{% set page_settings = {"title": "Какой результат?", "modal": True, "fullscreen": False} %}

{% block content %}
<div class="d-flex gap-2 justify-content-center">
  {% for stage in stages %}
    <div>
      <input type="radio" class="btn-check end-stage" name="stages" id="stage_{{ stage.stage_id }}"
        {{ 'checked' if stage.stage_id == deal.stage_id }} value="{{ stage.stage_id }}">
      <label class="btn mb-2 text-white" style="{{ 'background: {};'.format(stage.color) }}"
        for="stage_{{ stage.stage_id }}" data-bs-dismiss="modal">
        {{ stage.name }}
      </label>
    </div>
  {% endfor %}
</div>

{% endblock %}
