{% extends "base.html" %}
{% set page_settings = {"title": "Работники", "modal": False, "fullscreen": False} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
<form id="WorkersForm" class="d-grid gap-3">

  {# Блок названия и кнопок #}
  {% set heading_btns %}
    <input type="text" class="form-control border-0" id="filter" placeholder="Поиск">
    <a class="btn btn-primary" data-modal-id="WorkerInfoModal" data-url="{{ url_for('.worker_info') }}">Создать</a>
  {% endset %}
  {{ m.heading("Работники", heading_btns) }}

  {# Блок таблицы #}
  {% set table %}
    <thead class="">
      <tr>
        <th class="checkbox"><input class="form-check-input check-all" type="checkbox"></th>
        <th>ФИО</th>
        <th>Рабочий день</th>
        <th>Занятость</th>
      </tr>
    </thead>

    <tbody>
      {% for worker in workers %}
        <tr>
          {# Чекбокс #}
          <td class="checkbox"><input class="form-check-input to-check" type="checkbox" value="{{ worker.worker_id }}"></td>

          {# Ссылка на работника #}
          <td>
            <a class="text-inherit" data-modal-id="WorkerInfoModal"
              data-url="{{ url_for('.worker_info', worker_id=worker.worker_id) }}">{{ worker.name }}
            </a>
          </td>

          <td>{{ worker.start_day }} - {{ worker.end_day }}</td>
          <td>{{ worker.employments|length or '' }}</td>

        </tr>
      {% endfor %}
    </tbody>
  {% endset %}
  {{ m.table(table) }}

  {# Кнопки действий таблицы #}
  {% set table_btns %}
    <button class="btn btn-sm btn-transparent" type="button" data-modal-confirm data-action="delete"
      data-title="Удалить работников?" data-text="" data-after="update">Удалить</button>
  {% endset %}
  {{ m.table_actions(table_btns) }}

</form>
{% endblock %}
