{% extends "base.html" %}
{% set page_settings = {"title": "Работники", "modal": False, "fullscreen": False} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
<form id="WorkersForm" class="d-flex flex-column gap-3">

  {# Блок названия и кнопок #}
  {{ m.heading("Работники", child_obj=child_obj) }}

  {# Блок таблицы #}
  {% set table %}
    <thead class="">
      <tr>
        <th class="checkbox"><input class="form-check-input check-all" type="checkbox"></th>
        <th>ФИО</th>
        <th>Рабочий день</th>
        <th>Занятость</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for worker in workers %}
        <tr class="find-item">
          {# Чекбокс #}
          <td class="checkbox">{{ m.checkbox(worker.worker_id) }}</td>

          {# Ссылка #}
          <td>{{ m.modal_link(worker, "settings") }}</td>

          <td>{{ worker.start_day }} - {{ worker.end_day }}</td>
          <td>{{ worker.employments|length or '' }}</td>

          {# Меню #}
          <td class="align-middle text-end">{{ m.table_btns_more(worker) }}</td>

        </tr>
      {% endfor %}
    </tbody>
  {% endset %}
  {{ m.table(table, workers) }}

</form>
{% endblock %}
