{% extends "base.html" %}
{% set page_settings = {"title": "Товары", "modal": False, "fullscreen": False} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
<form id="Products" class="d-grid gap-3" action="{{ url_for('.products_action', path=request.args.get('path')) }}">

  {# Блок названия и кнопок #}
  {{ m.heading("Товары") }}

  {# Блок фильтра #}
  {% include 'filter.html' %}

  {# Блок таблицы #}
  {% set table %}
  <thead>
    <tr>
      <th class="pe-0"><input class="form-check-input check-all" type="checkbox"></th>
      <th>Название</th>
      <th>Варианты</th>
      <th>Цена</th>
      <th>Наличие</th>
      <th>Просмотров</th>
      <th>ISBN</th>
      <th>EAN</th>
      <th>JAN</th>
    </tr>
  </thead>

  <tbody>
    {% set var = namespace(group_count=0, group_name='') %}

    {% for product in products %}
      {% for attribute in product.attributes if attribute.attribute_id == session.get('group_attribute')|int %}
        {% if attribute.text != var.group_name %}
          {% set var.group_count = var.group_count + 1 %}
          {% set var.group_name = attribute.text %}
          <tr>
            <td><input id="group-{{ var.group_count }}" class="form-check-input check-group" type="checkbox"></td>
            <td><b class="cursor-pointer" onclick="Hidden('{{ var.group_count }}')">{{ attribute.text }}</b></td>
          </tr>
        {% endif %}
      {% endfor %}

      <tr class="group-{{ var.group_count|string }}">
        <td class="pe-0">
          <input class="form-check-input to-check group-{{ var.group_count }}" type="checkbox" value="{{ product.product_id }}">
        </td>

        {# Ссылка на товар #}
        <td class="d-flex gap-2">
          {{ product.name }}
          {{ m.external_link("https://climkey.ru?product_id=" + product.product_id|string) }}
        </td>

        <td title="{{ product.variants.prodvar_product_str_id if product.variants }}">{{ 'Да' if product.variants else 'Нет' }}</td>
        <td>{{ product.price|smart_int }}</td>
        <td>{{ product.stock_status }}</td>
        <td>{{ product.viewed }}</td>
        <td>{{ product.isbn }}</td>
        <td>{{ product.ean }}</td>
        <td>{{ product.jan }}</td>
      </tr>
    {% endfor %}
  </tbody>
  {% endset %}
  {{ m.table(table, products) }}

  {# Кнопки действий таблицы #}
  {% set table_btns %}
    <input type="text" class="form-control form-control-sm rounded-3 border" name="other">
    <select class="general-select" data-width="100%" data-class="border select-sm rounded-3" data-placeholder="Что делать?" name="action">
      <option></option>

      <optgroup label="Варианты товаров">
        <option value="prodvar_update">Обновить варианты</option>
      </optgroup>

      <optgroup label="Поля">
        {% for field in ['EAN', 'JAN', 'ISBN'] %}
          <option value="clean_field_{{ field|lower }}">{{ field }} заполнить из поля</option>
        {% endfor %}
      </optgroup>

      <optgroup label="Изменить статус">
        {% for status in stock_statuses %}
          <option value="{{ 'stock_status_' + status.stock_status_id|string }}">{{ status.name }}</option>
        {% endfor %}
        <option value="stock_status_price_request">Запрос цены</option>
      </optgroup>

      <optgroup label="Удалить">
        {% set delete = {'С редиректом на категорию': 'redirect_to_category',
                         'С редиректом из поля': 'redirect_to',
                         'Без редиректа': 'not_redirect'} %}
        {% for value in delete %}
          <option value="{{ 'delete_' + delete[value] }}">{{ value }}</option>
        {% endfor %}
      </optgroup>
    </select>

    <button class="btn btn-sm rounded-3" type="submit" data-after="update">Применить</button>
  {% endset %}

  {{ m.table_actions(btns=table_btns) }}
</form>

<script>
// Скрыть товары атрибута
function Hidden(attribute) {
  var $to_hidden = $(`.group-${attribute}`);
  $to_hidden.each(function () {
    var element = $(this);
    if (element.hasClass('visually-hidden')) element.removeClass("visually-hidden");
    else element.addClass("visually-hidden");
  });
}
</script>
{% endblock %}
