{% extends "modal_base.html" %}
{% set modal_fullscreen = False %}
{% set modal_title = gettext('Изменить пароль') %}

{% block content %}
<form data-url="{{ url_for('.change_password') }}">
  <div class="row g-2">


    <div class="col-12">
      <div class="mb-3">
        <label class="form-label h7">{% trans %}Старый пароль{% endtrans %}</label>
        <input type="password" class="form-control rounded-3" name="old_pass">
      </div>
    </div>

    <div class="col-12">
      <div class="mb-1">
        <label class="form-label h7">{% trans %}Новый пароль{% endtrans %}</label>
        <input type="password" class="form-control rounded-3" name="new_pass">
      </div>
    </div>

    <div class="col-12">
      <div class="mb-3">
        <label class="form-label h7">{% trans %}Подтверждение{% endtrans %}</label>
        <input type="password" class="form-control rounded-3" name="new_pass2">
      </div>
    </div>

  </div>
  <button class="btn btn-primary rounded-3 w-100" type="submit">{{ modal_title }}</button>
</form>
{% endblock %}
