{% extends "base.html" %}
{% block title %}  {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block link %}
{% endblock %}
{% block content %}

<!-- Container fluid -->
<div class="bg-primary pt-10 pb-21"></div>
<div class="container-fluid mt-n22 px-6">

  {% include 'options/option_header.html' %}

  <!-- row  -->
  <div class="row mt-6 mb-6">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="card h-100">

        <!-- card header  -->
        <div class="card-header bg-white py-4">
          <h4 class="mb-0">Варианты опции
            <a class="small_text to-hidden-change" href="#" onclick="changeOptions('show')">Редактировать</a>
          </h4>
        </div>
        <!-- table  -->
        <form class="" id ="OptionValues"  method="post" action="">
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead class="table-light">
                <tr>
                  <th scope="col"><!-- <input class="form-check-input" type="checkbox"> --></th>
                  <th>Название</th>
                  <th>Цена</th>
                  <th scope="col">Связи</th>
                </tr>
              </thead>
              <tbody id="tabOptionValues">
                {% set value_count = namespace(counter=false) %}
                {% set value_count.counter = 0 %}

                {% for value in option.values|sort(attribute='sort_order') %}
                  <tr>
                    <td class="text-average col-1">
                      {% set value_count.counter = value_count.counter + 1 %}
                      <input class="form-check-input to-check" type="checkbox"
                             name="{{ 'value-' + value_count.counter|string }}" value="{{ value.option_value_id }}">
                      <input type="hidden" value="{{ value.option_value_id }}" name="{{ 'value-id-' + value_count.counter|string }}">
                      <input type="number" class="form-control form-control-sm rounded-3 to-show visually-hidden" value="{{ value.sort_order }}" name="{{ 'sort-order-' + value_count.counter|string }}" required>
                    </td>
                    <td class="text-average col-3">
                      <span class="to-hidden">
                        <a class="link-secondary" href="{{ url_for('option_value_products', option_id=option_id, value_id=value.option_value_id) }}">
                          {{ value.description.name }}
                        </a>
                      </span>
                      <input type="text" class="form-control form-control-sm rounded-3 to-show visually-hidden" value="{{ value.description.name }}" name="{{ 'name-' + value_count.counter|string }}" required>
                    </td>
                    <td class="col-1">
                      {% set price = value.settings.price if value.settings.price else 0 %}
                      <span class="to-hidden">{{ price|int if price|int == price else price }}</span>
                      <input type="number" class="form-control form-control-sm rounded-3 to-show visually-hidden" value="{{ price|int if price|int == price else price }}" name="{{ 'price-' + value_count.counter|string }}">
                    </td>
                    <td class="text-average col-1">
                      {{ count_list.get(value.option_value_id) if count_list.get(value.option_value_id) }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <input type="hidden" name="values-count" value="{{ value_count.counter }}">
            <div class="m-3 d-grid gap-2 d-flex justify-content-end hidden-btns-action visually-hidden">
              <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal"
                data-bs-target="#deleteModal" onclick="fAction('auto_compare', 'Привязать товары?')">Авто привязка товаров</button>
              <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal"
                data-bs-target="#deleteModal" onclick="fAction('clean_options', 'Отвязать товары?')">Отвязать товары</button>
              <button class="btn btn-sm btn-danger" type="button" data-bs-toggle="modal"
                data-bs-target="#deleteModal" onclick="fAction('delete', 'Удалить значения опции?')">Удалить</button>
              <button class="btn btn-sm btn-secondary" type="button" onclick="showButtons('action', false)">Отмена</button>
            </div>
            <div class="m-3 d-grid gap-2 d-flex justify-content-end hidden-btns-change visually-hidden">
              <button class="btn btn-sm btn-primary" type="submit">Сохранить</button>
              <button class="btn btn-sm btn-secondary" type="button" onclick="changeOptions('cancel')">Отмена</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- row  -->
  {% if other_prices %}
    <div class="row mt-6 mb-6">
      <!-- card discount products -->
      <div class="col-xl-8 col-lg-12 col-md-12 col-12">
        <div class="card h-100">
          <!-- card header  -->
          <div class="card-header bg-white py-4">
            <h4 class="mb-0">Цена отличается </h4>
          </div>
          <!-- table  -->
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead class="table-light">
                <tr>
                  <th>Название</th>
                  <th>Цена</th>
                </tr>
              </thead>
              <tbody>
                {% for product in other_prices %}
                  <tr>
                    <td class="align-middle">
                      <div class="d-flex align-items-center">
                        <div class="lh-1">
                          <h5 class=" mb-1">{{ product }}</h5>
                          <p class="mb-0">{{ other_prices[product]['name'] }}</p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">{{ other_prices[product]['price']|int }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3" id="titleModal">Вы уверенны?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button id="submitForm" type="submit" form="OptionValues" class="w-100 mb-2 btn rounded-3 btn-danger"><strong>Да</strong></button>
      </div>
    </div>
  </div>
</div>

<script>

// Клик по чекбоксам
document.addEventListener("click", function(e) {
  if (e.target.classList.contains('to-check')) {
  if (e.target.checked === true){
    showButtons('action', true);
    hiddenLinks('show');
    };
  }
});

function showButtons(btn_class, status) {
  var Buttons = document.querySelector(`${'.hidden-btns-' + btn_class}`);

  if (status === true) {Buttons.classList.remove("visually-hidden");}
  else if (status === false) {
    Buttons.classList.add("visually-hidden");
    var toCheck = document.querySelectorAll('.to-check');
    toCheck.forEach(element => {
      element.checked = false;
    });
    hiddenLinks('cancel');
  }
}

// Замена formaction
const url = "{{ url_for('options_action', option_id=option.option_id) }}"
function fAction(action, title="None") {
var x = document.getElementById("OptionValues").action;
  x = `${url + "/" + action}`
  document.getElementById("OptionValues").action = x
  document.getElementById("titleModal").textContent = `${title}`
}

// Редактирование значений
function changeOptions(btn) {
    var toShow = document.querySelectorAll(".to-show");
    toShow.forEach(element => {
      if (btn === 'show') {element.classList.remove("visually-hidden");}
      else if (btn === 'cancel') {element.classList.add("visually-hidden");}
    });

    var toHidden = document.querySelectorAll(".to-hidden");
    toHidden.forEach(element => {
      if (btn === 'show') {element.classList.add("visually-hidden");}
      else if (btn === 'cancel') {element.classList.remove("visually-hidden");}
    });

    var toHiddenChack = document.querySelectorAll(".form-check-input");
    toHiddenChack.forEach(element => {
      if (btn === 'show') {element.classList.add("visually-hidden");}
      else if (btn === 'cancel') {element.classList.remove("visually-hidden");}
    });
    
    if (btn === 'show') {showButtons('change', true);}
    else if (btn === 'cancel') {showButtons('change', false);}

    hiddenLinks(btn)

    document.getElementById('OptionValues').setAttribute("action", 'change')
}
// Hidden links
function hiddenLinks(btn) {
  var Link = document.querySelector('.to-hidden-change');
  if (btn === 'show') {Link.classList.add("visually-hidden");}
  else if (btn === 'cancel') {Link.classList.remove("visually-hidden");}
}
</script>
{% endblock %}
