{% if not request.args.get('only_content') %}
  {% extends "modal_base.html" %}
  {% set modal_fullscreen = True %}
{% endif %}

{% block content %}

<form id="DealInfo" data-url="{{ url_for('.deal_info', deal_id=deal.deal_id if deal.deal_id else None) }}">
  <div class="container-fluid px-6 d-grid gap-3 mt-3 pb-80">
    {% include 'deal/deal/header.html' %}

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-detail" role="tabpanel" aria-labelledby="pills-detail-tab" tabindex="0">
            <div class="row">
              <div class="col-xl-4 col-lg-12 col-md-12 col-12 d-grid gap-3">
                {% include 'deal/deal/details.html' %}
              </div>
              <div class="col-xl-8 col-lg-12 col-md-12 col-12 d-grid gap-3">
                {% include 'deal/deal/actions.html' %}
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab" tabindex="0">
            <div class="col-12 d-grid gap-3">{% include 'deal/deal/products.html' %}</div>
          </div>

          <div class="tab-pane fade" id="pills-consumables" role="tabpanel" aria-labelledby="pills-consumables-tab" tabindex="0">
            <div class="col-12 d-grid gap-3">{% include 'deal/deal/consumables.html' %}</div>
          </div>

          <div class="tab-pane fade" id="pills-expenses" role="tabpanel" aria-labelledby="pills-expenses-tab" tabindex="0">
            <div class="col-12 d-grid gap-3">{% include 'deal/deal/expenses.html' %}</div>
          </div>

          <div class="tab-pane fade" id="pills-analytics" role="tabpanel" aria-labelledby="pills-analytics-tab" tabindex="0">
            <div class="col-12 d-grid gap-3">{% include 'deal/deal/analytics.html' %}</div>
          </div>

        </div>
      </div>
    </div>
    {#}
  </div>
    {#}

  <div class="sticky-bottom-box">
    <div class="sticky-bottom actions bg-white py-2">
      <button type="button" class="btn btn-salato btn-to-submit" data-this-need-update="true">Сохранить</button>
      <button class="btn btn-transparent rounded-3" type="reset">Отмена</button>
    </div>
  </div>

  <input type="hidden" class="posting" name="posting" />
  <input type="hidden" class="old-stage" name="old_stage" />
</form>

{% include 'deal/deal/scripts.html' %}

{% if deal.deal_id and not deal.posted %}
<script>
  UpdateDealEmployments();

  function UpdateDealEmployments() {
    $('body').find('#DealEmployments').load("{{ url_for('.deal_employments',deal_id=deal.deal_id) }}");
  };

  $('#BookingModal').on("click", '#event_save', UpdateDealEmployments);

  $('body').on('click', '#DealEmployments', function () {
    var need_load = !$("#BookingModal").length;

    if (need_load) {
      LoadToModal('BookingModal', "{{ url_for('.deal_booking',deal_id=deal.deal_id) }}", false, false);
    } else {
      $('#BookingModal').modal('show');
    }
  });
</script>

{% endif %}

{% endblock %}

