{# Jinja2 #}
{% if deal.posted and not deal.products %}
  {% include 'nothing.html' %}
{% else %}

<link rel="stylesheet" href="{{ url_for('static', filename='select2/css/select2.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='select2/css/select2-bootstrap-5-theme.css') }}" />

<form>
  <div id="tabProducts" class="card h-100">
    <div class="table-responsive">
      <table class="table text-nowrap table">
        <thead class="">
          <tr>
            {% if not deal or not deal.posted %}
              <th scope="col">
                <input class="form-check-input check-all" type="checkbox" />
              </th>
            {% endif %}
            <th scope="col">Товар</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col">Склад</th>
            {% if not deal.posted %}
              <th scope="col">Доступно</th>
            {% endif %}
            <th scope="col">Сумма</th>
          </tr>
        </thead>
        <tbody>
          {% set var = namespace(count=0, all_sum=0) %} {% set deal_products = deal.products|to_json %}
          {% if not deal.posted and not deal_products %}
            {% set deal_products = [{'product_id': '', 'unit': 'шт'}] %}
          {% endif %}

          {% for deal_product in deal_products %}
          {% set var.count = var.count + 1 %}

          <tr class="product">
            {% if not deal.posted %}
              <td class="main-tab-checkbox">
                <input class="form-check-input to-check" type="checkbox" value="{{ deal_product.product_id }}" />
              </td>
            {% endif %}
            <td>
              <span class="line-count">{{ var.count }}.</span>

              {% if deal.posted %}
                <span>{{ deal_product.product_name }}</span>
              {% else %}
                <select class="product-select" data-placeholder="-- Выбрать товар или услугу --"
                  data-url="{{ url_for('.ajax_products') }}" data-class="bg-light">
                  <option value="{{ deal_product.product_id }}" selected data-product-type="{{ deal_product.type }}">{{ deal_product.name }}</option>
                </select>
              {% endif %}
            </td>
            <td>
              {% if deal.posted %}
                <span class="money">{{ deal_product.price|money }} ₽</span>
              {% else %}
                <div class="input-group">
                  <input type="number" step="any" class="form-control price"
                    value="{{ deal_product.price|smart_int if deal_product.price }}" placeholder="0" />
                  <span class="input-group-text">₽</span>
                </div>
              {% endif %}
            </td>
            <td>
              {% if deal.posted %}
                <span>{{ deal_product.quantity|smart_int }} {{ deal_product.unit or 'шт' }}</span>
              {% else %}
                <div class="input-group">
                  <input type="number" class="form-control quantity"
                    value="{{ deal_product.quantity|smart_int if deal_product.quantity }}" placeholder="0" />
                  <span class="input-group-text quantity">{{ deal_product.unit or 'шт' }}</span>
                </div>
              {% endif %}
            </td>
            <td>
              {% if deal.posted %}
                <span>{{ deal_product.stock_name }}</span>
              {% else %}
                <select class="stock-select" data-class="bg-light">
                  <option value="{{ deal_product.stock_id }}" selected>
                    {{ deal_product.stock_name }}
                  </option>
                </select>
              {% endif %}
            </td>

            {% if not deal.posted %}
              <td class="align-middle">
                <div>
                  <span class="available"></span>
                </div>
              </td>
            {% endif %}

            {% set var.all_sum = var.all_sum + ( deal_product.price * deal_product.quantity) if deal_product.price %}
            <td class="align-middle">
              <div class="d-flex">
                <span class="sum">{{ (deal_product.price * deal_product.quantity)|money if deal_product.price else 0 }}</span>
                <span class="">₽</span>
              </div>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

    {% if not deal.posted %}
      <div class="d-flex">
        <div class="form-actions">
          <div class="m-3 gap-2 justify-content-start">
            Отмеченно: <span class="checks-count"></span>
          </div>
          <div class="m-3 gap-2 d-flex justify-content-start">
            <button class="btn rounded-3 delete-product" type="button">Удалить</button>
          </div>
        </div>
        <div class="m-3 ms-auto gap-2">
          {% if not deal or not deal.posted %}
            <button class="btn rounded-3 btn-primary" type="button" onclick="newLine($('#tabProducts'))">Добавить строку</button>
            <button class="btn rounded-3" type="button">Отмена</button>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</form>

<div class="card h-100">
  <div class="d-flex justify-content-end align-items-center m-3">
    <table class="col-3">
      <tbody>
        <tr>
          <td>
            <span class="fs-4 fw-bolder">Общая сумма:</span>
          </td>
          <td>
            <span class="fs-4 fw-bolder all-sum">{{ var.all_sum|money }}</span>
            <span class="fs-4 fw-bolder">₽</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endif %}
