<!-- Container fluid -->
<form id="StockSettings" method="post" action="{{ url_for('.settings_update') }}">
  <div class="container-fluid px-6 d-grid gap-3 mt-3">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <!-- Page header -->
        <div>
          <div class="d-flex align-items-center">
            <div class="mb-2 mb-lg-0">
              <h3 class="mb-0">
                Основные настройки
              </h3>
            </div>
            <div class="ms-auto d-flex gap-2">
              <button class="btn rounded-3 btn-primary" type="submit">Сохранить</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <!-- nav -->
        <ul class="nav nav-lt-tab px-4" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-detail-tab" data-bs-toggle="pill" data-bs-target="#pills-detail"
              role="tab" aria-controls="pills-detail" aria-selected="true">Общие</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-consumables-tab" data-bs-toggle="pill" data-bs-target="#pills-consumables"
              role="tab" aria-controls="pills-consumables" aria-selected="false">Опции</a>
          </li>

        </ul>
      </div>
    </div>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade active show" id="pills-detail" role="tabpanel" aria-labelledby="pills-detail-tab"
        tabindex="0">
        <div class="col-12 d-grid gap-3">

          <div class="row mb-8">
            <div class="col-xl-3 col-lg-4 col-md-12 col-12">
              <div class="mb-4 mb-lg-0">
                <h4 class="mb-1">Расходные материалы</h4>
              </div>
            </div>

            <div class="col-xl-9 col-lg-8 col-md-12 col-12">
              <!-- card -->
              <div class="card">
                <!-- card body -->
                <div class="card-body">
                  <!-- col -->
                  <div>
                    <!-- border -->
                    <div class="mb-6">
                      <h4 class="mb-1">Категория расходных материалов</h4>
                    </div>

                    <!-- row -->
                    <div class="mb-3 row">
                      <div class="col-sm-6 mb-3 mb-lg-0">
                        <label for="name" class="form-label">Название категории</label>
                        <select data-width="100%" data-class="bg-light" name="consumables_category_id">
                          {% for category in categories %}
                          <option {{ 'selected' if category.get('id')|string in settings.get('consumables_category_id')
                            }} value="{{ category.get('id') }}">
                            {{ category.get('text') }}
                          </option>
                          {% endfor %}
                        </select>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

      <!-- Consumables in options -->
      <div class="tab-pane fade" id="pills-consumables" role="tabpanel" aria-labelledby="pills-consumables-tab"
        tabindex="0">
        <div class="col-12 d-grid gap-3">

          <div class="row mb-8">
            <div class="col-12">
              <!-- card -->
              <div class="card">
                <div class="table-responsive">
                  <table class="table text-nowrap">
                    <thead>
                      <tr>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id="OptionsTable">

                      {% for option in options %}
                      <tr class="table-light">
                        <td class="">
                          <span class="text-inherit">
                            {{ option.description.name }}
                          </span>
                        </td>
                      </tr>

                      {% for value in option.values|sort(attribute='sort_order') %}
                      <tr>
                        <td class="text-average">
                          <a class="text-inherit open-in-modal" href="#"
                            data-url="{{ url_for('.settings_consumables_option', value_id=value.option_value_id) }}">
                            {{ value.description.name }}
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  $('select').each(function () {
    $(this).select2({
      theme: "bootstrap-5",
      width: '100%',
      minimumResultsForSearch: 10,
      selectionCssClass: 'bg-light',
      dropdownParent: $(this).closest('.modal')
    })
  })

  // Open Modal Option
  $('#OptionsTable a').on("click", function () {
    var url = $(this).attr('data-url'),
      $modal = $('#FullScreenModal2');

    $modal.find('.modal-body').load(url);
    $modal.modal('toggle')
  })
</script>
