{% if not request.args.get('only_content') %}
  {% extends "base.html" %}
  {% block title %}Настройки{% endblock %}
{% endif %}

{% block content %}

{% include 'stock/header.html' %}
<div class="row">
  <div class="d-flex align-items-center">
    <h3 class="mb-0">Настройки</h3>
    {{ request.args.get('only_content') }}
  </div>
</div>

<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-12">
    <div class="card h-100">
      <div class="table-responsive">
        <table id="SettingsTable" class="table text-nowrap">
          <tbody>
            {% for item in menu %}
              <tr>
                <td>
                  <span class="text-inherit open-modal" data-modal-id="SettingsModal" 
                    data-url="{{ item['url'] }}">{{ item['name'] }}</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
