{% extends "base.html" %}
{% block title %}  {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block link %}
{% endblock %}
{% block content %}

<div class="container-fluid px-6 d-grid gap-3 mt-3">

  {% include 'stock/header.html' %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div>
        <div class="d-flex align-items-center">
          <div class="mb-2 mb-lg-0">
            <h3 class="mb-0">Склады</h3>
          </div>
          <div class="ms-auto d-flex gap-2">
            <a class="btn btn-primary" href="{{ url_for('stock_settings') }}">Добавить</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- row  -->
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="card h-100">

        <!-- table  -->
        <form class="" id="shops"  method="post" action="">
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead class="">
                <tr>
                  <th class="main-tab-checkbox">
                    <input class="form-check-input check-all" type="checkbox">
                  </th>
                  <th scope="col">Название</th>
                  <th scope="col">Товаров на сумму</th>
                  <th scope="col">Сортировка</th>
                </tr>
              </thead>
              <tbody>
                {% set var = namespace(count=0, sum=0) %}

                {% for stock in stocks %}
                  {% set var.sum = 0 %}
                    <tr>
                      <td class="text-average main-tab-checkbox">
                        {% set var.count = var.count + 1 %}
                        <input class="form-check-input to-check" type="checkbox" name="{{ 'stock-' + var.count|string }}" value="{{ stock.stock_id }}">
                      </td>
                      <td class=""><a href="{{ url_for('stock_settings', stock_id=stock.stock_id) }}">{{ stock.name }}</a></td>
                      <td class="">
                        {% for product in stock.products %}
                          {% set var.sum = var.sum + product.quantity * product.info.purchase_price %}
                        {% endfor %}
                        {{ var.sum|smart_int }} ₽
                      </td>
                      <td class="">{{ stock.sort }}</td>
                    </tr>
                {% endfor %}

              </tbody>
            </table>
          <input type="hidden" name="shops-count" value="{{ var.count }}">
          <div class="m-3 d-grid gap-2 d-flex justify-content-end to-show hidden-btns visually-hidden">
            <button class="btn rounded-3 btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">Удалить</button>
            <button class="btn rounded-3 btn-secondary" type="button" onclick="showButtons(false)">Отмена</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3">Вы уверенны?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button type="submit" form="shops" class="w-100 mb-2 btn rounded-3 btn-danger"><strong>Да</strong></button>
      </div>
    </div>
  </div>
</div>

<script>
</script>
{% endblock %}
