{% extends "base.html" %}
{% set page_settings = {"title": "", "modal": True, "fullscreen": True} %}
{% import 'base_macro.html' as m with context %}
{% import 'crm/macro.html' as cm with context %}

{% set details = movement.get_json('details') or {} %}
{% set products = movement.get_json('products') or [{}] %}

{% block content %}
<form id="movementInfo" class="d-flex flex-column gap-3" action="{{ url_for('.movement_info', movement_type=movement.movement_type, movement_id=movement.movement_id) }}">

  {# Блок названия и кнопок #}
  {% set heading %}
    {% if movement.movement_id %} {{ details.name }}
    {% elif movement.movement_type == 'coming' %} Добавление прихода
    {% elif movement.movement_type == 'moving' %} Новое перемещение {% endif %}
  {% endset %}
  {{ m.heading(heading, obj=movement) }}

  {# Блок меню #}
  {{ m.menu_head([{'text': 'Общие', 'key': 'details', 'class': 'active'},
                  {'text': 'Товары', 'key': 'products', 'class': ''} if products]) }}

  {# Блок вкладок меню #}
  {% set details_tab %}{% endset %}
  {% set details_tab %}
    <div class="row">
      <div class="col-xl-4 col-lg-12 col-md-12 col-12 d-flex flex-column gap-3" data-to-server="info">
        {% include 'stock/movement/details.html' %}
      </div>
      <div class="col-xl-8 col-lg-12 col-md-12 col-12 d-flex flex-column gap-3">
        {% include 'deal/deal/actions.html' %}
      </div>
    </div>
  {% endset %}
  {% set products_tab %}{% include 'stock/movement/products.html' %}{% endset %}

  {% set menu_tabs %}
    {{ m.menu_tab("details", details_tab, "show active") }}
    {{ m.menu_tab("products", products_tab, "") }}
  {% endset %}
  {{ m.menu_tabs(menu_tabs) }}

  {# Кнопки действий формы #}
  {{ m.form_actions(movement) }}

</form>
{% endblock %}
