{% extends "base.html" %}
{% set page_settings = {"title": "", "modal": True, "fullscreen": True} %}
{% import 'base_macro.html' as m with context %}

{% set details = movement.get('details', {}) %}

{% block content %}
<form id="movementInfo" class="d-grid gap-3" action="{{ url_for('.movement_info', movement_type=movement_type, movement_id=movement.movement_id) }}">

  {# Блок названия и кнопок #}
  {% set heading %}
    {% if movement.movement_id %} {{ details.name }}
    {% elif movement_type == 'coming' %} Добавление прихода
    {% elif movement_type == 'moving' %} Новое перемещение {% endif %}
  {% endset %}
  {{ m.heading(heading) }}

  <div class="row align-items-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <ul class="nav nav-lt-tab px-4" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-detail-tab" data-bs-toggle="pill" data-bs-target="#pills-detail" role="tab"
            aria-controls="pills-detail" aria-selected="false">Общие</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-product-tab" data-bs-toggle="pill" data-bs-target="#pills-product"
            role="tab" aria-controls="pills-product" aria-selected="true">Товары</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-detail" role="tabpanel" aria-labelledby="pills-detail-tab" tabindex="0">
          {% include 'stock/movement/details.html' %}
        </div>

        <div class="tab-pane fade" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab" tabindex="0">
          <div class="col-12 d-grid gap-3 mb-5">
            {% include 'stock/movement/products.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Кнопки действий формы #}
  {% set btns %}
    {% if movement.posted %}
      <button class="btn btn-outline-secondary" type="submit" data-action="unposting" data-after="update">Отменить проведение</button>
    {% elif movement.movement_id %}
      <button class="btn rounded-3 btn-outline-secondary" type="submit" data-action="posting" data-after="update">Провести документ</button>
    {% endif %}
  {% endset %}
  {{ m.form_actions(btns) }}

</form>
{% endblock %}
