<!DOCTYPE html>
<html lang="ru">

<head>
  {% include 'partials/head.html' %}
  <title>Войти</title>
</head>

<body class="bg-light">
  <!-- container -->
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
        <!-- Card -->
        <div class="card smooth-shadow-md">
          <!-- Card body -->
          <div class="card-body p-6">

            <!-- Form -->
              <form method="post" action="{{ url_for('sign_in') }}">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
              {% endwith %}
              <!-- Username -->
              <div class="mb-3">
                <label for="login" class="form-label">Логин</label>
                <input type="text" id="login" class="form-control" name="login" required>
              </div>
              <!-- Password -->
              <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" id="password" class="form-control" name="password" required>
              </div>
              <div>
                <!-- Button -->
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Войти</button>
                </div>

                <!-- <div class="d-md-flex justify-content-between mt-4"> -->
                <!--   <div class="mb-2 mb-md-0"> -->
                <!--     <a href="" class="fs-5">Регистрация</a> -->
                <!--   </div> -->
                <!---->
                <!-- </div> -->
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  @@include("../partials/scripts.html")
</body>

</html>
