{% extends "product/base.html" %}
{% set page_name = 'Сопоставление товаров' %}
{% block head_form %}
  <div>
    <form class="" id="comparison"  method="post" action="{{ url_for('.start_comparison_products') }}"></form>
  </div>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Действия
    </button>
    <ul class="dropdown-menu">
      <button class="dropdown-item" type="submit" form="comparison" name="all_products" value="True">Сопоставить все</button>
      <button class="dropdown-item" type="submit" form="Filter"
        formaction="{{ url_for('.start_comparison_products') }}">Сопоставить отфильтрованные</button>
      <button class="dropdown-item" type="submit" form="comparison"
        formaction="{{ url_for('main.del_not_confirm_products', page=request.args.get('page')) }}">Удалить неподтвержденные</button>
    </ul>
  </div>

{% endblock %}

{% block table %}
<form class="" id="Products" method="post" action="{{ url_for('.confirm_product_to_product', page=request.args.get('page')) }}">
  <table class="table text-nowrap">
    <thead>
      <tr>
        <th scope="col" class="sticky-table">Название</th>
        {% for shop in other_shops %}
          <th>
            <input id="shop-{{ shop.shop_id }}" class="form-check-input check-group" type="checkbox">
            {{ shop.name }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% set var = namespace(group_count=0, group_name='') %}

        {% for product in products %}
          {% for attribute in product.attributes if attribute.attribute_id == session.get('group_attribute')|int %}
            {% if attribute.text != var.group_name %}
              {% set var.group_count = var.group_count + 1 %}
              {% set var.group_name = attribute.text %}
              <tr>
                <td><b>{{ attribute.text }}</b></td>
                {% for shop in other_shops %}
                  <td>
                    <input id="shop-{{ shop.shop_id }}-group-{{ var.group_count }}" class="form-check-input check-group" type="checkbox">
                  </td>
                {% endfor %}
              </tr>
            {% endif %}
          {% endfor %}

          <tr>
            <td class="sticky-table my-product">
              {{ product.description.name }}  {{ product.price|int }}
              <a target="_blank" href="https://climkey.ru?product_id={{ product.product_id }}">
                <i class="icon-xxs" data-feather="external-link"></i>
              </a>
            </td>
            {% for shop in other_shops %}
              <td>
                {% if product.other_shop %}
                  {% for other_product in product.other_shop if other_product.shop_id == shop.shop_id %}

                    <input class="form-check-input to-check shop-{{ shop.shop_id }} shop-{{ shop.shop_id }}-group-{{ var.group_count }}"
                    type="checkbox" value="{{ other_product.other_product_id }}">

                    <span class="other-product {{ 'text-primary' if not other_product.link_confirmed}}">
                      {{ other_product.name }}
                    </span>

                    {{ other_product.price|int }}
                    <a target="_blank" href="{{ other_product.link }}">
                      <i class="icon-xxs" data-feather="external-link"></i>
                    </a>
                    <br>

                  {% endfor %}
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
    </tbody>
  </table>
</form>

{% endblock %}

{% block actions %}
  <!-- Actions buttons -->
  <div class="sticky-bottom actions">
    <form id="ProductsAction" class="col-12">
      <div class="bg-white h-100 d-flex gap-2 align-items-center">

        <div class="m-1  ms-5">
          <span class="">Отмеченно: </span>
          <span class="checks-count"></span>
          <a href="" class="link-secondary ms-3 decheck-all"><i data-feather="x" class="nav-icon icon-xs"></i></a>
        </div>

        <div class="vr my-3"></div>

        <div class="my-1">
          <button class="btn btn-sm rounded-3 action" type="button" data-action="bind" data-form="#Products">
            <i data-feather="check-square" class="icon-xs"></i>
            Привязать
          </button>
          <button class="btn btn-sm rounded-3 action" type="button" data-action="unbind" data-form="#Products">
            <i data-feather="minus-square" class="icon-xs"></i>
            Отвязать
          </button>

        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block page_scripts %}
<script>
// Выделяем совпадения названий
var all_tr = document.querySelectorAll(".table tbody tr");
    all_tr.forEach(function(tr) {
      var my_name = tr.querySelector('.my-product')
      tr.querySelectorAll('.other-product').forEach(function(other_name) {

        var new_name = "";
      
        for (let i = 0; i < other_name.textContent.length; i++) {
          if (other_name.textContent[i] !== ""){
            var in_name = "";

            for (let j = 0; j < my_name.textContent.length; j++) {
              if (other_name.textContent[i] === my_name.textContent[j]){
                in_name = true;
                break;
              }
            }

            if (in_name === true)
              new_name = new_name+other_name.textContent[i];
            else
              new_name = new_name+`<span class="text-danger fw-bold">`+other_name.textContent[i]+"</span>";
          }
        }
        other_name.innerHTML = new_name;
      });
    });
</script>

{% endblock %}
