{% extends "base.html" %}
{% block title %}  {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<!-- Container fluid -->
<div class="container-fluid p-6">
  <form id="" method="post"
              action="{{ url_for('products_prices_settings_apply') }}">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">

        <!-- Page header -->
        <div class="border-bottom pb-4 mb-4">              
          <div class="d-flex align-items-center">
            <div class="mb-2 mb-lg-0">
              <h3 class="mb-0">
                <a href="">Цены товаров
                  </a> | Настройки
                </h3>             
              </h3>
            </div>
            <div class="ms-auto d-flex gap-2">
              <div class=" col-md-8 col-12 mt-4">
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row mb-8">
      <div class="col-xl-3 col-lg-4 col-md-12 col-12">
        <div class="mb-4 mb-lg-0">
          <h4 class="mb-1">Настройки</h4>
          <p class="mb-0 fs-5 text-muted">Настройки категории </p>
        </div>
      </div>

      <div class="col-xl-9 col-lg-8 col-md-12 col-12">
        <!-- card -->
        <div class="card">
          <!-- card body -->
          <div class="card-body">
            <!-- col -->
            <div>
              <!-- border -->
              <div class="mb-6">
                <h4 class="mb-1">Основная информация</h4>
              </div>
            
              <!-- row -->
              <div class="mb-3 row">
                
                <div class="col-sm-3">
                  <label for="url" class="form-label">
                    Акция для специальных цен
                  </label>
                  <select class="" name="special_offer_id" data-class="bg-light">
                    <option></option>
                    {% for special_offer in special_offers %}
                    {% set id = special_offer.special_offer_id %}
                      <option {{ 'selected' if id|string == settings.get('special_offer_id') }}
                        value="{{ id }}">
                        {{ special_offer.description.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <!-- row -->
              <div class="mb-3 row">
                
                <div class="col-sm-3">
                  <label for="options_ids" class="form-label h7">Опции с установкой</label>
                  <select data-width="100%" multiple data-class="bg-light" id="options_ids" name="options_ids">

                    {% for option in options %}
                      {% set id = option.option_id %}
                      <option {{ 'selected' if settings.get('options_ids') and id|string in settings.get('options_ids') }} value="{{ id }}">{{ option.description.name }}
                      </option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-sm-3 mb-3 mb-lg-0">
                  <label class="form-label">Текст стикера (price-переменная)</label>
                  <input type="text" class="form-control"
                      name="stiker_text" value="{{ settings.get('stiker_text') if settings.get('stiker_text') }}">
                </div>

                <div class="col-sm-3 mb-3 mb-lg-0">
                  <label class="form-label">Допустимое отклонение цены (%)</label>
                  <input type="number" class="form-control"
                      name="price_delta" value="{{ settings.get('price_delta') if settings.get('price_delta') }}">
                </div>

              </div>

            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


<script>
  $('select').each(function () {
    $(this).select2({
      theme: "bootstrap-5",
      width: $(this).attr('data-width'),
      minimumResultsForSearch: 10,
      dropdownAutoWidth: true,
      selectionCssClass: $(this).attr('data-class')
    })
  })
</script>

{% endblock %}
