{% extends "product/base.html" %}
{% set page_name = 'Цены' %}
{% block head_form %}
  <a class="btn btn-primary" href="{{ url_for('.products_prices_settings') }}">Настройки</a>
{% endblock %}

{% block table %}
<form class="" id="Products" method="post" action="{{ url_for('.products_prices_action', page=request.args.get('page')) }}">
  <table class="table text-nowrap">
    <thead>
      <tr>
        <th scope="col" class="sticky-table">Название</th>
        <th scope="col">Цена</th>
        {% for shop in other_shops %}
          <th>
            <input id="shop-{{ shop.shop_id }}" class="form-check-input check-group" type="checkbox">
            {{ shop.name }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% set var = namespace(group_count=0, group_name='') %}

      {% for product in products %}
        {% for attribute in product.attributes if attribute.attribute_id == session.get('group_attribute')|int %}
          {% if attribute.text != var.group_name %}
            {% set var.group_count = var.group_count + 1 %}
            {% set var.group_name = attribute.text %}
            <tr>
              <td><b>{{ attribute.text }}</b></td>
              <td></td>
              {% for shop in other_shops %}
                <td>
                  <input id="shop-{{ shop.shop_id }}-group-{{ var.group_count }}" class="form-check-input check-group" type="checkbox">
                </td>
              {% endfor %}
            </tr>
          {% endif %}
        {% endfor %}

        <tr>
          <td class="sticky-table">{{ product.description.name }}</td>
          <td>
            {% if product.special_offers %}
              {% set special_price = (product.special_offers|sort(attribute='price'))[0].price %}
              {{ special_price|smart_int }}
              <del>{{ product.price|smart_int }}</del>
            {% else %}
              {{ product.price|smart_int }}
            {% endif %}
          </td>

          {% for shop in other_shops %}
            <td>
              {% if product.other_shop %}
                {% for other_product in product.other_shop %}
                  {% if other_product.shop_id == shop.shop_id %}
                    {% if other_product.link_confirmed %}
                      {% if special_price and other_product.price|int == special_price|int %}
                        <span class="text-success">{{ other_product.price }}</span>
                      {% elif not special_price and other_product.price|int == product.price|int %}
                        <span class="text-success">{{ other_product.price }}</span>
                      {% else %}
                        <input class="form-check-input to-check shop-{{ shop.shop_id }} shop-{{ shop.shop_id }}-group-{{ var.group_count }}" type="radio"
                        value="{{ product.product_id }}-{{ other_product.price }}">
                        <span class="text-danger">{{ other_product.price }}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
{% endblock %}

{% block actions %}
  <!-- Actions buttons -->
  <div class="sticky-bottom actions">
    <form id="ProductsAction" class="col-12">
      <div class="bg-white h-100 d-flex gap-2 align-items-center">

        <div class="m-1  ms-5">
          <span class="">Отмеченно: </span>
          <span class="checks-count"></span>
          <a href="" class="link-secondary ms-3 decheck-all"><i data-feather="x" class="nav-icon icon-xs"></i></a>
        </div>

        <div class="vr my-3"></div>

        <div class="my-1 ms-3 d-flex gap-2 align-items-center">
          <div class="col-12">
            <select class="other-select" data-width="100%" data-class="border select-sm" data-placeholder="Что делать?" name="action">
              <option></option>

              <optgroup label="Авто-подбор цен">
                <option value="all_products_normal_price">Все товары, обычная цена</option>
                <option value="all_products_special_price">Все товары, спец цена</option>
                <option value="this_products_normal_price">Выбранные товары, обычная цена</option>
                <option value="this_products_special_price">Выбранные товары, спец цена</option>
              </optgroup>

              <optgroup label="Применить выбранные цены">
                <option value="manual_normal_price">Обычная цена</option>
                <option value="manual_special_price">Спец цена</option>
              </optgroup>

            </select>
          </div>
          <button class="btn btn-sm rounded-3 action" type="button" data-form="#Products" data-form-info="#ProductsAction">Применить</button>

        </div>

      </div>
    </div>
  </div>
{% endblock %}
