{% extends "base.html" %}
{% set page_settings = {"title": "", "modal": True, "fullscreen": True} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
<form id="ConsumablesOption" class="d-grid gap-3" action="{{ url_for('.consumables_in_option', value_id=value.option_value_id) }}">

  {# Блок названия и кнопок #}
  {{ m.heading(value.name if value else 'Новое значение опции') }}

  {# Блок таблицы #}
  {% set table %}
    <thead>
      <tr>
        <th class="checkbox"><input class="form-check-input check-all" type="checkbox"></th>
        <th>Товар</th>
        <th class="col-1">Количество</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for product in consumables or [{}] %}
        <tr class="product">
          <td class="checkbox">
            <input class="form-check-input to-check" type="checkbox" name="" value="" />
          </td>
          <td class="col-4">
            <span class="line-count">{{ loop.index }}.</span>

            <select class="product-select" data-placeholder="-- Выбрать товар --"
              data-url="{{ url_for('crm.deal.ajax_consumables') }}" data-class="bg-light"
              data-width="300px" name="id" data-required="true">
              <option selected value="{{ product.id }}">{{ product.name }}</option>
            </select>
            <input type="hidden" value="{{ product.name }}" name="name">
            <input type="hidden" value="{{ product.unit }}" name="unit">

          </td>
          <td class="col-2">
            <div class="input-group">
              <input type="number" step="any" class="form-control" name="quantity"
                value="{{ product.quantity|smart_int or "" }}" placeholder="0" data-new-line-value="">
              <span class="input-group-text quantity" data-new-line-text="шт">{{ product.unit or 'шт'}}</span>
            </div>
          </td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  {% endset %}

  {% set table_btns %}
    <button class="btn rounded-3 btn-primary create-new-line" type="button">Добавить строку</button>
    <button class="btn rounded-3 btn-outline-secondary" type="button" data-modal-id="SelectProductsModal"
      data-url="{{ url_for('.set_products_page') }}">Выбрать товары</button>
  {% endset %}
  {{ m.table(table, btns=table_btns) }}

  {# Кнопки действий формы #}
  {{ m.form_actions() }}

</form>
{% endblock %}
