{% extends "base.html" %}
{% set page_settings = {"title": "Настройки", "modal": False, "fullscreen": False} %}
{% import 'base_macro.html' as m with context %}

{% block content %}
{% include 'stock/header.html' %}
<form id="Stocks" class="d-grid gap-3" action="{{ url_for('.stocks_action') }}">

  {# Блок названия и кнопок #}
  {{ m.heading("Настройки", heading_btns) }}

  {# Блок таблицы #}
  {% set table %}
    <tbody>
      {% for name, url in menu.items() %}
        <tr>
          <td>
            <span class="text-inherit" data-modal-id="SettingsModal" data-url="{{ url }}">{{ name }}</span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  {% endset %}
  {{ m.table(table) }}

</form>
{% endblock %}
