{# Jinja2 #}
<div class="col-xl-12 col-lg-12 col-md-12 col-12">
  <div class="card h-100">

    <div class="card-body">
      <div id="Filter" method="post" class="update-after-change" data-to-server="filter" action="{{ filter_link or request.full_path }}">

        <div class="row g-2">

          <div class="col-md-2">
            <label class="form-label h7">Категория</label>
            <select class="general-select show-count-selected" multiple name="categories_ids"
              data-url="{{ url_for('main.get_list_all_categories') }}" data-placeholder="Все" data-width="100%">
              {% for id in session.get('categories_ids', []) %}
                <option selected value="{{ id }}">{{ id }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-2">
            <label class="form-label h7">Производитель</label>
            <select class="general-select show-count-selected"
              data-url="{{ url_for('main.get_list_all_manufacturers') }}" data-placeholder="Все" multiple
              name="manufacturers_ids" data-width="100%">
              {% for id in session.get('manufacturers_ids', []) %}
                <option selected value="{{ id }}">{{ id }}</option>
              {% endfor %}
            </select>
          </div>

          {% set stock = session.get('stock') %}
          <div class="col-md-2">
            <label class="form-label h7">Наличие</label>
            <select class="general-select" name="stock" data-width="100%">
              <option value="">Все</option>
              <option {{ 'selected' if stock=='in stock' }} value="in stock">В наличии</option>
              <option {{ 'selected' if stock=='not not in stock' }} value="not not in stock">Все, кроме нет в наличии</option>
              <option {{ 'selected' if stock=='on order' }} value="on order">Под заказ</option>
              <option {{ 'selected' if stock=='price request' }} value="price request">Запрос цены</option>
              <option {{ 'selected' if stock=='not in stock' }} value="not in stock">Нет в наличии</option>
            </select>
          </div>

          {% set active_field = session.get('field') %}
          <div class="col-md-2">
            <label class="form-label h7">Поле</label>
            <select class="general-select" name="field" data-width="100%">
              <option value="">Все</option>
              {% for field in ['EAN', 'JAN', 'ISBN'] %}
                <option {{ 'selected' if field|lower==active_field }} value="{{ field|lower }}">{{ field }}</option>
              {% endfor %}
            </select>
          </div>

          {% if request.path == url_for('site.product.products', path='prices') %}
          {% set other_filter = session.get('prices_other_filter') %}
          <div class="col-md-2">
            <label class="form-label h7">Цена</label>
            <select class="general-select" name="other_filter" data-width="100%">
              <option {{ 'selected' if not other_filter }} value="">Все</option>
              <option {{ 'selected' if other_filter=='different_price' }} value="different_price">Цена отличается</option>
            </select>
          </div>
          {% endif %}

          {% if request.path == url_for('site.product.products', path='comparison') %}
          {% set other_filter = session.get('comparison_other_filter') %}
          <div class="col-md-2">
            <label class="form-label h7">Сопоставление</label>
            <select class="general-select" name="other_filter" data-width="100%">
              <option value="">Все</option>
              <option {{ 'selected' if other_filter=='not_confirmed' }} value="not_confirmed">Не подтвержденные</option>
              <option {{ 'selected' if other_filter=='not_matched' }} value="not_matched">Не сопоставленные</option>
            </select>
          </div>
          {% endif %}

          {% set group_attribute = session.get('group_attribute', 0)|int %}
          <div class="col-md-2">
            <label class="form-label h7">Группировка</label>
            <select class="general-select"
              data-url="{{ url_for('main.get_list_all_attributes') }}" name="group_attribute" data-width="100%">
              <option>Нет</option>
              {% if group_attribute %}
                <option selected value="{{ group_attribute }}">Есть</option>
              {% endif %}
            </select>
          </div>

          {% set new_products = session.get('new_products') %}
          <div class="col-md-2">
            <label class="form-label h7">Новые товары</label>
            <select class="general-select" name="new_products" data-width="100%">
              <option value="">Нет</option>
              <option {{ 'selected' if new_products }} value="yes">Да</option>
            </select>
          </div>

          {% set sort = session.get('sort') %}
          <div class="col-md-2">
            <label class="form-label h7">Сортировка</label>
            <select class="general-select" name="sort" data-width="100%">
              <option value="">Нет</option>
              <option {{ 'selected' if sort == 'date_updated_price/desc' }} value="date_updated_price/desc">По изменению цены (от раннего)</option>
              <option {{ 'selected' if sort == 'date_updated_price/asc' }} value="date_updated_price/asc">По изменению цены (от позднего)</option>
              <option {{ 'selected' if sort == 'viewed/desc' }} value="viewed/desc">По просмотрам (от большего)</option>
              <option {{ 'selected' if sort == 'viewed/asc' }} value="viewed/asc">По просмотрам (от малого)</option>
            </select>
          </div>

          <div class="col-md-1 d-flex align-items-end">
            <button id="resetFilter" class="btn btn-primary" type="button">Сбросить</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#resetFilter').on('click', function () {
    $('#Filter select').each(function () {
      $(this).val('').trigger('change');
    });
  })
</script>
