<div class="modal-dialog {{ 'modal-fullscreen' if modal_fullscreen else 'modal-dialog-centered' }}" role="document">
  <div class="modal-content bg-light">
    {% if modal_fullscreen %}
    <div class="modal-close-label">
      <span class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
    </div>
    {% else %}
    <div class="modal-header">
      <h1 class="modal-title fs-3">{{ modal_title }}</h1>
      <span class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
    </div>
    {% endif %}
    <div class="modal-body {{ 'd-flex flex-column p-5 pb-80' if modal_fullscreen }}">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
