{# Jinja2 #}
<nav class="navbar-vertical navbar">
  <div class="nav-scroller">
    <!-- Logo -->
    <a class="navbar-brand" href="">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="" />
    </a>

    <ul class="navbar-nav flex-column" id="sideNavbar">
      <li class="nav-item">
        <a class="nav-link has-arrow {{ 'collapsed' if '/site/' in request.path }}" href="#!" data-bs-toggle="collapse"
          data-bs-target="#navPages" aria-expanded="false" aria-controls="navPages">
          <i data-feather="layout" class="nav-icon icon-xs me-2"></i>
          Сайт
        </a>

        <div id="navPages" class="collapse {{ 'show' if '/site/' in request.path }}" data-bs-parent="#sideNavbar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link has-arrow {{ 'active' if request.blueprint == 'site.option' }}"
                href="{{ url_for('site.option.options') }}">
                Опции
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link has-arrow {{ 'active' if url_for('site.category.categories') == request.path }}"
                href="{{ url_for('site.category.categories') }}">
                Категории
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link {{ 'active' if request.blueprint == 'site.other_shops' }}"
                href="{{ url_for('site.other_shops.shops') }}">
                Другие магазины
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse"
                data-bs-target="#navMenuLevelSecond" aria-expanded="false" aria-controls="navMenuLevelSecond">
                Товары
              </a>
              <div id="navMenuLevelSecond" class="collapse {{ 'show' if url_for('site.product.products') in request.path }}"
                data-bs-parent="#navMenuLevel">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.full_path == url_for('site.product.products', path='products') }}"
                      href="{{ url_for('site.product.products', path='products') }}">
                      Товары
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.full_path == url_for('site.product.products', path='comparison') }}"
                      href="{{ url_for('site.product.products', path='comparison') }}">
                      Сопоставление
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.full_path == url_for('site.product.products', path='prices') }}"
                      href="{{ url_for('site.product.products', path='prices') }}">
                      Цены
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link {{ 'active' if request.path == url_for('main.work_plan') }}"
                href="{{ url_for('main.work_plan') }}">
                План работ
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link {{ 'active' if url_for('site.report.viewed_products') in request.path }}"
                href="{{ url_for('site.report.viewed_products') }}">Просмотренные</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link has-arrow {{ 'collapsed' if request.blueprint != 'crm' }}" href="#!"
          data-bs-toggle="collapse" data-bs-target="#navCrm" aria-expanded="false" aria-controls="navCrm">
          <i data-feather="clipboard" class="nav-icon icon-xs me-2"></i>
          Crm
        </a>

        <div id="navCrm" class="collapse {{ 'show' if 'crm' in request.blueprint }}" data-bs-parent="#sideNavbar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link {{ 'active' if request.blueprint == 'crm.deal' }}"
                href="{{ url_for('crm.deal.deals', view=session.get('crm_view')) }}">
                Сделки
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link {{ 'active' if request.blueprint == 'crm.contact' }}"
                href="{{ url_for('crm.contact.contacts') }}">
                Контакты
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link {{ 'active' if request.blueprint == 'crm.worker' }}"
                href="{{ url_for('crm.worker.workers_list') }}">
                Работники
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link {{ 'active' if request.blueprint == 'crm.stock' }}" href="{{ url_for('crm.stock.products') }}">
                Склад
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
