{% extends "base.html" %}
{% block title %}  {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<!-- Container fluid -->
<div class="container-fluid px-6 d-grid gap-3 mt-3">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div>
        <div class="d-flex align-items-center">
          <div class="mb-2 mb-lg-0">
            <h3 class="mb-0">План работ</h3>
          </div>
          <div class="ms-auto d-flex gap-2">
            <button class="btn btn-primary action" type="button" data-form="#Manufs" data-action="save">Сохранить</button>
            <button class="btn btn-danger action" type="button" data-form="#Manufs" data-action="clean">Очистить</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filter -->
  <div class="col-xl-12 col-lg-12 col-md-12 col-12">
    <div class="card h-100">

      <div class="card-body">
        <form id="Filter" class="update-after-change" method="post" action="{{ url_for('work_plan') }}">
          <div class="row g-2">

            <div class="col-md-2">
              <label for="category_id" class="form-label h7">Категория</label>
              <select class="ajax-select" data-width="100%" id="category_id" name="category_id"
                data-url="{{ url_for('get_list_all_categories') }}" data-class="bg-light" data-placeholder="Все">
                <option selected value="{{ category.category_id }}">{{ category.description.name }}</option>
              </select>
            </div>

            <div class="col-md-2">
              <label class="form-label h7">Производители</label>
              <select class="general-select show-count-selected" data-width="100%"
                 data-placeholder="Все" multiple name="manufacturers_ids" data-class="bg-light">
                {% for manufacturer in manufacturers %}
                  <option value="{{ manufacturer.manufacturer_id }}" {{ 'selected' if manufacturer.manufacturer_id|string in manufacturers_ids }}>{{ manufacturer.name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-md-1 d-flex align-items-end">
              <button id="resetFilter" class="btn btn-primary" type="button">Сбросить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- row  -->
  <div class="row mt-6 mb-6">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="card h-100">

        <form id="Manufs"  method="post" action="{{ url_for('work_plan_update', category_id=category.category_id) }}">
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead>
                <tr>
                  <th scope="col">Название</th>
                  {% for field in fields %}
                    <th>{{ field['name'] }}</td>
                  {% endfor %}
                  <th class="align-middle text-end">
	                  <div class="dropdown dropstart">
	                    <a class="text-muted text-primary-hover" href="#" role="button" id="dropdownAction" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i data-feather="more-vertical" class="icon-xxs" ></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownAction">
                        <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#FieldsSettings">Поля</a>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>

                {% for manufacturer in manufacturers if not manufacturers_ids or manufacturer.manufacturer_id|string in manufacturers_ids %}
                  <tr>
                    <td class="">{{ manufacturer.name }}</td>

                    {% for field in fields %}
                      <td>
                        <input class="form-check-input to-check" type="checkbox"
                                                                 value="{{ manufacturer.manufacturer_id }}--{{ field['id'] }}"
                          {{ 'checked' if work_plan.get(manufacturer.manufacturer_id|string) and field['id']|string in work_plan[manufacturer.manufacturer_id|string] }}>
                      </td>
                    {% endfor %}
                    <td></td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Fields -->
<div class="modal fade" id="FieldsSettings" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Поля</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body justify-content-center">
        <form id="Fields" method="post" action="{{ url_for('work_plan_fields') }}" class="mb-3">
          {% for field in fields %}
          <div class="col-12 d-flex mb-2">
            <div class="col-11">
              <input class="form-control" data-id="{{ field['id'] }}" value="{{ field['name'] }}">
            </div>
            <span class="d-flex col-1 justify-content-center align-items-center delete-field">
              <i data-feather="x" class="nav-icon"></i>
            </span>
          </div>
          {% endfor %}
          {% if not fields %}
            <input class="form-control mb-2">
          {% endif %}
        </form>
        <a href="#">Добавить</a>
        <div class="d-flex mt-5">
          <button class="btn btn-primary rounded-3 submit" type="button" form="Fields">Сохранить</button>
          <button class="btn rounded-3" type="button" data-bs-dismiss="modal" aria-label="Close">Отменить</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#FieldsSettings a').on('click', function () {
    var $form = $('#Fields'),
      content = '<input type="text" class="form-control mb-2">';
    $form.append(content);
  });

  $('#FieldsSettings .submit').on('click', function () {
    var $form = $('#Fields'),
      fields = [];

    $form.find('input').each(function () {
      var item = {
        id: +$(this).attr('data-id'),
        name: $(this).val()
      }
      fields.push(item);
    });

    $.ajax({
      type: "POST",
      url: $form.attr('action'),
      data: JSON.stringify(fields),
      contentType: 'application/json; charset=utf-8',
      success: setTimeout("location.reload()", 1000)
    })
  });

  $('#FieldsSettings .delete-field').on('click', function () {
    var $input = $(this).parent().find('input');
    $input.val('Удалить').prop('disabled', true)
    $(this).remove();
  });

  $('#resetFilter').on('click', function () {
    $('#Filter select').each(function () {
      $(this).val('').trigger('change');
    });
  })
</script>
{% endblock %}
